{{ define "main" }}
<div class="posts post">
    <h2 class="post-title">{{ .Title }}</h2>
    <div class="post-meta">
        <span class="about-meta">
            <span class="iconify-inline" data-icon="charm:circle-warning"></span>
            <span class="space meta__space">更新时间：2021.07.21</span>
        </span>
    </div>

    <div class="post-content">
        <blockquote>
            <p>
                『
                <a href="https://en.wikipedia.org/wiki/Louis_Pasteur#Career">机会总是垂青于有准备的人！</a>』 - <em>Louis Pasteur</em>
            </p>
        </blockquote>
        <ul>
            <li>双子，B 型血，断掌，属虎。</li>
            <li>已婚。</li>
            <li>不高不矮，不胖不瘦。</li>
            <li>先天性乐观。</li>
            <li>随意但不随便。</li>
            <li>小众而不小资。</li>
            <li>亦正亦邪。</li>
            <li>不是个好人但从来不做坏事。</li>
        </ul>
        <h3 id="声明">声明</h3>
        <p>
            本人只活跃在<a href="https://github.com/eallion"><code>GitHub</code></a>、<a href="https://steamcommunity.com/id/eallion"><code>Steam</code></a>、<a href="https://stackoverflow.com/users/story/11409594"><code>StackOverflow</code></a>上，其他同名账号绝非本人所有。
        </p>
        <p>本博客现在随缘更新，佛性写博。</p>
        <p>
            自从简体中文网络环境越来越差，本博客已累计删除 4000
            多篇废话和流水账。
            现在本博客基本上不会写时事，不会写政治，不蹭热点，不玩梗，不会发表犀利刻薄的评论。只会偶尔更新一些备忘录或小心得或无关紧要的随想。
        </p>
        <p>以为刚开始，实际已结束。怀念过去的黄金时代。</p>
        <p>
            不过多年以后，无论是现实还是网上的朋友，只要你来，只要没人逼我离开，我就还在这里。
        </p>
        <h3 id="版权信息">版权信息</h3>
        <ul>
            <li>
                <a href="https://eallion.com/copyright/">https://eallion.com/copyright/</a>
            </li>
        </ul>
        <h3 id="隐私政策">隐私政策</h3>
        <ul>
            <li>
                <a href="https://eallion.com/privacy-policy/">https://eallion.com/privacy-policy/</a>
            </li>
        </ul>
        <h3 id="联系方式">联系方式</h3>
        <ul>
            <li>唯一公开邮箱：<code>eallions@gmail.com</code></li>
            <li>
                私人邮箱：<code>e*****n@hotmail.com</code>、<code>e*n@pm.me</code>
            </li>
            <li>
                弃用邮箱：<del><code>e*****n@eallion.com</code></del>、<del><code>@sina.com</code></del>、<del><code>@163.com</code></del>、<del><code>@sohu.com</code></del>
            </li>
            <li>
                不活跃邮箱：<del><code>e*****n@qq.com</code></del>、<del><code>2*******8@qq.com</code></del>、<del><code>e*****n@icloud.com</code></del>
            </li>
            <li>
                匿名邮箱：<a href="https://altmails.com"><code>@altmails.com</code></a>、<a href="https://anonaddy.com"><code>@anonaddy.me</code></a>、<a href="https://relay.firefox.com"><code>@relay.firefox.com</code></a>
            </li>
        </ul>
        <p>
            <img loading="lazy" class="non-box" src="https://img.shields.io/keybase/pgp/eallion?label=Keybase%20OpenPGP&amp;logo=keybase&amp;logoColor=fff&amp;style=flat" alt="https://keybase.io/eallion/pgp_keys.asc" />
        </p>
        <div class="highlight">
            <pre tabindex="0" style="
                    color: #f8f8f2;
                    background-color: #272822;
                    -moz-tab-size: 4;
                    -o-tab-size: 4;
                    tab-size: 4;
                "><code class="language-shell" data-lang="shell">curl -L https://eallion.com/key | gpg --import
</code></pre>
        </div>
        <h3 id="社交">社交</h3>
        <p>
            <a href="https://keybase.io/eallion" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" src="https://img.shields.io/badge/Keybase-@eallion-blue?style=flat&labelColor=555&logo=Keybase&logoColor=fff" /></a>
            <a href="https://github.com/eallion" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" src="https://img.shields.io/badge/GitHub-@eallion-blue?style=flat&labelColor=555&logo=GitHub&logoColor=fff" /></a>
            <a href="https://steamcommunity.com/id/eallion" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" src="https://img.shields.io/badge/Steam-@eallion-blue?style=flat&labelColor=555&logo=Steam&logoColor=fff" /></a>
            <a href="https://stackoverflow.com/users/story/11409594" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" src="https://img.shields.io/badge/StackOverflow-@eallion-blue?style=flat&labelColor=555&logo=stackoverflow&logoColor=fff" /></a>
        </p>
        <h3 id="鸣谢">鸣谢</h3>
        <p>
            <a href="https://html5.org/" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="HTML" src="https://img.shields.io/badge/-HTML5-E34F26?style=flat&logo=html5&logoColor=white" /></a>
            <a href="https://www.w3.org/Style/CSS/" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="CSS" src="https://img.shields.io/badge/-CSS3-1572B6?style=flat&logo=css3&logoColor=white" /></a>
            <a href="https://www.javascript.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="JS" src="https://img.shields.io/badge/-JavaScript-F7DF1E?style=flat&logo=javascript&logoColor=white" /></a>
            <a href="https://gohugo.io" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Hugo" src="https://img.shields.io/badge/-Hugo-FF4088?style=flat&logo=Hugo&logoColor=white" /></a>
        </p>
        <p>
            <a href="https://www.aliyun.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Aliyun" src="https://img.shields.io/badge/Aliyun-blue?style=flat&color=blue&labelColor=555&logo=Alibaba-Cloud&logoColor=fff" /></a>
            <a href="https://cloud.tencent.com/product/tcb" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Cloud Base" src="https://img.shields.io/badge/CloudBase-blue?style=flat&color=blue&labelColor=555&logo=Windows-Terminal&logoColor=fff" /></a>
            <a href="https://www.cloudflare.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Cloudflare" src="https://img.shields.io/badge/Cloudflare-blue?style=flat&color=blue&labelColor=555&logo=cloudflare&logoColor=fff" /></a>
            <a href="https://disqus.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Disqus" src="https://img.shields.io/badge/Disqus-blue?style=flat&color=blue&labelColor=555&logo=disqus&logoColor=fff" /></a>
            <a href="https://www.github.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="GitHub" src="https://img.shields.io/badge/GitHub-blue?style=flat&color=blue&labelColor=555&logo=GitHub&logoColor=fff" /></a>
            <a href="https://github.com/actions" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="GitHub Actions" src="https://img.shields.io/badge/GitHub%20Actions-blue?style=flat&color=blue&labelColor=555&logo=GitHub-Actions&logoColor=fff" /></a>
            <a href="https://www.google.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Google" src="https://img.shields.io/badge/Google-blue?style=flat&color=blue&labelColor=555&logo=Google&logoColor=fff" /></a>
            <a href="https://fonts.google.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Google Fonts" src="https://img.shields.io/badge/Google%20Fonts-blue?style=flat&color=blue&labelColor=555&logo=Google-Fonts&logoColor=fff" /></a>
            <a href="https://gravatar.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Gravatar" src="https://img.shields.io/badge/Gravatar-blue?style=flat&color=blue&labelColor=555&logo=Gravatar&logoColor=fff" /></a>
            <a href="https://iconify.design/" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Iconify" src="https://img.shields.io/badge/Iconify-blue?style=flat&color=blue&labelColor=555&logo=iconify&logoColor=fff" /></a>
            <a href="https://www.jsdelivr.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="jsDelivr" src="https://img.shields.io/badge/jsDelivr-blue?style=flat&color=blue&labelColor=555&logo=jsDelivr&logoColor=fff" /></a>
            <a href="https://cloud.tencent.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Tencent Cloud" src="https://img.shields.io/badge/Tencent%20Cloud-blue?style=flat&color=blue&labelColor=555&logo=tencent-qq&logoColor=fff" /></a>
            <a href="https://vercel.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="Vercel" src="https://img.shields.io/badge/Vercel-blue?style=flat&color=blue&labelColor=555&logo=Vercel&logoColor=fff" /></a>
            <a href="https://code.visualstudio.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" class="avatar non-box" alt="VS Code" src="https://img.shields.io/badge/VS%20Code-blue?style=flat&color=blue&labelColor=555&logo=visual-studio-code&logoColor=fff" /></a>
        </p>
    </div>

    <div class="clear"></div>

    {{ if not (eq .Params.Comments "false") }}
    {{ if or (eq .Type $.Site.Params.contentTypeName) (.Params.Comments) }}
    {{ partial "comments.html" . }}
    {{ end }}
    {{ end }}
</div>
{{ end }}
