{{ define "main" }}
<div class="post">
  <h2 class="post-title">{{.Title}}</h2>
  <div class="post-content">
  <p class="count">共嘀咕了<span class="count-data">0</span>条</p>
    <section class="timeline">
      <ul>
        <div class="list">
        </div>
      </ul>
    </section>
    <div class="load">
      <button class="load-btn button-load">加载更多</button>
    </div>
  </div>
</div>
  <link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&family=Noto+Serif+TC:wght@500&display=swap" media="print" onload="this.media='all'">
  <link type="text/css" rel="stylesheet" href="https://at.alicdn.com/t/font_1755564_z4mhxbw13mq.css"></link>
  {{ if in (.Site.BaseURL | string) "http://localhost:1313/" }}
  <link rel="stylesheet" href="{{ "talk.css" | absURL }}">
  {{ else }}
  <link rel=stylesheet href=https://static.eallion.com/assets/talk.min.css>
  {{ end }}
  <script type="text/javascript" src="https://imgcache.qq.com/qcloud/tcbjs/1.10.10/tcb.js"></script>
  <script>
    //初始化
    const app = tcb.init({
      env: 'eallion-8gkunp4re49bae66' //这里是你的环境id
    })
    app.auth({
        persistence: "session"
    }).anonymousAuthProvider().signIn().then(() => {
        //定义数据对象
        const db = app.database()
        //选择数据表
        const collection = db.collection('talks')
        /**
         * 定义基本变量
         * count | int, 数目
         * per | int, 每页显示项目数
         * page | int, 第几页
         */
        var count=0, per = 10,page = 1
        /**
         * 获取数目
         */
        collection.count(function(err,res){
        count = res.total
        $('.count-data').text(count)
        getList()
        })
        /**
         * 封装获取数据函数
         */
        function getList(){
        if((page-1)*per >= count){
            return
        }
        var date
        collection.limit(per).skip((page-1)*per).orderBy('date','desc').get(function(err, res) {
            (res.data).forEach(item => {
            date = item.date
            $('.list').append('<li class="item"><div><p>'+item.content+'</p><time class="date"><small>'+`${(date.getHours() + 1) <= 12 ? '上午' : '下午'}`+`${(date.getHours() + 1) <= 10 ? ('0' + date.getHours()) : date.getHours()}`+':'+`${(date.getMinutes() + 1) <= 10 ? ('0' + date.getMinutes()) :date.getMinutes()}`+' · '+date.getFullYear()+'年'+(`${(date.getMonth() + 1) < 10 ? ('0' + (date.getMonth()+1)) :date.getMonth()+1}`)+'月'+`${(date.getDate() + 1) < 10 ? ('0' + date.getDate()) :date.getDate()}`+'日 '+' ·「'+item.from+'」</small></time></div></li>')
            });
            if(page*per >= count){
            $('.load').remove()
            return
            }
            page++
        });
        }
        $('.button-load').click(function(){getList()})
    }).catch(err => {
        console.log(err)
    });
  </script>
{{ end }}