{{ define "main" }}

<div class="posts post">
    <h2 class="post-title">
        {{ .Title }}
        <span class="bmdb__mark"
            > 去<a
                href="https://bm.weajs.com/"
                target="_blank"
                rel="noopener noreferrer"
                >[标记]</a
            >读过的书籍</span
        >
    </h2>
    <div class="post-content"></div>
</div>
<script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/gh/iMuFeng/bmdb@3.3.0/dist/bmdb.js"
></script>
<script type="text/javascript">
    new Bmdb({
        type: "book",
        selector: ".post-content",
        secret: "wfT4l7rWEiLh5MLG2H6bql7sTqZ4V1PosGryMMvmapnVRWJh7vhnnO8JwqfsW8lf",
        categories: "",
        noMoreDataTips: "我就看了这么多……",
        themeMode: "auto",
        limit: 30,
    });
</script>
{{ end }}
