{{ define "main" }}

<div class="posts post">
    <!-- {{ partial "breadcrumb.html" . }} -->
    <h2 class="post-title">{{ .Title }}</h2>
    <div class="post-meta">
        <span class="friends-meta">
            <span><i class="iconfont icon-friends"></i></span>
            <span class="space meta__space">更新时间：2021.08.05</span>
        </span>
    </div>

    <div class="post-content">
        {{ .Content }}
        {{ .Render "path" }}
    </div>

    <div class="clear"></div>

</div>
{{ end }}
