{{ define "head" }} {{ if .Paginator.HasPrev -}}<link
    rel="prefetch"
    href="{{ .Paginator.Prev.URL }}"
/>{{- end }} {{ if .Paginator.HasNext -}}<link
    rel="prefetch"
    href="{{ .Paginator.Next.URL }}"
/>{{- end }} {{ end }} {{ define "main" }}
{{ $contentTypeName := $.Site.Params.contentTypeName }}
{{ $PageContext := . }}
{{ if .IsHome }}
    {{ $PageContext = .Site }}
{{ end }}
{{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}
<div class="posts">
    {{ range $paginator.Pages }}
    <div class="post on-list">
        <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <div class="post-meta">
            {{ if .Date }}
            <span class="post-meta-date">
                <span>
                    <i class="iconfont icon-archive"></i>
                </span>
                <span> {{ .Date.Format "2006年01月02日" }} </span>
            </span>
            {{ end }} {{ if $.Site.Params.ShowReadingTime }}
            <span class="post-read-time">
                <span>
                    <i class="iconfont icon-time-sort"></i>
                </span>
                <span
                    >{{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime |
                    default "min read" }}</span
                >
                <span>，约 {{ .WordCount }} 字</span>
            </span>
            {{ end }}
            <!--
            {{ if .Params.tags }}
            <span class="">
                <i class='iconfont icon-time-tag' ></i>
            </span>
            <span class="">
                {{ range .Params.tags }}
                #<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
                {{ end }}
            </span>
            {{ end }}
            -->
        </div>

        {{ if .Params.feature }} {{ if .Params.UseRelativeCover }} <img
        loading='lazy' src="{{ (printf "%s%s" .Permalink .Params.feature ) }}"
        class="post-cover" > {{ else }}
        <img
            loading="lazy"
            src="{{ .Params.feature | absURL }}"
            class="post-cover"
        />
        {{ end }} {{ end }}

        <div class="post-content post-index">
            {{ if .Truncated }} {{ .Summary }}
            <span class="hdots"
                ><i class="iconfont icon-shenglvehao"></i
                ><i class="iconfont icon-shenglvehao"></i
            ></span>
            <div class="read-more-icon">
                <a class="read-more button" href="{{ .RelPermalink }}"
                    >{{ $.Site.Params.ReadMore | default "Read more" }}
                    <i class="iconfont icon-chevrons-right"></i>
                </a>
            </div>
            {{ else }} {{ .Content }} {{ .Render "path" }} {{ end }}
        </div>
    </div>
    {{ end }} {{ partial "pagination.html" . }}
</div>
{{ end }}
