{{ define "head" }} {{ if .Paginator.HasPrev -}}<link
    rel="prefetch"
    href="{{ .Paginator.Prev.URL }}"
/>{{- end }} {{ if .Paginator.HasNext -}}<link
    rel="prefetch"
    href="{{ .Paginator.Next.URL }}"
/>{{- end }} {{ end }} {{ define "main" }}
{{ $contentTypeName := $.Site.Params.contentTypeName }}
{{ $PageContext := . }}
{{ if .IsHome }}
    {{ $PageContext = .Site }}
{{ end }}
{{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}
<div class="posts">
    {{ range $paginator.Pages }}
    <div class="post on-list">
        <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <div class="post-meta">
            {{ with .Params.categories }}
            <span class="post-meta-categories">
                <span class="iconify-inline" data-icon="bytesize:folder-open"></span>
                <span>
                    {{ range . }}
                    <a href="{{ (urlize (printf "categories/%s" . )) | absURL }}/">{{ . }}</a>
                    {{ end }}
                </span>
            </span>
            {{ end }}
            {{ if .Date }}
            <span class="post-meta-date">
                <span class="iconify-inline" data-icon="arcticons:calendar-proton-{{ dateFormat "1" .Date }}"></span>
                <span> {{ .Date.Format "2006 年 01 月 02 日" }} </span>
            </span>
            {{ end }}
            {{ if $.Site.Params.ShowReadingTime }}
            <span class="post-read-time">
                <span class="iconify-inline" data-icon="ant-design:clock-circle-outlined"></span>
                <span>{{ .ReadingTime }} {{ i18n "readingTime" }}</span>
            </span>
            {{ end }}
        </div>

        {{ if .Params.feature }} {{ if .Params.UseRelativeCover }} <img
        loading='lazy' src="{{ (printf "%s%s" .Permalink .Params.feature ) }}"
        class="post-cover" > {{ else }}
        <img
            loading="lazy"
            src="{{ .Params.feature | absURL }}"
            class="post-cover"
        />
        {{ end }} {{ end }}

        <div class="post-content post-index">
            {{ if .Truncated }} {{ .Summary }}
            <span class="iconify-inline" data-icon="ant-design:ellipsis-outlined"></span><span class="iconify-inline" data-icon="ant-design:ellipsis-outlined"></span>
            <div class="read-more-icon">
                <a class="read-more button" href="{{ .RelPermalink }}">
                    {{ i18n "readMore" }}
                    <span class="iconify-inline" data-icon="ant-design:double-right-outlined"></span>
                </a>
            </div>
            {{ else }} {{ .Content }} {{ .Render "path" }} {{ end }}
        </div>
    </div>
    {{ end }} {{ partial "pagination.html" . }}
</div>
{{ end }}
