{{ define "head" }} {{ if .Paginator.HasPrev -}}<link
    rel="prefetch"
    href="{{ .Paginator.Prev.URL }}"
/>{{- end }} {{ if .Paginator.HasNext -}}<link
    rel="prefetch"
    href="{{ .Paginator.Next.URL }}"
/>{{- end }} {{ end }} {{ define "main" }}
{{ $contentTypeName := $.Site.Params.contentTypeName }}
{{ $PageContext := . }}
{{ if .IsHome }}
    {{ $PageContext = .Site }}
{{ end }}
{{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}
<div class="posts">
    {{ range $paginator.Pages }}
    <div class="post on-list">
        <h1 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h1>
        <div class="post-meta">
            {{ with .Params.categories }}
            <span class="post-meta-categories">
                <i class="iconfont icon-folderOpen"></i>
                <span>
                    {{ range . }}
                    <a href="{{ (urlize (printf "categories/%s" . )) | absURL }}/">{{ . }}</a>
                    {{ end }}
                </span>
            </span>
            {{ end }}
            {{ if .Date }}
            <span class="post-meta-date">
                <i class="iconfont icon-rili{{ dateFormat "1" .Date }}"></i>
                <span> {{ .Date.Format "2006 年 01 月 02 日" }} </span>
            </span>
            {{ end }}
            {{ if $.Site.Params.ShowReadingTime }}
            <span class="post-read-time">
                <i class="iconfont icon-time"></i>
                <span>{{ .ReadingTime }} {{ i18n "readingTime" }}</span>
            </span>
            {{ end }}
        </div>

        {{ if .Params.feature }} {{ if .Params.UseRelativeCover }} <img
        loading='lazy' src="{{ (printf "%s%s" .Permalink .Params.feature ) }}"
        class="post-cover" > {{ else }}
        <img
            loading="lazy"
            src="{{ .Params.feature | absURL }}"
            class="post-cover"
        />
        {{ end }} {{ end }}
        <div class="post-content post-content-index">
            {{ if .Truncated }}
                {{ .Summary | safeHTML}}...
            {{ else }}
                {{ .Summary | safeHTML }} {{ .Render "path" }}...
            {{ end }}
        </div>
    </div>
    {{ end }} {{ partial "pagination.html" . }}
</div>
{{ end }}
