{{ define "main" }}

<link rel="stylesheet" href="/assets/APlayer.min.css?v=1.10.1">

<div class="posts post post-content talks">
    <h2 class="post-title">{{ .Title }}</h2>
    <blockquote class="hidden">Keso：“我按我的兴趣写，你用你的智商读。我没有兴趣误导谁，嘀咕页面谢绝互动。”</blockquote>
    <div class="talks__search">
        <div class="count">
            <p>共嘀咕了 <span id="memosCount"><i class="iconfont icon-loading"></i></span> 条 Memos <span class="emoji">🎉</span></p>
        </div>
        <div class="search-talks">
            <input type="text" class="search-input" id="talkSearch" placeholder="搜索功能重构中（假的）……">
            <button class="search-btn">
                <i class="iconfont icon-search"></i>
            </button>
            <button class="search-clear" onclick="clearInput()">
                <i class="iconfont icon-clear"></i>
            </button>
        </div>
    </div>
    <div id="memos">
        <!-- 嘀咕加载在这里 -->
    </div>
</div>

<script type="text/javascript">
    var memos = {
        host: 'https://memos.eallion.com/', //修改为自己部署 Memos 的网址，末尾有 / 斜杠
        limit: '10', //默认每次显示 10条
        creatorId: '101', //默认为 101用户 https://demo.usememos.com/u/101
        domId: '#memos', //默认为 #memos
    }

</script>

<script type="text/javascript" src="/assets/marked.min.js?v=4.2.2"></script>
<script type="text/javascript" src="/assets/pangu.min.js?v=4.0.7"></script>
<script type="text/javascript" src="/assets/moment.min.js?v=2.29.4"></script>
<script type="text/javascript" src="/assets/moment.twitter.min.js"></script>
<script type="text/javascript" src="/assets/APlayer.min.js?v=1.10.1"></script>
<script type="text/javascript" src="/assets/Meting.min.js?v=1.2"></script>
<script type="text/javascript" src="/assets/memos.min.js"></script>

<script>
    // Clear Search Input
    function clearInput() {
        const talkSearch = document.getElementById('talkSearch');
        talkSearch.value = '';
    }

</script>
{{ end }}
