{{ define "main" }}

<div class="posts post">
    <h2 class="post-title">
        {{ .Title }}
        <span class="bmdb__mark"
            > 去<a
                href="https://bm.weajs.com/"
                target="_blank"
                rel="noopener noreferrer"
                >[标记]</a
            >看过的电影</span
        >
    </h2>
    <div class="post-content"></div>
</div>
<script src="https://cdn.jsdelivr.net/combine/npm/react@17.0.2/umd/react.production.min.js,npm/react-dom@17.0.2/umd/react-dom.production.min.js,gh/iMuFeng/bmdb@3.4.1/dist/bmdb.js"></script>
<script type="text/javascript">
    new Bmdb({
        type: "movie",
        selector: ".post-content",
        secret: "wfT4l7rWEiLh5MLG2H6bql7sTqZ4V1PosGryMMvmapnVRWJh7vhnnO8JwqfsW8lf",
        categories: "",
        noMoreDataTips: "我就看了这么多……",
        limit: 30,
    });
</script>
{{ end }}
