{{ define "main" }}
<div class="post" style="padding: 10px; margin: 0 auto 20px; border: none">
    <h2 class="post-title">{{ .Title }}</h2>
</div>

<div class="page-photos">

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20150218-Shaco.jpg" alt="20150218-Shaco.jpg">
        <figcaption>20150218-Shaco</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20160626-Corki.jpg" alt="20160626-Corki.jpg">
        <figcaption>20160626-Corki</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20170430-Graves.jpg" alt="20170430-Graves.jpg">
        <figcaption>20170430-Graves</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20170503-Jax.jpg" alt="20170503-Jax.jpg">
        <figcaption>20170503-Jax</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20171016-Graves.jpg" alt="20171016-Graves.jpg">
        <figcaption>20171016-Graves</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20171117-MissFortune.jpg" alt="20171117-MissFortune.jpg">
        <figcaption>20171117-MissFortune</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20180225-Kog%27Maw.jpg" alt="20180225-Kog'Maw.jpg">
        <figcaption>20180225-Kog'Maw</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20180506-MasterYi.jpg" alt="20180506-MasterYi.jpg">
        <figcaption>20180506-MasterYi</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20180527-Corki.jpg" alt="20180527-Corki.jpg">
        <figcaption>20180527-Corki</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20180528-Malzahar.jpg" alt="20180528-Malzahar.jpg">
        <figcaption>20180528-Malzahar</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20180608-Kassadin.jpg" alt="20180608-Kassadin.jpg">
        <figcaption>20180608-Kassadin</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20180617-MasterYi.jpg" alt="20180617-MasterYi.jpg">
        <figcaption>20180617-MasterYi</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20180624-MasterYi.jpg" alt="20180624-MasterYi.jpg">
        <figcaption>20180624-MasterYi</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20180910-Xayah.jpg" alt="20180910-Xayah.jpg">
        <figcaption>20180910-Xayah</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20190413-LeBlanc.jpg" alt="20190413-LeBlanc.jpg">
        <figcaption>20190413-LeBlanc</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20190606-Hecarim.jpg" alt="20190606-Hecarim.jpg">
        <figcaption>20190606-Hecarim</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20190610-Zed.jpg" alt="20190610-Zed.jpg">
        <figcaption>20190610-Zed</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20190626-Kled.jpg" alt="20190626-Kled.jpg">
        <figcaption>20190626-Kled</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20190715-Azir.jpg" alt="20190715-Azir.jpg">
        <figcaption>20190715-Azir</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20191106-Rumble.jpg" alt="20191106-Rumble.jpg">
        <figcaption>20191106-Rumble</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20191214-Qiyana.jpg" alt="20191214-Qiyana.jpg">
        <figcaption>20191214-Qiyana</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20200409-Vayne.jpg" alt="20200409-Vayne.jpg">
        <figcaption>20200409-Vayne</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20200429-Sivir.jpg" alt="20200429-Sivir.jpg">
        <figcaption>20200429-Sivir</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20200517-Draven.jpg" alt="20200517-Draven.jpg">
        <figcaption>20200517-Draven</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20200518-Draven.jpg" alt="20200518-Draven.jpg">
        <figcaption>20200518-Draven</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20200803-Kha%27Zix.jpg" alt="20200803-Kha'Zix.jpg">
        <figcaption>20200803-Kha'Zix</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20200806-Corki.jpg" alt="20200806-Corki.jpg">
        <figcaption>20200806-Corki</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20200808-Sivir.jpg" alt="20200808-Sivir.jpg">
        <figcaption>20200808-Sivir</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20201202-Caitlyn.jpg" alt="20201202-Caitlyn.jpg">
        <figcaption>20201202-Caitlyn</figcaption>
    </figure>

    <figure>
        <img loading="lazy" src="https://images.eallion.com/penta/20201203-Lucian.jpg" alt="20201203-Lucian.jpg">
        <figcaption>20201203-Lucian</figcaption>
    </figure>

</div>
{{ end }}
