{{ define "main" }}
<div class="posts searchPage">
    <div class="search-box">
        <input type="text" id="searchBoxInput" placeholder="Search……" />
        <button id="searchBoxButton">
            {{ partial "iconify.html" (dict "prefix" "dashicons" "icon" "search" "width" "32" "height" "32") }}
        </button>
    </div>

    <span id="searchCount"></span>

    <div id="searchResult" class=""></div>
</div>

{{ $fusejs := resources.Get "js/fuse.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $fusejs.RelPermalink }}" integrity="{{ $fusejs.Data.Integrity }}" crossorigin="anonymous"></script>

{{ $searchjs := resources.Get "js/search.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script src="{{ $searchjs.RelPermalink }}" integrity="{{ $searchjs.Data.Integrity }}" crossorigin="anonymous"></script>

{{ end }}
