{{ define "main" }}
<div class="posts searchPage">
    <div class="search-box">
        <input type="text" id="searchBoxInput" placeholder="Search……" />
        <button id="searchBoxButton">
            <i class="iconfont icon-search"></i>
        </button>
    </div>

    <span id="searchCount"></span>

    <div id="searchResult" class=""></div>
</div>
<script crossorigin="anonymous" integrity="sha384-fg4n6ye7+XKhjqwz9P8poe1BGqN6L9bXyJl/WlsAtEZmv0W8AnPysoQjGzRTaz0k" src="https://lib.baomitu.com/fuse.js/3.1.0/fuse.min.js"></script>

{{ $searchjs := resources.Get "js/search.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script
    src="{{ $searchjs.RelPermalink }}"
    integrity="{{ $searchjs.Data.Integrity }}"
    crossorigin="anonymous"
></script>

{{ end }}
