{{ define "main" }}
<div class="posts searchPage">
    <div class="search-box">
        <input type="text" id="searchBoxInput" placeholder="Search……" />
        <button id="searchBoxButton">
            <i class="iconfont icon-search"></i>
        </button>
    </div>

    <span id="searchCount"></span>

    <div id="searchResult" class=""></div>
</div>
<script src="https://cdn.staticfile.org/fuse.js/6.5.3/fuse.min.js"></script>

{{ $searchjs := resources.Get "js/search.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script
    src="{{ $searchjs.RelPermalink }}"
    integrity="{{ $searchjs.Data.Integrity }}"
    crossorigin="anonymous"
></script>

{{ end }}
