{{ define "head" }}
  {{ if .Next -}}<link rel="prefetch" href="{{ .Next.Permalink }}">{{- end }}
  {{ if .Prev -}}<link rel="prefetch" href="{{ .Prev.Permalink }}">{{- end }}
{{ end }}

{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}
  {{ $FilePath := .File.Path }}
  {{ $PostDir := path.Dir $FilePath }}
  {{ $PostName := path.Base $FilePath }}
  {{ partial "talks.html" . }}

  <div class="posts post">
    <!-- {{ partial "breadcrumb.html" . }} -->
    <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    <div class="post-meta">
      {{ if .Date | default nil }}
      <span class="post-meta-date">
        <span class="post-meta-icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-book" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.8" stroke="#222" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
            <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
            <line x1="3" y1="6" x2="3" y2="19" />
            <line x1="12" y1="6" x2="12" y2="19" />
            <line x1="21" y1="6" x2="21" y2="19" />
          </svg>
        </span>
        <span>
          {{ .Date.Format "2006年01月02日" }}
        </span>
      </span>
        {{ if eq .Type $contentTypeName }}
          {{ if $.Site.Params.LastModDisplay }}
            {{ partial "lastmod.html" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{- if .Site.Params.mdwiew.enable -}}
        <span class="post-meta-md post-meta-none">
          <span class="post-meta-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-markdown" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.8" stroke="#222" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <rect x="3" y="5" width="18" height="14" rx="2" />
              <path d="M7 15v-6l2 2l2 -2v6" />
              <path d="M14 13l2 2l2 -2m-2 2v-6" />
            </svg>
          </span>
          <span><a href="https://raw.githubusercontent.com/eallion/eallion.com/main/content/{{$PostDir}}/{{$PostName}}" target="_blank" rel="noopener noreferrer">查看 Markdown 版本</a></span>
        </span>
      {{ end }}

      {{ if $.Site.Params.ShowReadingTime }}
        <span class="post-read-time post-meta-none">
          <span class="post-meta-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clock" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.8" stroke="#222" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="9" />
              <polyline points="12 7 12 12 15 15" />
            </svg>
          </span>
          <span>{{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
          <span>，约 {{ .WordCount }} 字</span>
        </span>
      {{ end }}

      {{- if .Site.Params.waline.enable -}}
        <span class="post-meta-view">
          <span class="post-meta-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.8" stroke="#222" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="2" />
              <path d="M12 19c-4 0 -7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7c-.42 .736 -.858 1.414 -1.311 2.033" />
              <path d="M15 19l2 2l4 -4" />
            </svg>
          </span>
          <span id="{{ .URL | relURL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}"><span class="leancloud-visitors-count">0</span> <span class="post-meta-none">次浏览</span></span>
        </span>
      {{ end }}

      {{- if .Site.Params.twikoo.enable -}}
        <span class="post-meta-view">
          <span class="post-meta-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" stroke-width="1.8" stroke="#222" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="12" cy="12" r="2" />
              <path d="M12 19c-4 0 -7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7c-.42 .736 -.858 1.414 -1.311 2.033" />
              <path d="M15 19l2 2l4 -4" />
            </svg>
          </span>
          <span id="twikoo_visitors">0</span> <span class="post-meta-none">次</span><span>浏览</span>
        </span>
      {{ end }}

    </div>

    {{ if eq .Type "posts" -}}
    {{ $ageDays := div (sub now.Unix .Date.Unix) 86400 }}
      {{ if gt $ageDays 180 }}
        <p class="expired-tips"> 提醒：本文发布于&nbsp;{{$ageDays}}&nbsp;天前，文中所描述的信息可能已发生改变，请谨慎参考。</p>
      {{ end }}
    {{ end }}

    {{ if .Params.feature }}
      {{ if .Params.UseRelativeCover }}
        <img loading='lazy' src="{{ (printf "%s%s" .Permalink .Params.feature ) }}" class="post-cover" >
      {{ else }}
        <img loading='lazy' src="{{ .Params.feature | absURL }}" class="post-cover" >
      {{ end }}
    {{ end }}

    <div class="post-content">
      {{ .Content }}
      {{ .Render "path"}}
    </div>

    {{ if .Params.toc }}
      <div class="tocify">目录：{{- partial "toc.html" . -}}</div>
    {{ end }}

    {{ if .Params.tags }}
      <span class="post-tags">
      <span>Tags:</span>
        {{ range .Params.tags }}
          #<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
        {{ end }}
      </span>
    {{ end }}

    {{ if eq .Type $.Site.Params.contentTypeName }}
      <div class="post-copyright">
        <p>本文发表于 {{ .Date.Format "2006年01月02日" }} ，共计约 {{ .WordCount }} 字 </p>
        <p>本文链接：<a href="{{ .Permalink }}">{{ .Permalink }}</a></p>
        <p>转载标题：<a href="{{ .Permalink }}">《{{ .Title | markdownify }}》</a>- 大大的小蜗牛</p>
        <p>作品采用：<a rel="license nofollow noopener noreferrer" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">知识共享（CC BY-NC-SA 4.0）许可协议</a>进行许可</p>
      </div>
    {{ end }}

    <div class="clear"></div>

    {{ if eq .Type $.Site.Params.contentTypeName }}
      {{ if or .Next .Prev }}
        <div class="pagination">
          <div class="pagination__title">
            {{ if and .File .Site.Params.EditPath}}
              <a class="pagination__title-h" href="https://github.com/eallion/eallion.com/edit/main/content/{{ replace .File.Path "\\" "/" }}" target="_blank" rel="noopener noreferrer">阅读更多</a>
            {{ else}}
              <span class="pagination__title-h">阅读更多</span>
            {{ end }}
            <hr >
          </div>
          <div class="pagination__buttons">
            {{ if .Next }}
              <span class="button previous">
                <a href="{{ .Next.Permalink }}">
                  <span class="button__icon">←</span>
                  <span class="button__text">{{ .Next.Title }}</span>
                </a>
              </span>
            {{ end }}
            {{ if .Prev }}
              <span class="button next">
                <a href="{{ .Prev.Permalink }}">
                  <span class="button__text">{{ .Prev.Title }}</span>
                  <span class="button__icon">→</span>
                </a>
              </span>
            {{ end }}
          </div>
        </div>
      {{ end }}
    {{ end }}

    {{ if not (eq .Params.Comments "false") }}
      {{ if or (eq .Type $.Site.Params.contentTypeName) (.Params.Comments) }}
        {{ partial "comments.html" . }}
      {{ end }}
    {{ end }}

    </div>
{{ end }}
