{{ define "head" }}
{{ if .Next -}}
<link rel="prefetch" href="{{ .Next.Permalink }}">{{- end }}
{{ if .Prev -}}
<link rel="prefetch" href="{{ .Prev.Permalink }}">{{- end }}
{{ end }}

{{ define "main" }}
{{ $contentTypeName :=$.Site.Params.contentTypeName }}

<div class="posts post">
    <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
    <div class="post-meta">
        {{ with .Params.categories }}
        <span class="post-meta-categories">
            <i class="iconfont icon-folderOpen"></i>
            <span>
                {{ range . }}
                <a href="{{ (urlize (printf "categories/%s" . )) | absURL }}/">{{ . }}</a>
                {{ end }}
            </span>
        </span>
        {{ end }}
        {{ if .Date | default nil }}
        <span class="post-meta-date">
            <i class="iconfont icon-rili{{ dateFormat "1" .Date }}"></i>
            <span>{{ .Date.Format "2006.01.02" }}</span>
        </span>
        {{ end }}
        {{ if $.Site.Params.ShowReadingTime }}
        <span class="post-read-time">
            <i class="iconfont icon-time"></i>
            <span>{{ .ReadingTime }} {{ i18n "readingTime" }}</span>
        </span>
        {{ end }}
        {{- if .Site.Params.mdview.enable -}}
        <span class="post-meta-md">
            <i class="iconfont icon-markdown"></i>
            <span><a href='{{ .Site.Params.mdview.ContentPath }}{{ replace .File.Path "\\" "/" }}?download=false' target="_blank" rel="noopener noreferrer">{{ i18n "mdView"}}</a></span>
        </span>
        {{ end }}
        <span class="post-meta-word">
            <i class="iconfont icon-bi"></i>
            <span>{{ .WordCount }} {{ i18n "wordCount" }}</span>
        </span>
        <!--<span id="twikoo_visitors">0</span>-->
    </div>

    {{ if eq .Type "posts" -}}
    {{ $ageDays := div (sub now.Unix .Date.Unix) 86400 }}
    {{ if gt $ageDays 180 }}
    <div class="warning-msg"><i class="iconfont icon-warning-circle"></i>提醒：本文发布于&nbsp;{{ $ageDays }}&nbsp;天前，文中所描述的信息可能已发生改变，请谨慎参考。</div>
    {{ end }}
    {{ end }}

    {{ if .Params.feature }}
    {{ if .Params.UseRelativeCover }}
    <img loading='lazy' src="{{ (printf "%s%s" .Permalink .Params.feature ) }}" class="post-cover">
    {{ else }}
    <img loading='lazy' src="{{ .Params.feature | absURL }}" class="post-cover">
    {{ end }}
    {{ end }}

    <div class="post-content">
        {{ .Content }}
        {{ .Render "path" }}
    </div>

    {{/*  {{ if .Params.toc }}
    <div class="tocify">目录：{{- partial "toc.html" . -}}</div>
    {{ end }}  */}}
    <div class="post-ext">
        {{ if .Params.tags }}
        <div class="post-tags">
            <span><i class="iconfont icon-biaoqian"></i>标签：</span>
            {{ range first 4 .Params.tags }}
            <a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/" class="tags">{{ . }}</a>&nbsp;
            {{ end }}
            </div>
        {{ end }}
        <div class="post-share">
            <span>分享：</span>
            {{ partial "share.html" . }}
        </div>
    </div>

    {{ if eq .Type $.Site.Params.contentTypeName }}
    <div class="post-copyright">
        <p>本文发表于 {{ .Date | time.Format ":date_long" }} ，共计约 {{ .WordCount }} 字 </p>
        <p>本文链接：<a href="{{ .Permalink }}">{{ .Permalink }}</a></p>
        <p>转载标题：<a href="{{ .Permalink }}">《{{ .Title | plainify | replaceRE "(《)" "〈" | replaceRE "(》)" "〉" }}》</a>- 大大的小蜗牛</p>
        <p>作品采用：<a target="_blank" rel="license nofollow noopener noreferrer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">知识共享（CC BY-NC-SA 4.0）许可协议</a>进行许可</p>
        <i class="iconfont icon-creative-commons icon-copyrights"></i>
    </div>
    {{ end }}

    <div class="clear"></div>

    {{ if eq .Type $.Site.Params.contentTypeName }}
    {{ if or .Next .Prev }}
    <div class="pagination">
        <div class="pagination__title">
            {{ if and .File .Site.Params.EditPath }}
            <a class="pagination__title-h" href='{{ $.Site.Params.EditPath }}{{ replace .File.Path "\\" "/" | default "/" }}' target="_blank" rel="noopener noreferrer">{{ i18n "end" }}</a>
            {{ end }}
            <hr>
        </div>
        <div class="pagination__buttons">
            {{ if .Next }}
            <span class="button previous">
                <a href="{{ .Next.Permalink }}">
                    <span class="button__icon">
                        <i class="iconfont icon-left"></i>
                    </span>
                    <span class="button__text">{{ .Next.Title }}</span>
                </a>
            </span>
            {{ else }}
            <span class="button previous disabled" disabled>
                <a href="#">
                    <span class="button__icon">
                        <i class="iconfont icon-left"></i>
                    </span>
                    <span class="button__text">没有上一篇 🚫</span>
                </a>
            </span>
            {{ end }}
            {{ if .Prev }}
            <span class="button next">
                <a href="{{ .Prev.Permalink }}">
                    <span class="button__text">{{ .Prev.Title }}</span>
                    <span class="button__icon">
                        <i class="iconfont icon-right"></i>
                    </span>
                </a>
            </span>
            {{ else }}
            <span class="button next disabled" disabled>
                <a href="#">
                    <span class="button__text">🚫 没有下一篇</span>
                    <span class="button__icon">
                        <i class="iconfont icon-right"></i>
                    </span>
                </a>
            </span>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ end }}

    {{ if not (eq .Params.Comments "false") }}
    {{ if or (eq .Type $.Site.Params.contentTypeName) (.Params.Comments) }}
    {{ partial "comments.html" . }}
    {{ end }}
    {{ end }}

</div>
{{ end }}
