<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">

<head>
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ else }}{{ .Title }} - {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}</title>
    {{ partial "head.html" . }}
</head>

<body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
    <div class="container">
        <header id="header">
            <span class="header__inner">
                <a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{ else }}{{ $.Site.BaseURL }}{{ end }}" class="logo">
                    {{ if $.Site.Params.Logo.path }}
                    <img src="{{ $.Site.Params.Logo.path }}" alt="{{ $.Site.Params.Logo.alt }}" />
                    {{ else }}
                    <span class="logo__text">{{ $.Site.Title }}</span>
                    <span class="logo__text logo__texts">:~$</span>
                    <span class="logo__cursor"></span>
                    {{ end }}
                </a>
                <span class="header__right">
                    {{ if len $.Site.Menus }}
                    <nav class="menu hidden">
                        <ul class="menu__inner menu__inner--desktop">
                            {{ if or $.Site.Params.showMenuItems (eq $.Site.Params.showMenuItems 0) }}
                            {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }}
                            {{ if not .HasChildren }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                            {{ end }}
                            {{ if gt (len $.Site.Menus.main) $.Site.Params.showMenuItems }}
                            <li>
                                <ul class="menu__sub-inner">
                                    <li class="menu__sub-inner-more-trigger">
                                        {{ $.Site.Params.MenuMore | default "Show more" }}
                                        <span class="menu__sub-inner-more-trigger-icon">{{ partial "greater-icon.html" . }}</span>
                                    </li>
                                    <li>
                                        <ul class="menu__sub-inner-more hidden">
                                            {{ range last (sub (len $.Site.Menus.main) $.Site.Params.showMenuItems) $.Site.Menus.main }}
                                            {{ if not .HasChildren }}
                                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                            {{ end }}
                                            {{ end }}
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            {{ end }}
                            {{ else }}
                            {{ range $.Site.Menus.main }}
                            {{ if not .HasChildren }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                            {{ end }}
                            {{ end }}
                            <li>
                                <a href="/talks/" aria-label="Search" class="search-trigger"><span class="iconify-inline" data-icon="ant-design:search-outlined"></span></a>
                            </li>
                        </ul>
                        <ul class="menu__inner menu__inner--mobile">
                            <li><span class="search-scroll"><a href="/talks/" aria-label="Search" class="search-trigger"><span class="iconify-inline" data-icon="ant-design:search-outlined"></span> 搜索</a></span></li>
                            {{ range $.Site.Menus.main }}
                            {{ if not .HasChildren }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                            {{ end }}
                        </ul>
                    </nav>
                    <span class="menu-trigger hidden">
                        <span class="iconify-inline" data-icon="ant-design:menu-outlined"></span>
                    </span>
                    {{ end }}
                    <span class="theme-toggle">
                        <span class="iconify-inline" data-icon="fluent:dark-theme-20-regular"></span>
                    </span>
                </span>
            </span>
        </header>
        <div class="index-talk">
            <span class="iconify-inline" data-icon="mdi:comment-quote-outline"></span>
            <ul class="talk-list">
                <li class="item"><span class="index-talks"><a href="https://gushi.ci/" target="_blank" rel="noopener noreferrer">古诗词</a>：</span><span id="gushici" class="poem_sentence">正在加载古诗词......</span><span id="poem_info" class="poem_info"></span></li>
            </ul>
            <button>×</button>
        </div>
        <div class="content">
            <div class="post talk-title">
                <h2 class="post-title">{{ .Title }}</h2>
                <div class="post-content">
                    <blockquote class="hidden">我按我的兴趣写，你用你的智商读。我没有兴趣误导谁，嘀咕页面谢绝互动。</blockquote>
                    <blockquote class="hidden">独立域名：<a href="https://e5n.co/" target="_blank" rel="noopener noreferrer">https://e5n.co</a></blockquote>
                    <p class="count">共嘀咕了 <span class="count-data">0</span>条：</p>
                    <section class="timeline">
                        <ul>
                            <div class="list"></div>
                        </ul>
                    </section>
                    <div class="load">
                        <button class="load-btn button-load">加载更多</button>
                    </div>
                </div>
            </div>
        </div>
        {{ $scratch := newScratch }}
        {{ range (where .Site.Pages "Kind" "page" ) }}
        {{ $scratch.Add "total" .WordCount }}
        {{ end }}
        {{$totalWord := $scratch.Get "total" }}
        {{ $wowWord := div $totalWord 10000}}
        {{ $wowBook := "还在努力更新中...加油！加油啦！"}}
        {{ if ge $wowWord 40 }}{{$wowBook = "写完一本我国著名的四大名著了！"}}
        {{ else if ge $wowWord 35 }}{{$wowBook = "写完一本 东野圭吾 的《白夜行》了！"}}
        {{ else if ge $wowWord 34 }}{{$wowBook = "写完一本 雨果 的《巴黎圣母院》了！"}}
        {{ else if ge $wowWord 32 }}{{$wowBook = "写完一本 艾米莉·勃朗特 的《呼啸山庄》了！"}}
        {{ else if ge $wowWord 31 }}{{$wowBook = "写完一本 阿来 的《尘埃落定》了！"}}
        {{ else if ge $wowWord 30 }}{{$wowBook = "写完一本 茅盾 的《子夜》了！"}}
        {{ else if ge $wowWord 28 }}{{$wowBook = "写完一本 张炜 的《古船》了！"}}
        {{ else if ge $wowWord 25 }}{{$wowBook = "写完一本 钱钟书 的《围城》了！"}}
        {{ else if ge $wowWord 23 }}{{$wowBook = "写完一本 简·奥斯汀 的《傲慢与偏见》了！"}}
        {{ else if ge $wowWord 22 }}{{$wowBook = "写完一本 莫泊桑 的《一生》了！"}}
        {{ else if ge $wowWord 21 }}{{$wowBook = "写完一本 东野圭吾 的《解忧杂货店》了！"}}
        {{ else if ge $wowWord 20 }}{{$wowBook = "写完一本 巴金 的《寒夜》了！"}}
        {{ else if ge $wowWord 19 }}{{$wowBook = "写完一本 亚米契斯 的《爱的教育》了！"}}
        {{ else if ge $wowWord 18 }}{{$wowBook = "写完一本 沈从文 的《边城》了！"}}
        {{ else if ge $wowWord 17 }}{{$wowBook = "写完一本 马克·吐温 的《汤姆·索亚历险记》了！"}}
        {{ else if ge $wowWord 16 }}{{$wowBook = "写完一本 曹禺 的《日出》了！"}}
        {{ else if ge $wowWord 15 }}{{$wowBook = "写完一本 伯内特 的《秘密花园》了！"}}
        {{ else if ge $wowWord 14 }}{{$wowBook = "写完一本 史铁生 的《宿命的写作》了！"}}
        {{ else if ge $wowWord 13 }}{{$wowBook = "写完一本 曹禺 的《雷雨》了！"}}
        {{ else if ge $wowWord 12 }}{{$wowBook = "写完一本 余华 的《活着》了！"}}
        {{ else if ge $wowWord 11 }}{{$wowBook = "写完一本 鲁迅 的《彷徨》了！"}}
        {{ else if ge $wowWord 10 }}{{$wowBook = "写完一本 马克·吐温 的《王子与乞丐》了！"}}
        {{ else if ge $wowWord 9 }}{{$wowBook = "写完一本 林海音 的《城南旧事》了！"}}
        {{ else if ge $wowWord 7 }}{{$wowBook = "写完一本 鲁迅 的《呐喊》了！"}}
        {{ else if ge $wowWord 5 }}{{$wowBook = "写完一本 埃克苏佩里 的《小王子》了！"}}
        {{ end }}
        <footer class="footer">
            <div class="footer__inner">
                <!-- https://github.com/eallion/eallion.com/tree/16c9ebe6cd303d9029ced7eef7dfb780f63c4a0d -->
                {{ if $.Site.Copyright }}
                <div class="copyright copyright--user">
                    {{ $.Site.Copyright | safeHTML }}
                </div>
                {{ else }}
                <div class="footer__title">
                    <span class="footer__title-h">
                        <a href="mailto:eallions@gmail.com" target="_blank" rel="noopener noreferrer" title="Email me">
                            <span class="iconify-inline" data-icon="ant-design:mail-filled" data-width="32" data-height="32"></span>
                        </a>
                        <a href="https://github.com/eallion" target="_blank" rel="noopener noreferrer" title="GitHub">
                            <span class="iconify-inline" data-icon="ant-design:github-filled" data-width="32" data-height="32"></span>
                        </a>
                        <a href="https://twitter.com/elonmusk" target="_blank" rel="noopener noreferrer" title="Twitter">
                            <span class="iconify-inline" data-icon="entypo-social:twitter-with-circle" data-width="32" data-height="32"></span>
                        </a>
                        <a href="https://t.me/durov" target="_blank" rel="noopener noreferrer" title="Telegram">
                            <span class="iconify-inline" data-icon="fa:telegram" data-width="32" data-height="32"></span>
                        </a>
                        <a href="https://steamcommunity.com/id/eallion" target="_blank" rel="noopener noreferrer" title="steam">
                            <span class="iconify-inline" data-icon="fa-brands:steam" data-width="32" data-height="32"></span>
                        </a>
                        <a href="https://stackoverflow.com/users/11409594/eallion" target="_blank" rel="noopener noreferrer" title="StackOverflow">
                            <span class="iconify-inline" data-icon="academicons:stackoverflow-square" data-width="32" data-height="32"></span>
                        </a>
                        <a href="https://open.spotify.com/user/eallion" target="_blank" rel="noopener noreferrer" title="Spotify">
                            <span class="iconify-inline" data-icon="fa-brands:spotify" data-width="32" data-height="32"></span>
                        </a>
                    </span>
                    <hr />
                </div>
                <div class="words">
                    <span>共 {{ len (where .Site.RegularPages "Section" "posts") }} 篇文章</span><span>约 {{ $scratch.Get "total" }} 字</span><span>{{$wowBook | safeHTML }}</span>
                </div>
                <div class="copyright">
                    <div>
                        Copyright &copy; {{ now.Year }} <a href="https://eallion.com/copyright/" target="_self" rel="noopener noreferrer">eallion.com</a>.
                    </div>
                    <div>
                        Powered by <span class="iconify-inline" data-icon="file-icons:hugo"></span> <a href="https://gohugo.io/" target="_blank" rel="noopener noreferrer">Hugo (v{{ .Site.Hugo.Version }})</a>, Theme <a href="https://github.com/panr/hugo-theme-hello-friend" target="_blank" rel="noopener noreferrer">Hello Friend</a>.
                    </div>
                    <div>
                        <span class="iconify-inline" data-icon="fa-brands:edge-legacy"></span> <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer">浙ICP备16031768号-2</a>
                    </div>
                </div>
                {{ end }}
            </div>
        </footer>
        <div class="to-top back-to-top"><span class="iconify-inline" data-icon="ant-design:up-outlined"></span></div>
        {{ partial "footer-js.html" . }}
        <script src="//imgcache.qq.com/qcloud/tcbjs/1.10.10/tcb.js"></script>
        <script>
            var xhr = new XMLHttpRequest();
            xhr.open('get', 'https://v1.jinrishici.com/shuqing/youqing.json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    var data = JSON.parse(xhr.responseText);
                    var gushici = document.getElementById('gushici');
                    var poem_info = document.getElementById('poem_info');
                    gushici.innerHTML = '『' + '<a href="https://www.google.com/search?q=' + data.content + '" target="_blank" rel="noopener noreferrer">' + data.content + '</a>' + '』';
                    poem_info.innerHTML = '— ' + '<a href="https://www.google.com/search?q=' + data.author + ' ' + data.origin + '" target="_blank" rel="noopener noreferrer">' + data.author + '《' + data.origin + '》' + '</a>';
                }
            };
            xhr.send();

        </script>
        <script type="text/javascript">
            $(function () {
                //点击关闭嘀咕 Widget
                $('button').click(function () {
                    $(this).parents('.index-talk').remove();
                });
            });

        </script>
        <script>
            //初始化
            const app = tcb.init({
                env: 'eallion-8gkunp4re49bae66' //这里是你的环境 id
            })
            app.auth({
                persistence: "none"
            }).anonymousAuthProvider().signIn().then(() => {
                //定义数据对象
                const db = app.database()
                //选择数据表
                const collection = db.collection('talks')
                /**
                 * 定义基本变量
                 * count | int，数目
                 * per | int，每页显示项目数
                 * page | int，第几页
                 */
                var count = 0,
                    per = 10,
                    page = 1
                /**
                 * 获取数目
                 */
                collection.count(function (err, res) {
                    count = res.total
                    $('.count-data').text(count)
                    getList()
                })
                /**
                 * 封装获取数据函数
                 */
                function getList() {
                    if ((page - 1) * per >= count) {
                        return
                    }
                    var date
                    collection.limit(per).skip((page - 1) * per).orderBy('date', 'desc').get(function (err, res) {
                        (res.data).forEach(item => {
                            date = item.date
                            content = urlToLink(item.content)
                            $('.list').append('<li class="item"><div><p>' + content + '</p><time class="date"><small>' + `${(date.getHours() + 1) <= 12 ? '上午' : '下午'}` + `${(date.getHours() + 1) <= 10 ? ('0' + date.getHours()) : date.getHours()}` + ':' + `${(date.getMinutes() + 1) <= 10 ? ('0' + date.getMinutes()) :date.getMinutes()}` + ' · ' + date.getFullYear() + '年' + (`${(date.getMonth() + 1) < 10 ? ('0' + (date.getMonth()+1)) :date.getMonth()+1}`) + '月' + `${(date.getDate() + 1) < 10 ? ('0' + date.getDate()) :date.getDate()}` + '日 ' + ' ·「' + item.from + '」</small></time></div></li>')
                        });
                        if (page * per >= count) {
                            $('.load').remove()
                            return
                        }
                        page++
                        $(".post-content a[rel!=link]:has(img)").slimbox(); //图片灯箱效果
                    });
                }
                $('.button-load').click(function () {
                    getList()
                })
            }).catch(err => {
                console.log(err)
            });

            // 图片和链接
            function urlToLink(str) {
                //去除<img>标签，留 src 链接
                var re_forimg = /\<[img|IMG].*?src=[\'|\"](https\:\/\/.*?(?:[\.jpg|\.jpeg|\.png|\.gif|\.webp|\.jfif|\.bmp]))[\'|\"].*?[\/]?>/g;
                str = str.replace(re_forimg, '$1');
                //去 ![]() 标签，留图片链接
                var re_formd = /^!\[(.*)\]\((.*)\)/g;
                str = str.replace(re_formd, '$2');
                //处理图片链接，添加 a 标签共添加灯箱效果
                var re_forpic = /\bhttps?:[^:<>"]*\/([^:<>"]*)(\.(jpe?g)|(png)|(jfif)|(bmp)|(webp))/g;
                str = str.replace(re_forpic, function (imgurl) {
                    return "<a href='" + imgurl + "' rel='noopener noreferrer'><img loading='lazy' src='" + imgurl + "' ></a>";
                });
                //处理普通链接，添加 a 标签供跳转
                var re = /\bhttps?:\/\/(?!\S+(?:jpe?g|png|bmp|gif|webp|jfif|gif))\S+/g;
                str = str.replace(re, function (website) {
                    return "🔗<a href='" + website + "' target='_blank' rel='noopener noreferrer'>链接</a>";
                });
                //微信表情
                // str = qqWechatEmotionParser(str)
                return str;
            }

        </script>
        <script src="https://cdn.staticfile.org/instant.page/5.1.0/instantpage.min.js"></script>
        <script src="https://cdn.staticfile.org/pangu/4.0.7/pangu.min.js"></script>
        <script type="text/javascript">
            pangu.spacingElementByClassName('post-content');

        </script>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <script>
            // Check that service workers are registered
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }

        </script>

    </div>
</body>

</html>
