
{{ $related := where site.RegularPages "Type" "posts" }}
{{ $related = where $related ".Params.slug" (printf "%s" (.Get 0)) }}
{{ range first 1 $related }}
<div class="post-preview">
    <div class="post-preview--meta" style="width:100%;">
        <div class="post-preview--middle">
            <h4 class="post-preview--title">
                <a target="_blank" href="{{ .Permalink }}">{{ .Title }}</a>
            </h4>
            {{ with .Params.categories }}
            <small>
                {{ partial "iconify.html" (dict "prefix" "bytesize" "icon" "folder-open") }}
                <span>
                    {{ range . }}
                    <a href="{{ (urlize (printf "categories/%s" . )) | absURL }}/">{{ . }}</a>
                    {{ end }}
                </span>
            </small>
            {{ end }}
            {{ if .Date | default nil }}
            <small>{{ partial "iconify.html" (dict "prefix" "akar-icons" "icon" "calendar") }}
                <span>{{ .Date | time.Format ":date_long" }}</span>
            </small>
            {{ end }}
            <section style="max-height:96px;overflow:hidden;" class="post-preview--excerpt">
                {{ .Summary | plainify }}
            </section>
        </div>
    </div>
</div>
{{ end }}
