# https://github.com/gohugoio/hugo/blob/b39b24962350090122b5f3927456dde710cffb57/docs/.prettierignore
# https://github.com/gohugoio/hugo/blob/b39b24962350090122b5f3927456dde710cffb57/docs/.prettierrc

# develop
.vscode
node_modules
package.json

# Hugo
content
themes
public
static
*.md
*.svg
**/icons.html

# Invalid nodes and unexpected tokens, mostly caused by unmatched tags in Hugo statements.
# For example:
# {{ with .Params.externalUrl }}
# <a href="{{ . }}">
#   {{ else }}
#   <a href="{{ .RelPermalink }}" class="min-w-full">
#     {{ end }}
#
# This create an unclose node
