#mblog * {
    font-family: LXGW WenKai Screen, sans-serif;
    box-sizing: border-box;
    border-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    #mblog {
        width: 100%;
    }
}

#mblog {
    padding: 10px;
    background-color: #f4f4f5;
}

#mblog .memo {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    padding: 10px !important;
    margin: 0 0 10px 0 !important;
    border-radius: 5px !important;
}

#mblog .memo .time {
    font-size: 0.75rem !important;
    color: #ccc !important;
    margin-bottom: 10px !important;
}

#mblog .md-content p {
    margin: 0 0 10px 0 !important;
    text-indent: 0 !important;
}

#mblog .md-content img,
#mblog .imgs img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#mblog .comment-btn {
    max-width: 100px;
}

#mblog .btn {
    border: 1px solid #ccc !important;
    padding: 5px 10px !important;
    font-size: 0.75rem !important;
    border-radius: 5px !important;
    text-align: center !important;
}

#mblog .comment .btn:hover {
    background-color: #18a058 !important;
    cursor: pointer !important;
    color: #fff !important;
}

#mblog .imgs {
    --un-ring-offset-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-ring-shadow: 0 0 rgba(0, 0, 0, 0);
    --un-shadow: var(--un-shadow-inset) 0 25px 50px -12px var(--un-shadow-color, rgba(0, 0, 0, 0.25));
    margin: 10px 0 !important;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#mblog .imgs img:hover {
    cursor: pointer;
    -moz-box-shadow: 2px 2px 5px #333333;
    -webkit-box-shadow: 2px 2px 5px #333333;
    box-shadow: 2px 2px 5px #333333;
}

#mblog .comment .comment-wrapper {
    display: none;
    margin: 10px 0 0 0 !important;
}

#mblog .m-show {
    display: block;
}

#mblog .comment .comment-input {
    width: 100% !important;
    height: 8rem !important;
    padding: 10px !important;
}

#mblog .comment .comment-list {
    margin: 10px 0 !important;
    padding: 10px !important;
}

#mblog .comment .comment-item {
    padding: 10px !important;
    font-size: 0.9rem !important;
    margin: 5px 0 !important;
    border-bottom: 1px solid #ccc !important;
    display: flex !important;
    flex-direction: column !important;
}

#mblog .comment .comment-toolbar {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    gap: 5px !important;
    font-size: 0.5rem !important;
    color: #666 !important;
    margin: 5px 0 !important;
}

.mblog-toast {
    --notify-padding: 0.2rem;
    width: 12rem !important;
}

#mblog textarea:focus,
#mblog input:focus {
    outline: none !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

#mblog textarea,
#mblog input {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

#mblog input {
    padding: 0 10px !important;
}

#mblog .comment-toolbar a {
    color: #666 !important;
    margin-left: 1rem;
}

#mblog-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    opacity: 0.7;
}

#mblog-mask-preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#mblog-mask-preview img {
    cursor: pointer;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.mblog-stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#mblog .md-content pre {
    /* font-family: 'Courier New', Courier, monospace; */
    white-space: pre-wrap; /* css-3 */
    word-wrap: break-word; /* InternetExplorer5.5+ */
    white-space: -moz-pre-wrap; /* Mozilla,since1999 */
    white-space: -pre-wrap; /* Opera4-6 */
    white-space: -o-pre-wrap; /* Opera7 */

    background-color: #000;
    color: wheat;
    padding: 4px 10px;
    border-radius: 5px;
}

#mblog .md-content code {
    font-family: LXGW WenKai Screen, sans-serif;
    font-size: 0.9rem;
}

#mblog .md-content p {
    margin: 0 0 0.25rem 0;
}
#mblog .md-content ul,
#mblog .md-content ol {
    margin: 0 0 0.25rem 0;
}

#mblog .md-content li > code,
#mblog .md-content p > code,
#mblog .md-content td > code {
    padding: 2px 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin: 0 4px;
}

#mblog .md-content table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

#mblog .md-content table td,
#mblog .md-content table th {
    border: 1px solid #ccc;
    padding: 4px 10px;
}

#mblog .md-content table th {
    background-color: rgba(158, 188, 226, 0.2);
    /* color: white; */
}
