{{ $url := urls.Parse .Destination }}
{{ $host := lower $url.Host }}

{{ if or (eq $url.Scheme "http") (eq $url.Scheme "https") }}
    {{- if or (hasSuffix $host "eallion.com") (hasSuffix $host "e5n.cc") (hasSuffix $host "gov.cn") (hasSuffix $host "creativecommons.org") (hasSuffix $host "kubaicai.com") (hasSuffix $host "github.com") }}
        <a href="{{ .Destination }}" target="_blank" rel="noopener noreferrer" {{ with .Title }}title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
    {{- else if or (hasSuffix $host "www.eallion.com") (hasPrefix .Destination "#") -}}
        <a href="{{ .Destination }}" {{ with .Title }}title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
    {{- else -}}
        <a href="/go/?target={{ .Destination | base64Encode }}" target="_blank" rel="noopener noreferrer" {{ with .Title }}title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
    {{- end -}}
{{ else }}
    <a href="{{ .Destination }}" {{ with .Title }}title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
{{ end }}
{{- /* Trim EOF */ -}}
