.hidden {
    display: none;
}

.wrapper main .container {
    padding: 0 !important;
}

.page {
    width: 100% !important;
    max-width: 100% !important;
}

.chr-hero-light-gm3__icon {
    align-items: center;
}

.chr-hero-light-gm3 .chr-hero-light-gm3__horizontal-line__image {
    height: 56px;
    border-radius: 50%;
}

.snackbar-gm3--hidden .snackbar-gm3__card {
    display: flex;
    animation: fadeOut 5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.article_new::before {
    content: '🆕';
    color: #006bee;
    position: relative;
    margin-right: 0.5rem;
    cursor: text;
}

.chr-fifty-fifty-text-image-gm3__tutorial-wrapper a {
    color: unset;
}

.chr-archive-gm3 .chr-headline-5 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.chr-copy-about::before,
.chr-copy::before {
    content: '\f022 摘要';
    border-width: 1px;
    background: #f8f8f8;
    border-color: #161209;
    border-radius: 0.25rem;
    border-style: dotted;
    margin-right: 0.25rem;
    padding: 0.25rem;
    opacity: .7;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    text-align: center;
}

.chr-copy-about {
    -webkit-line-clamp: unset;
}

.chr-copy-about::before {
    content: '🐌 About';
}

.chr-copy-about span {
    display: inline-block;
}

.chr-archive-gm3__card-description {
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.chr-footer-social__container {
    align-items: center;
}

.creative-commons {
    display: flex;
    align-items: center;
}

.chr-footer__logo img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.notbyai {
    width: 131px;
    height: 42px;
}
