/* mastodon timeline custom */

/* Theme colors */
/* Type: mod */
[theme="dark"] .mt-container {
    --mt-color-bg: #282c37;
    --mt-color-bg-hover: #313543;
    --mt-color-line-gray: #393f4f;
    --mt-color-contrast-gray: #606984;
    --mt-color-content-txt: #fff;
    --mt-color-link: #8c8dff;
    --mt-color-error-txt: #fe6c6c;
}

/* toot images start */
/* Type: mod */
.mt-post-media {
    padding-top: 0 !important;
    overflow: unset;
}

.mt-post-media img {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    text-align: unset;
}

/* Type: add */
.mp-post-media-wrapper {
    display: grid;
    gap: 10px;
}

.mt-post-media img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: transform .3s ease;
    cursor: zoom-in;
    margin: 0.5rem 0 0;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.grid-1 {
    grid-template-columns: 150px;
}

.grid-3,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9 {
    grid-template-columns: repeat(3, 150px);
}

.grid-2,
.grid-4 {
    grid-template-columns: repeat(2, 150px);
}

@media (max-width: 540px) {

    /* iPhone se width */
    .grid-3,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9 {
        grid-template-columns: repeat(3, 96px);
    }

    .grid-2,
    .grid-4 {
        grid-template-columns: repeat(2, 96px);
    }

    .toot-images img {
        width: 96px;
        height: 96px;
    }
}

/* toot images end */
