/* mastodon timeline custom */

/* Theme colors */
/* Type: mod */
[theme="dark"] .mt-container {
    --mt-color-bg: #34363a;
    --mt-color-bg-hover: #28292a;
    --mt-color-line-gray: #393f4f;
    --mt-color-contrast-gray: #606984;
    --mt-color-content-txt: #fff;
    --mt-color-link: #8c8dff;
    --mt-color-error-txt: #fe6c6c;
}

[theme="black"] .mt-container {
    --mt-color-bg: #34363a;
    --mt-color-bg-hover: #28292a;
    --mt-color-line-gray: #393f4f;
    --mt-color-contrast-gray: #606984;
    --mt-color-content-txt: #fff;
    --mt-color-link: #8c8dff;
    --mt-color-error-txt: #fe6c6c;
}

/* toot images start */
/* Type: mod */
.mt-body {
    padding: 1rem 0;
}

.mt-post:focus, .mt-post:hover {
    border-radius: 1rem;
}

.mt-post-txt .mt-custom-emoji {
    display: inline;
    height: 1.25rem;
    min-width: 1.25rem;
    vertical-align: unset;
}

.mt-post-media {
    padding-top: 0 !important;
    overflow: unset;
}

.mt-post-media img {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    text-align: unset;
}

/* Type: add */

/*
.mt-post-media-wrapper {
    width: 100%;
    max-width: 480px;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.mt-post-media img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: transform .3s ease;
    cursor: zoom-in;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.grid-1 {
    grid-template-columns: 150px;
}

.grid-3,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9 {
    grid-template-columns: repeat(3, 150px);
}

.grid-2,
.grid-4 {
    grid-template-columns: repeat(2, 150px);
}

@media (max-width: 540px) {

    .grid-3,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9 {
        grid-template-columns: repeat(3, 86px);
    }

    .grid-2,
    .grid-4 {
        grid-template-columns: repeat(2, 86px);
    }

    .mt-post-media-wrapper {
        max-width: 288px;
        gap: 5px;
    }

    .mt-post-media img {
        width: 86px;
        height: 86px;
    }
}
*/

/* toot images end */

/* toot images wechat mentions */
/* https://github.com/busyzz-1994/react-wx-image-grid */
.mt-post-media-wrapper {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    flex-wrap: wrap;
    user-select: none;
    max-width: 480px;
    gap: unset !important;
}

.mt-post-media-wrapper>.mt-post-media {
    padding-top: 0 !important;
    position: relative;
}

.mt-post-media-wrapper>.mt-post-media:only-child {
    width: 80%;
}

.mt-post-media-wrapper>.mt-post-media:first-child:nth-last-child(2),
.mt-post-media-wrapper>.mt-post-media:nth-child(2):last-child {
    width: 49%;
}

.mt-post-media-wrapper>.mt-post-media:first-child:nth-last-child(3),
.mt-post-media-wrapper>.mt-post-media:nth-child(2):nth-last-child(2),
.mt-post-media-wrapper>.mt-post-media:nth-child(3):last-child {
    width: 32.5%;
}

.mt-post-media-wrapper>.mt-post-media:first-child:nth-last-child(4),
.mt-post-media-wrapper>.mt-post-media:first-child:nth-last-child(4)~.mt-post-media {
    width: 49%;
    margin-bottom: 2%;
}

.mt-post-media-wrapper>.mt-post-media:first-child:nth-last-child(n + 5),
.mt-post-media-wrapper>.mt-post-media:first-child:nth-last-child(n + 5)~.mt-post-media {
    width: 32.5%;
    margin-bottom: 1.25%;
}

.mt-post-media-wrapper>.mt-post-media::after {
    content: '';
    display: block;
    padding-top: 100%;
}

.mt-post-media-wrapper>.mt-post-media>img {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: none;
}
