<!-- old version -->
<!--
<div class="index-talk">
    <div class="index-talk-icon">
        <i class='bx bxl-twitter'></i>
    </div>
    <div class="index-talks">最新嘀咕</div><span>：</span>
    <ul class="popup list"></ul>
    <button>关闭</button>
</div>
-->

<!-- JSON version -->

{{ if (isset .Params "gushici") }}
<section class="index-talk header__talk"><button>×</button>
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-line-quote"></use>
    </svg>
    <ul class="talk-list">
        <li class="item">
            <span id="gushiciTitle" class="poem_sentence"></span><span id="gushici" class="poem_sentence"></span><span id="poem_info" class="poem_info"></span>
        </li>
    </ul>
</section>
{{ else }}
<section id="index-talk" class="index-talk header__talk"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-line-quote"></use></svg><button>×</button></section>
{{ end }}
