<!-- old version -->
<!--
<div class="index-talk">
    <div class="index-talk-icon">
        <i class='bx bxl-twitter'></i>
    </div>
    <div class="index-talks">最新嘀咕</div><span>：</span>
    <ul class="popup list"></ul>
    <button>关闭</button>
</div>
-->

<!-- JSON version -->

{{ if (isset .Params "gushici") }}
<section id="poem" class="index-talk header__talk">
    <i class="iconfont icon-line-quote" onclick="getData()"></i>
    <ul class="talk-list">
        <li class="item">
            <span id="poemTitle" class="poem_sentence"></span><span id="poemSentence" class="poem_sentence"></span><span id="poem_info" class="poem_info"></span>
        </li>
    </ul>
    <button type="button" class="closebtn" onclick="return this.parentNode.remove();">×</button>
</section>
{{ else }}
<section class="index-talk header__talk">
    <button type="button" class="closebtn" onclick="return this.parentNode.remove();">×</button>
    <div id="index-talk"></div>
</section>
{{ end }}
