  <!-- Waline -->
  {{- if .Site.Params.waline.enable -}}
  <script src='https://cdn.jsdelivr.net/npm/@waline/client@0.17.0/dist/Waline.min.js'></script>
  <div class="pagination__title">
       <span class="pagination__title-h"><span class="vcount"></span>精彩评论</span>
       <hr >
  </div>
  <div id="waline"></div>
  <script>
      new Waline({
        el: '#waline',
        visitor: true,
        copyRight: true,
        dark: 'auto',
        serverURL: 'https://tcb.eallion.com/waline',
        placeholder: '·支持 匿名评论\n·支持 Markdown\n·支持 Twimoji\n·支持 代码块语法高亮\n·不收集 UserAgent',
        requiredFields: ['nick', 'mail'],
        langMode: {admin: 'Ṽerified'},
        avatarCDN: 'https://sdn.geekzu.org/avatar/',
        emojiCDN: 'https://cdn.jsdelivr.net/gh/eallion/twemoji@main/simple/20x20/',
        emojiMaps: {
          "twemoji-1":"twemoji-1.png",
          "twemoji-2":"twemoji-2.png",
          "twemoji-3":"twemoji-3.png",
          "twemoji-4":"twemoji-4.png",
          "twemoji-5":"twemoji-5.png",
          "twemoji-6":"twemoji-6.png",
          "twemoji-7":"twemoji-7.png",
          "twemoji-8":"twemoji-8.png",
          "twemoji-9":"twemoji-9.png",
          "twemoji-10":"twemoji-10.png",
          "twemoji-11":"twemoji-11.png",
          "twemoji-12":"twemoji-12.png",
          "twemoji-13":"twemoji-13.png",
          "twemoji-14":"twemoji-14.png",
          "twemoji-15":"twemoji-15.png",
          "twemoji-16":"twemoji-16.png",
          "twemoji-17":"twemoji-17.png",
          "twemoji-18":"twemoji-18.png",
          "twemoji-19":"twemoji-19.png",
          "twemoji-20":"twemoji-20.png",
          "twemoji-21":"twemoji-21.png",
          "twemoji-22":"twemoji-22.png",
          "twemoji-23":"twemoji-23.png",
          "twemoji-24":"twemoji-24.png",
          "twemoji-25":"twemoji-25.png",
          "twemoji-26":"twemoji-26.png",
          "twemoji-27":"twemoji-27.png",
          "twemoji-28":"twemoji-28.png",
          "twemoji-29":"twemoji-29.png",
          "twemoji-30":"twemoji-30.png",
          "twemoji-31":"twemoji-31.png",
          "twemoji-32":"twemoji-32.png",
          "twemoji-33":"twemoji-33.png",
          "twemoji-34":"twemoji-34.png",
          "twemoji-35":"twemoji-35.png",
          "twemoji-36":"twemoji-36.png",
          "twemoji-37":"twemoji-37.png",
          "twemoji-38":"twemoji-38.png",
          "twemoji-39":"twemoji-39.png",
          "twemoji-40":"twemoji-40.png",
          "twemoji-41":"twemoji-41.png",
          "twemoji-42":"twemoji-42.png",
          "twemoji-43":"twemoji-43.png",
          "twemoji-44":"twemoji-44.png",
          "twemoji-45":"twemoji-45.png",
          "twemoji-46":"twemoji-46.png",
          "twemoji-47":"twemoji-47.png",
          "twemoji-48":"twemoji-48.png",
          "twemoji-49":"twemoji-49.png",
          "twemoji-50":"twemoji-50.png",
          "twemoji-51":"twemoji-51.png",
          "twemoji-52":"twemoji-52.png",
          "twemoji-53":"twemoji-53.png",
          "twemoji-54":"twemoji-54.png",
          "twemoji-55":"twemoji-55.png",
          "twemoji-56":"twemoji-56.png",
          "twemoji-57":"twemoji-57.png",
          "twemoji-58":"twemoji-58.png",
          "twemoji-59":"twemoji-59.png",
          "twemoji-60":"twemoji-60.png",
          "twemoji-61":"twemoji-61.png",
          "twemoji-62":"twemoji-62.png",
          "twemoji-63":"twemoji-63.png",
          "twemoji-64":"twemoji-64.png",
          "twemoji-65":"twemoji-65.png",
          "twemoji-66":"twemoji-66.png",
          "twemoji-67":"twemoji-67.png",
          "twemoji-68":"twemoji-68.png",
          "twemoji-69":"twemoji-69.png",
          "twemoji-70":"twemoji-70.png",
          "twemoji-71":"twemoji-71.png",
          "twemoji-72":"twemoji-72.png",
          "twemoji-73":"twemoji-73.png",
          "twemoji-74":"twemoji-74.png",
          "twemoji-75":"twemoji-75.png",
          "twemoji-76":"twemoji-76.png",
          "twemoji-77":"twemoji-77.png",
          "twemoji-78":"twemoji-78.png",
          "twemoji-79":"twemoji-79.png",
          "twemoji-80":"twemoji-80.png",
          "twemoji-81":"twemoji-81.png",
          "twemoji-82":"twemoji-82.png",
          "twemoji-83":"twemoji-83.png",
          "twemoji-84":"twemoji-84.png",
          "twemoji-85":"twemoji-85.png",
          "twemoji-86":"twemoji-86.png",
          "twemoji-87":"twemoji-87.png",
          "twemoji-88":"twemoji-88.png",
          "twemoji-89":"twemoji-89.png",
          "twemoji-90":"twemoji-90.png",
          "twemoji-91":"twemoji-91.png",
          "twemoji-92":"twemoji-92.png",
          "twemoji-93":"twemoji-93.png",
          "twemoji-94":"twemoji-94.png",
          "twemoji-95":"twemoji-95.png",
          "twemoji-96":"twemoji-96.png",
          "twemoji-97":"twemoji-97.png",
          "twemoji-98":"twemoji-98.png",
          "twemoji-99":"twemoji-99.png",
          "twemoji-100":"twemoji-100.png",
          "twemoji-101":"twemoji-101.png",
          "twemoji-102":"twemoji-102.png",
          "twemoji-103":"twemoji-103.png",
          "twemoji-104":"twemoji-104.png",
          "twemoji-105":"twemoji-105.png",
          "twemoji-106":"twemoji-106.png",
          "twemoji-107":"twemoji-107.png",
          "twemoji-108":"twemoji-108.png",
          "twemoji-109":"twemoji-109.png",
          "twemoji-110":"twemoji-110.png",
          "twemoji-111":"twemoji-111.png",
          "twemoji-112":"twemoji-112.png",
          "twemoji-113":"twemoji-113.png",
          "twemoji-114":"twemoji-114.png",
          "twemoji-115":"twemoji-115.png",
          "twemoji-116":"twemoji-116.png",
          "twemoji-117":"twemoji-117.png",
          "twemoji-118":"twemoji-118.png",
          "twemoji-119":"twemoji-119.png",
          "twemoji-120":"twemoji-120.png",
          "twemoji-121":"twemoji-121.png",
          "twemoji-122":"twemoji-122.png",
          "twemoji-123":"twemoji-123.png",
          "twemoji-124":"twemoji-124.png",
          "twemoji-125":"twemoji-125.png",
          "twemoji":"twemoji.png"
        }
      });
  </script>
  {{- end }}
  
  <!-- Twikoo -->
  {{- if .Site.Params.twikoo.enable -}}
  <div class="pagination__title">
    <span class="pagination__title-h">精彩评论</span>
    <hr >
  </div>
  <div id="tcomment"></div>
  <script src="https://cdn.jsdelivr.net/npm/twikoo@0.2.5/dist/twikoo.all.min.js"></script>
  <script>twikoo.init({ envId: 'eallion-160d1d', el: '#tcomment' })</script>
  {{- end }}

  <!-- DisqusJS -->
  {{- if .Site.Params.disqus.enable -}}
    <div id="disqus_thread"></div>
      {{- if .Site.Params.disqus.proxy -}}
      <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqus.js"></script>
      <script>
        var dsqjs = new DisqusJS({
          shortname: 'eallion',
          siteName: '{{ .Site.Params.title }}',
          identifier: '{{ if .Params.identifier }}{{ trim .Params.identifier "/" }}{{ else }}{{ trim .RelPermalink "/" }}{{end}}',
          url: '{{ if .Params.identifier }}"{{ trim .Site.BaseURL "/" }}{{ .Params.identifier }}"{{ else }}{{ .Permalink }}{{end}}',
          title: '{{ .Title }}',
          api: 'https://disqus.skk.moe/disqus/',
          apikey: 'fF9m3DwDSmNQ2g5DIpuWElDaQTx1ofpMSSW8JeKaB2loVBExeInmMbaEGeLs7lOL',
          admin: 'eallion',
          adminLabel: '',
          nocomment: ''
        });
      </script>
      {{- else -}}
      {{- $script := printf `<script defer src="https://%s.disqus.com/embed.js"></script>` .Site.Params.comment.disqus.shortname -}}
      {{- end -}}
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
  {{- end -}}

  <!-- Utterances -->
  {{- if .Site.Params.utterances.enable -}}
    <script src="https://utteranc.es/client.js"
      repo="eallion/blog"
      issueterm="url"
      label="Comments"
      theme="github-light"
      crossorigin="anonymous"
      async>
    </script>
  {{- end -}}
