  <!-- Twikoo -->
  {{- if .Site.Params.twikoo.enable -}}
  <div class="pagination__title">
    <span class="pagination__title-h">精彩评论</span>
    <hr />
  </div>
  <div id="tcomment"></div>
  <script src="https://cdn.jsdelivr.net/npm/twikoo@0.2.5/dist/twikoo.all.min.js"></script>
  <script>twikoo.init({ envId: 'eallion-160d1d', el: '#tcomment' })</script>
  {{- end }}

  <!-- Waline -->
  {{- if .Site.Params.waline.enable -}}
  <script src='https://cdn.jsdelivr.net/npm/@waline/client@latest/dist/Waline.min.js'></script>
  <div class="pagination__title">
       <span class="pagination__title-h"><span class="vcount"></span>精彩评论</span>
       <hr />
  </div>
  <div id="waline"></div>
  <script>
      new Waline({
        el: '#waline' ,
        placeholder: '{{ .Site.Params.waline.placeholder }}',
        visitor: '{{ .Site.Params.waline.visitor }}',
        serverURL: '{{ .Site.Params.waline.serverURL }}',
        requiredFields: '{{ .Site.Params.waline.requiredFields }}',
      });
  </script>
  {{- end }}

  <!-- DisqusJS -->
  {{- if .Site.Params.comment.disqus.enable -}}
    <div id="disqus_thread"></div>
      {{- if .Site.Params.comment.disqus.proxy -}}
      <script src="https://cdn.jsdelivr.net/npm/disqusjs@1.3/dist/disqus.js"></script>
      <script>
        var dsqjs = new DisqusJS({
          shortname: {{ .Site.Params.comment.disqus.shortname }},
          siteName: {{ .Site.Params.title }},
          identifier: {{ if .Params.identifier }}{{ trim .Params.identifier "/" }}{{ else }}{{ trim .RelPermalink "/" }}{{end}},
          url: {{ if .Params.identifier }}"{{ trim .Site.BaseURL "/" }}{{ .Params.identifier }}"{{ else }}{{ .Permalink }}{{end}},
          title: {{ .Title }},
          api: {{ .Site.Params.comment.disqus.api }},
          apikey: {{ .Site.Params.comment.disqus.apikey }},
          admin: {{ .Site.Params.comment.disqus.admin }},
          adminLabel: {{ .Site.Params.comment.disqus.adminLabel }},
          nocomment: {{ .Site.Params.comment.disqus.nocomment }}
        });
      </script>
      {{- else -}}
      {{- $script := printf `<script defer src="https://%s.disqus.com/embed.js"></script>` .Site.Params.comment.disqus.shortname -}}
      {{- end -}}
      <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
      </noscript>
  {{- end -}}

  <!-- Utterances -->
  {{- if .Site.Params.comment.utterances.enable -}}
    <script src="https://utteranc.es/client.js"
      repo="{{ .Site.Params.comment.utterances.repo }}"
      issue-term="{{ .Site.Params.comment.utterances.issueterm }}"
      label="{{ .Site.Params.comment.utterances.label }}"
      theme="{{ .Site.Params.comment.utterances.theme }}"
      crossorigin="anonymous"
      async>
    </script>
  {{- end -}}