{{ $scratch := newScratch }} {{ range (where .Site.Pages "Kind" "page" ) }}
{{ $scratch.Add "total" .WordCount }} {{ end }}
{{$scratch := newScratch}}
{{ range (where .Site.Pages "Kind" "page" )}}
    {{$scratch.Add "total" .WordCount}}
{{ end }}
{{$totalWord := $scratch.Get "total" }}
{{ $wowWord := div $totalWord 10000}}
{{ $wowBook := "还在努力更新中...加油！加油啦！"}}
{{ if ge $wowWord 40 }}{{$wowBook = "写完一本我国著名的四大名著了！"}}
{{ else if ge $wowWord 35 }}{{$wowBook = "写完一本 东野圭吾 的《白夜行》了！"}}
{{ else if ge $wowWord 34 }}{{$wowBook = "写完一本 雨果 的《巴黎圣母院》了！"}}
{{ else if ge $wowWord 32 }}{{$wowBook = "写完一本 艾米莉·勃朗特 的《呼啸山庄》了！"}}
{{ else if ge $wowWord 31 }}{{$wowBook = "写完一本 阿来 的《尘埃落定》了！"}}
{{ else if ge $wowWord 30 }}{{$wowBook = "写完一本 茅盾 的《子夜》了！"}}
{{ else if ge $wowWord 28 }}{{$wowBook = "写完一本 张炜 的《古船》了！"}}
{{ else if ge $wowWord 25 }}{{$wowBook = "写完一本 钱钟书 的《围城》了！"}}
{{ else if ge $wowWord 23 }}{{$wowBook = "写完一本 简·奥斯汀 的《傲慢与偏见》了！"}}
{{ else if ge $wowWord 22 }}{{$wowBook = "写完一本 莫泊桑 的《一生》了！"}}
{{ else if ge $wowWord 21 }}{{$wowBook = "写完一本 东野圭吾 的《解忧杂货店》了！"}}
{{ else if ge $wowWord 20 }}{{$wowBook = "写完一本 巴金 的《寒夜》了！"}}
{{ else if ge $wowWord 19 }}{{$wowBook = "写完一本 亚米契斯 的《爱的教育》了！"}}
{{ else if ge $wowWord 18 }}{{$wowBook = "写完一本 沈从文 的《边城》了！"}}
{{ else if ge $wowWord 17 }}{{$wowBook = "写完一本 马克·吐温 的《汤姆·索亚历险记》了！"}}
{{ else if ge $wowWord 16 }}{{$wowBook = "写完一本 曹禺 的《日出》了！"}}
{{ else if ge $wowWord 15 }}{{$wowBook = "写完一本 伯内特 的《秘密花园》了！"}}
{{ else if ge $wowWord 14 }}{{$wowBook = "写完一本 史铁生 的《宿命的写作》了！"}}
{{ else if ge $wowWord 13 }}{{$wowBook = "写完一本 曹禺 的《雷雨》了！"}}
{{ else if ge $wowWord 12 }}{{$wowBook = "写完一本 余华 的《活着》了！"}}
{{ else if ge $wowWord 11 }}{{$wowBook = "写完一本 鲁迅 的《彷徨》了！"}}
{{ else if ge $wowWord 10 }}{{$wowBook = "写完一本 马克·吐温 的《王子与乞丐》了！"}}
{{ else if ge $wowWord 9 }}{{$wowBook = "写完一本 林海音 的《城南旧事》了！"}}
{{ else if ge $wowWord 7 }}{{$wowBook = "写完一本 鲁迅 的《呐喊》了！"}}
{{ else if ge $wowWord 5 }}{{$wowBook = "写完一本 埃克苏佩里 的《小王子》了！"}}
{{ end }}
<footer class="footer">
    <div class="footer__inner">
        <!-- https://github.com/eallion/eallion.com/tree/16c9ebe6cd303d9029ced7eef7dfb780f63c4a0d -->
        {{ if $.Site.Copyright }}
        <div class="copyright copyright--user">
            {{ $.Site.Copyright | safeHTML }}
        </div>
        {{ else }}
        <div class="footer__title">
            <span class="footer__title-h">
                <a href="mailto:eallions@gmail.com" target="_blank" rel="noopener noreferrer" title="Email me">
                    <i class='iconfont icon-email_filled'></i>
                </a>
                <a href="https://github.com/eallion" target="_blank" rel="noopener noreferrer" title="GitHub">
                    <i class='iconfont icon-github'></i>
                </a>
                <a href="https://twitter.com/elonmusk" target="_blank" rel="noopener noreferrer" title="Twitter">
                    <i class='iconfont icon-twitter-circle'></i>
                </a>
                <a href="https://t.me/durov" target="_blank" rel="noopener noreferrer" title="Telegram">
                    <i class='iconfont icon-telegram'></i>
                </a>
                <a href="https://steamcommunity.com/id/eallion" target="_blank" rel="noopener noreferrer" title="steam">
                    <i class='iconfont icon-steam'></i>
                </a>
                <a href="https://stackoverflow.com/users/11409594/eallion" target="_blank" rel="noopener noreferrer" title="StackOverflow">
                    <i class='iconfont icon-stackoverflow-fill'></i>
                </a>
                <a href="https://open.spotify.com/user/eallion" target="_blank" rel="noopener noreferrer" title="Spotify">
                    <i class='iconfont icon-spotify'></i>
                </a>
            </span>
            <hr />
        </div>
        <div class="words">
            <span>共 {{ len (where .Site.RegularPages "Section" "posts") }} 篇文章</span><span>约 {{ $scratch.Get "total" }} 字</span><span>{{$wowBook | safeHTML }}</span>
        </div>
        <div class="copyright">
            <div>
                Copyright &copy; {{ now.Year }} <a href="https://eallion.com/copyright/" target="_self" rel="noopener noreferrer">eallion.com</a>.
            </div>
            <div>
                Powered by <a href="https://gohugo.io/" target="_blank" rel="noopener noreferrer"><i class='iconfont icon-Hugo'></i> Hugo (v{{ .Site.Hugo.Version }})</a>, Theme <a href="https://github.com/panr/hugo-theme-hello-friend" target="_blank" rel="noopener noreferrer">Hello Friend</a>.
            </div>
            <div>
                <a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener noreferrer"><i class='iconfont icon-icp'></i> 浙ICP备16031768号-2</a>
                <a href="https://eallion.com/atom.xml" target="_blank" rel="noopener noreferrer" aria-label="RSS 订阅链接"><i class='iconfont icon-dingyue'></i></a>
                <a href="https://status.eallion.com/" target="_blank" rel="noopener noreferrer" aria-label="Status uptime 状态监控"><i class='iconfont icon-shujuzhongxin'></i></a>
            </div>
        </div>
        {{ end }}
    </div>
</footer>
<div id="topControl" class="to-top back-to-top" title="Scroll to Top">
    <i class='iconfont icon-up'></i>
</div>
{{ partial "footer-js.html" . }}
<meta name="apple-mobile-web-app-capable" content="yes" />
<script>
    // Check that service workers are registered
    if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
            navigator.serviceWorker.register("/service-worker.js");
        });
    }
</script>
