<script type="text/javascript" src="/assets/main.js"></script>

{{ if (isset .Params "lightbox") }}

<script type="text/javascript" src="https://cdn.staticfile.org/fancybox/3.5.7/jquery.fancybox.min.js?v=3.5.7"></script>
<script>
    var selector = ".post-content a[rel!=link]:has(img:not(.non-box))";
    $('[data-fancybox="gallery"]').fancybox({
        selector: selector,
        loop: false,
        arrows: false,
        buttons: [
            //"zoom",
            //"share",
            //"slideShow",
            //"fullScreen",
            //"download",
            //"thumbs",
            "close"
        ],
        infobar: false,
        ideScrollbar: true,
        lang: "zh",
        i18n: {
            zh: {
                CLOSE: "关闭",
                NEXT: "下一张",
                PREV: "上一张",
                ERROR: "不能加载图片，<br/>请稍后再试。",
                PLAY_START: "播放幻灯片",
                PLAY_STOP: "暂停幻灯片",
                FULL_SCREEN: "全屏",
                THUMBS: "缩略图",
                DOWNLOAD: "下载",
                SHARE: "分享",
                ZOOM: "缩放"
            }
        }
    });
</script>

{{ else if not .IsHome }}

<script type="text/javascript" src="/assets/baguetteBox.js?v=1.11.1"></script>
<script>
    window.addEventListener('load', function() {
        baguetteBox.run('.gallery', {
            // Custom options
            buttons: false,
            noScrollbars: true,
            fullScreen: false
        });
    });
</script>

{{ end }}

{{/*  DisqusJS comment  */}}
{{ if and (not .Site.IsServer) (.Site.Params.disqus.enable) }}
{{ if .Params.Comments }}
<script type="text/javascript" src="/assets/disqus.js?v=3.0.0"></script>
<script>
    const disqusjs = new DisqusJS({
        shortname: "eallion",
        siteName: "{{ .Site.Params.title }}",
        identifier: '{{ if .Params.identifier }}{{ trim .Params.identifier "/" }}{{ else }}{{ trim .RelPermalink "/" }}{{ end }}',
        url: '{{ if .Params.identifier }}"{{ trim .Site.BaseURL "/" }}{{ .Params.identifier }}"{{ else }}{{ .Permalink }}{{ end }}',
        title: "{{ .Title }}",
        api: "https://disqus.eallion.com/",
        apikey: "fF9m3DwDSmNQ2g5DIpuWElDaQTx1ofpMSSW8JeKaB2loVBExeInmMbaEGeLs7lOL",
        admin: "eallion",
        adminLabel: "Spectator",
        nocomment: "说点什么吧！你的评论也可一针见血！",
    });
    disqusjs.render(document.getElementById('disqusjs'));
    // DisqusJS 3.0.0 新增了销毁实例的 destroy() 方法，你可以在 PJAX 跳转时直接调用它：
    // disqusjs.destroy();
</script>
{{ end }}
{{ end }}
