{{ $jqueryjs := resources.Get "js/jquery.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $jqueryjs.RelPermalink }}" integrity="{{ $jqueryjs.Data.Integrity }}" crossorigin="anonymous"></script>

{{ $prismjs := resources.Get "js/prism.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $prismjs.RelPermalink }}" integrity="{{ $prismjs.Data.Integrity }}" crossorigin="anonymous"></script>

{{ $iconifyjs := resources.Get "js/iconify.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $iconifyjs.RelPermalink }}" integrity="{{ $iconifyjs.Data.Integrity }}" crossorigin="anonymous"></script>

{{ $fancyboxjs := resources.Get "js/jquery.fancybox.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $fancyboxjs.RelPermalink }}" integrity="{{ $fancyboxjs.Data.Integrity }}" crossorigin="anonymous"></script>

{{ $alljs := resources.Get "js/all.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $alljs.RelPermalink }}" integrity="{{ $alljs.Data.Integrity }}" crossorigin="anonymous"></script>
