<script type="text/javascript" src="/assets/js/jquery.min.js?v=3.6.0"></script>
<script type="text/javascript" src="/assets/js/jquery.fancybox.min.js?v=3.5.7"></script>
<script type="text/javascript" src="/assets/js/prism.min.js?v=1.27.0"></script>
<script type="text/javascript" src="/assets/js/iconfont.min.js?id=8d5l8fzk5b87iudi"></script>

{{ if .Site.IsServer }}

{{ $alljs := resources.Get "js/all.js" }}
<script type="text/javascript" src="{{ $alljs.RelPermalink }}?debug" crossorigin="anonymous"></script>

{{ else }}

<script type="text/javascript" src="/assets/js/all.min.js"></script>

{{ end }}
