<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta name="force-rendering" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Description }}{{ else }}{{ .Description }}{{ end }}">
<meta name="keywords" content='{{ if .IsHome }}{{ $.Site.Params.Keywords }}{{ else }}{{ $.Site.Params.Keywords }},{{ delimit .Keywords "," }}{{ end }}'>
<meta name="referrer" content="same-origin" >
<meta name="color-scheme" content="light dark">
<meta name="theme-color" content="#fafafa"/>
<link rel="manifest" href="/manifest.json" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="canonical" href="{{ .Permalink }}" >

<link rel="preconnect" href="https://sdn.geekzu.org" crossorigin="anonymous">
<link rel="preconnect" href="https://cdn.staticfile.org" crossorigin="anonymous">
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin="anonymous">

<!-- 所有 IE 访问都提示升级（包括 IE11、IE10、IE9、IE8、IE7、IE6），每次打开都提示升级 -->
<script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) document.write('\x3Cscript id="_iealwn_js" data-outver="11" src="https://support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>'); </script>

{{/*  main css  */}}
<link rel="stylesheet" href="/assets/css/style.min.css" crossorigin="anonymous">

{{/*  prism css  */}}
<link rel="stylesheet" href="/assets/css/prism.min.css" crossorigin="anonymous">

<link rel="shortcut icon" href="/favicon.ico" crossorigin="anonymous">

<!-- OG data -->
{{ template "_internal/opengraph.html" . }}
<!-- Google Analytics -->
<!-- Umami -->
{{ partial "analytics.html" . }}
<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" >` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}
