<header id="header">
    <span class="header__inner">
        {{ partial "logo.html" . }}
        <span class="header__right">
            {{ if len $.Site.Menus }} {{ partial "menu.html" . }}
            <span class="menu-trigger hidden">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-menu"></use>
                </svg>
            </span>
            {{ end }}
            <!--
            <span class="theme-toggle">
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-dark"></use></svg>
            </span>
            -->
            <script>
                let storageColorScheme = localStorage.getItem("lightDarkMode")
                {{- if eq $.Site.Params.defaultTheme "light" }}
                if ((storageColorScheme == 'Auto' && window.matchMedia("(prefers-color-scheme: dark)").matches) || storageColorScheme == "Dark") {
                    document.body.classList.add('dark')
                }
                {{- else if eq $.Site.Params.defaultTheme "dark" }}
                if ((storageColorScheme == 'Auto' && window.matchMedia("(prefers-color-scheme: light)").matches) || storageColorScheme == "Light") {
                    document.body.classList.remove('dark')
                }
                {{- else }}
                if (((storageColorScheme == 'Auto' || storageColorScheme == null) && window.matchMedia("(prefers-color-scheme: dark)").matches) || storageColorScheme == "Dark") {
                    document.body.classList.add('dark')
                }
                {{- end }}
            </script>
            <div class="lightDarkMode">
                <div class="lightDarkModes">
                    {{- if eq $.Site.Params.defaultTheme "dark" }}
                    <svg id="lightDarkMode" class="icon" aria-hidden="true"><use xlink:href="#icon-md-moon"></use></svg>
                    {{- else if eq $.Site.Params.defaultTheme "light" }}
                    <svg id="lightDarkMode" class="icon" aria-hidden="true"><use xlink:href="#icon-sun"></use></svg>
                    {{- else }}
                    <svg id="lightDarkMode" class="icon" aria-hidden="true"><use xlink:href="#icon-dark"></use></svg>
                    {{- end }}
                </div>
                <div class="is-open hidden" id="is-open">
                </div>
                <div class="lightDarkOptions hidden" id='lightDarkOptions'>
                    <span class="lightDarkOption" name="Auto"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-dark"></use></svg> {{ i18n "auto" }}</span>
                    <span class="lightDarkOption" name="Light"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-sun"></use></svg> {{ i18n "light" }}</span>
                    <span class="lightDarkOption" name="Dark"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-md-moon"></use></svg> {{ i18n "dark" }}</span>
                </div>
            </div>
            <script>
                // change icon and add listener if auto
                let element = document.getElementById('lightDarkMode')
                {{- if eq $.Site.Params.defaultTheme "light" }}
                if (storageColorScheme == 'Auto') {
                    element.firstElementChild.setAttribute("xlink:href", '#icon-dark')
                    element.firstElementChild.classList.add('icon')
                    document.addEventListener('DOMContentLoaded', () => {
                        window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', switchDarkMode)
                    })
                } else if (storageColorScheme == "Dark") {
                    element.firstElementChild.setAttribute("xlink:href", '#icon-md-moon')
                    element.firstElementChild.classList.add('icon')
                }
                {{- else if eq $.Site.Params.defaultTheme "dark" }}
                if (storageColorScheme == 'Auto') {
                    element.firstElementChild.setAttribute("xlink:href", '#icon-dark')
                    element.firstElementChild.classList.add('icon')
                    document.addEventListener('DOMContentLoaded', () => {
                        window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', switchDarkMode)
                    })
                } else if (storageColorScheme == "Light") {
                    element.firstElementChild.setAttribute("xlink:href", '#icon-sun')
                    element.firstElementChild.classList.add('icon')
                }
                {{- else }}
                if (storageColorScheme == null || storageColorScheme == 'Auto') {
                    document.addEventListener('DOMContentLoaded', () => {
                        window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', switchDarkMode)
                    })
                } else if (storageColorScheme == "Light") {
                    element.firstElementChild.setAttribute("xlink:href", '#icon-sun')
                    element.firstElementChild.classList.add('icon')
                } else if (storageColorScheme == "Dark") {
                    element.firstElementChild.setAttribute("xlink:href", '#icon-md-moon')
                    element.firstElementChild.classList.add('icon')
                }
                {{- end }}

                document.addEventListener('DOMContentLoaded', () => {
                    getcolorscheme();
                });
            </script>
        </span>
    </span>
</header>
