<header id="header">
    <span class="header__inner">
        {{ partial "logo.html" . }}
        <span class="header__right">
            {{ if len $.Site.Menus }} {{ partial "menu.html" . }}
            <span class="menu-trigger hidden">
                <i class='iconfont icon-menu'></i>
            </span>
            {{ end }}
            <script>
                let storageColorScheme = localStorage.getItem('lightDarkMode')
                {{- if eq $.Site.Params.defaultTheme "light" }}
                if ((storageColorScheme == 'Auto' && window.matchMedia("(prefers-color-scheme: dark)").matches) || storageColorScheme == "Dark") {
                    document.body.classList.add('dark')
                }
                {{- else if eq $.Site.Params.defaultTheme "dark" }}
                if ((storageColorScheme == 'Auto' && window.matchMedia("(prefers-color-scheme: light)").matches) || storageColorScheme == "Light") {
                    document.body.classList.remove('dark')
                }
                {{- else }}
                if (((storageColorScheme == 'Auto' || storageColorScheme == null) && window.matchMedia("(prefers-color-scheme: dark)").matches) || storageColorScheme == "Dark") {
                    document.body.classList.add('dark')
                }
                {{- end }}
            </script>
            <div class='lightDarkMode'>
                <div id='lightDarkMode' class="lightDarkModes">
                    {{- if eq $.Site.Params.defaultTheme "dark" }}
                    <i class='iconfont icon-md-moon' data-icon='md-moon'></i>
                    {{- else if eq $.Site.Params.defaultTheme "light" }}
                    <i class='iconfont icon-sun' data-icon='sun'></i>
                    {{- else }}
                    <i  class='iconfont icon-dark' data-icon='dark'></i>
                    {{- end }}
                </div>
                <div class="is-open hidden" id="is-open">
                </div>
                <div class="lightDarkOptions hidden" id='lightDarkOptions'>
                    <span class="lightDarkOption" name="Auto"><i class='iconfont icon-dark' data-icon='dark'></i> {{ i18n "auto" }}</span>
                    <span class="lightDarkOption" name="Light"><i class='iconfont icon-sun'data-icon='sun'></i> {{ i18n "light" }}</span>
                    <span class="lightDarkOption" name="Dark"><i class='iconfont icon-md-moon'data-icon='md-moon'></i> {{ i18n "dark" }}</span>
                </div>
            </div>
            <script>
                // change icon and add listener if auto
                let element = document.getElementById('lightDarkMode')
                {{- if eq $.Site.Params.defaultTheme "light" }}
                if (storageColorScheme == 'Auto') {
                    element.firstElementChild.classList.remove('icon-sun')
                    element.firstElementChild.setAttribute('data-icon', 'dark')
                    element.firstElementChild.classList.add('icon-dark')
                    document.addEventListener('DOMContentLoaded', () => {
                        window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', switchDarkMode)
                    })
                } else if (storageColorScheme == "Dark") {
                    element.firstElementChild.classList.remove('icon-sun')
                    element.firstElementChild.setAttribute('data-icon', 'md-moon')
                    element.firstElementChild.classList.add('icon-md-moon')
                }
                {{- else if eq $.Site.Params.defaultTheme "dark" }}
                if (storageColorScheme == 'Auto') {
                    element.firstElementChild.classList.remove('icon-md-moon')
                    element.firstElementChild.setAttribute('data-icon', 'dark')
                    element.firstElementChild.classList.add('icon-dark')
                    document.addEventListener('DOMContentLoaded', () => {
                        window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', switchDarkMode)
                    })
                } else if (storageColorScheme == "Light") {
                    element.firstElementChild.classList.remove('icon-md-moon')
                    element.firstElementChild.setAttribute('data-icon', 'sun')
                    element.firstElementChild.classList.add('icon-sun')
                }
                {{- else }}
                if (storageColorScheme == null || storageColorScheme == 'Auto') {
                    document.addEventListener('DOMContentLoaded', () => {
                        window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', switchDarkMode)
                    })
                } else if (storageColorScheme == "Light") {
                    element.firstElementChild.classList.remove('icon-dark')
                    element.firstElementChild.setAttribute('data-icon', 'sun')
                    element.firstElementChild.classList.add('icon-sun')
                } else if (storageColorScheme == "Dark") {
                    element.firstElementChild.classList.remove('icon-dark')
                    element.firstElementChild.setAttribute('data-icon', 'md-moon')
                    element.firstElementChild.classList.add('icon-md-moon')
                }
                {{- end }}

                document.addEventListener('DOMContentLoaded', () => {
                    getcolorscheme();
                });
            </script>
            <script>
                // darkmode
                function getcolorscheme() {
                    let storageColorScheme = localStorage.getItem('lightDarkMode')
                    let element = document.getElementById('lightDarkMode');
                    let targetDiv = document.getElementById('lightDarkOptions');
                    let targets = targetDiv.getElementsByTagName('span');
                    let screen = document.getElementById('is-open');

                    element.addEventListener('click', () => {
                        targetDiv.classList.toggle('hidden')
                        screen.classList.toggle('hidden')
                    })

                    for (let target of targets) {
                        target.addEventListener('click', () => {
                            let targetName = target.getAttribute("name")
                            let icon = switchMode(targetName)
                            let old_icon = element.firstElementChild.getAttribute('data-icon')
                            element.firstElementChild.setAttribute('data-icon', icon)
                            element.firstElementChild.classList.remove('icon-' + old_icon)
                            element.firstElementChild.classList.add('icon-' + icon)

                            localStorage.setItem('lightDarkMode', targetName)

                            targetDiv.classList.toggle('hidden')
                            screen.classList.toggle('hidden')

                            // for disqus theme
                            let event = new Event('themeChanged');
                            document.dispatchEvent(event);
                        })
                    }
                    screen.addEventListener('click', () => {
                        targetDiv.classList.toggle('hidden')
                        screen.classList.toggle('hidden')
                    })

                }

                function switchMode(darkmode) {
                    let icon = ''
                    switch (darkmode) {
                        case 'Light':
                            window.matchMedia("(prefers-color-scheme: dark)").removeEventListener('change', switchDarkMode)
                            icon = 'sun'
                            document.body.classList.remove('dark')
                            break
                        case 'Dark':
                            window.matchMedia("(prefers-color-scheme: dark)").removeEventListener('change', switchDarkMode)
                            icon = 'md-moon'
                            document.body.classList.add('dark')
                            break
                        case 'Auto':
                            icon = 'dark'
                            const isDarkMode = window.matchMedia("(prefers-color-scheme: dark)")
                            switchDarkMode(isDarkMode)
                            window.matchMedia("(prefers-color-scheme: dark)").addEventListener('change', switchDarkMode)
                            break
                    }
                    return icon
                }

                function switchDarkMode(darkmodes) {
                    if (darkmodes.matches) {
                        document.body.classList.add('dark')
                    } else {
                        document.body.classList.remove('dark')
                    }
                }
            </script>
        </span>
    </span>
</header>
