<header class="header">
  <span class="header__inner">
    {{ partial "logo.html" . }}
    <span class="header__right">
      {{ if len $.Site.Menus }}
        {{ partial "menu.html" . }}
        <span class="menu-trigger hidden">
            <i class='bx bx-menu' ></i>
        </span>
      {{ end }}
      <span class="theme-toggle">
        {{ partial "theme-icon.html" . }}
      </span>
      <!--
      <span class="talk">
        {{ partial "talk.html" . }}
      </span>
      -->
    </span>
  </span>
</header>
