<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta charset="UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta name="force-rendering" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}"/>
<meta name="keywords" content="{{ $.Site.Params.Keywords }},{{ with .Params.tags }}{{ delimit . "," }}{{ end }}"/>
<meta name="referrer" content="never" />
<link rel="canonical" href="{{ .Permalink }}" />
<!-- 自己代理的 Google 字体 -->
<!--
<link rel="preconnect" href="https://static.eallion.com">
<link rel="preload stylesheet" href="https://static.eallion.com/fonts/fonts.css" as="style" type="text/css" media="print" onload="this.media='all'">
-->

<!-- IE 弹窗提示 -->
<script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) document.write('\x3Cscript id="_iealwn_js" data-outver="11" src="https://support.dmeng.net/ie-alert-warning/latest.js">\x3C/script>'); </script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preload stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Noto+Serif+SC&display=swap" as="style" type="text/css" media="print" onload="this.media='all'">

{{ if in (.Site.BaseURL | string) "http://localhost:1313/" }}
<link rel="stylesheet" href="{{ "style.css" | absURL }}">
{{ else }}
<link rel="preload stylesheet" href="https://cdn.jsdelivr.net/gh/eallion/static@v1.0.3/assets/eallion.com/style.min.css" as="style" type="text/css">
{{ end }}

<link rel="shortcut icon" href="https://cdn.jsdelivr.net/gh/eallion/static@v1.0.3/assets/eallion.com/favicon.ico">
<!-- OG data -->
{{ template "_internal/opengraph.html" . }}
<!-- Google Analytics -->
{{ partial "analytics.html" . }}
<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}