<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ if .IsHome }}{{ $.Site.Params.Description }}{{ else }}{{ .Summary | plainify }}{{ end }}"/>
<meta name="keywords" content="{{ $.Site.Params.Keywords }},{{ with .Params.tags }}{{ delimit . "," }}{{ end }}"/>
<meta name="referrer" content="never" />
<link rel="canonical" href="{{ .Permalink }}" />
{{ if in (.Site.BaseURL | string) "http://localhost:1313/" }}
<link rel="stylesheet" href="{{ "style.css" | absURL }}">
{{ else }}
<link rel="stylesheet" href="https://static.eallion.com/assets/style.min.css">
{{ end }}
<link rel="shortcut icon" href="https://static.eallion.com/assets/favicon.ico">
<!-- OG data -->
{{ template "_internal/opengraph.html" . }}
<!-- Google Analytics -->
{{ partial "analytics.html" . }}
<!-- RSS | JSON -->
{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
{{ end -}}
