<nav class="menu hidden">
    <ul class="menu__inner menu__inner--desktop">
        {{ if or $.Site.Params.showMenuItems (eq $.Site.Params.showMenuItems 0)
        }} {{ range first $.Site.Params.showMenuItems $.Site.Menus.main }} {{ if
        not .HasChildren }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }} {{ end }} {{ if gt (len $.Site.Menus.main)
        $.Site.Params.showMenuItems }}
        <li>
            <ul class="menu__sub-inner">
                <li class="menu__sub-inner-more-trigger">
                    {{ i18n "menuMore" }}
                    <span class="menu__sub-inner-more-trigger-icon"
                        >{{ partial "greater-icon.html" . }}</span
                    >
                </li>
                <li>
                    <ul class="menu__sub-inner-more hidden">
                        {{ range last (sub (len $.Site.Menus.main)
                        $.Site.Params.showMenuItems) $.Site.Menus.main }} {{ if
                        not .HasChildren }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }} {{ end }}
                    </ul>
                </li>
            </ul>
        </li>
        {{ end }} {{ else }} {{ range $.Site.Menus.main }} {{ if not
        .HasChildren }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }} {{ end }} {{ end }}

        <li>
            <a href="/search/" aria-label="Search" class="search-trigger"
                ><span class="iconify-inline" data-icon="dashicons:search"></span></a>
        </li>
    </ul>

    <ul class="menu__inner menu__inner--mobile">

        <li><span class="search-scroll"><a href="/search/" aria-label="Search" class="search-trigger"><span class="iconify-inline" data-icon="ant-design:search-outlined"></span> 搜索</a></span></li>
        {{ range $.Site.Menus.main }} {{ if not .HasChildren }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }} {{ end }}
    </ul>
</nav>
