<div class="pagination">
    <div class="pagination__buttons">
        {{ if .Paginator.HasPrev }}
        <span class="button previous">
            <a href="{{ .Paginator.Prev.URL }}">
                <span class="button__icon">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-left"></use>
                    </svg>
                </span>
                <span class="button__text">上 一 页</span>
            </a>
        </span>
        {{ end }} {{ if .Paginator.HasNext }}
        <span class="button next">
            <a href="{{ .Paginator.Next.URL }}">
                <span class="button__text">下 一 页</span>
                <span class="button__icon">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-right"></use>
                    </svg>
                </span>
            </a>
        </span>
        {{ end }}
    </div>
</div>
