/* mastodon timeline custom */
:root {
    --text-max-lines: none;
}
/* Theme colors */
:root {
    --mt-bg-color: #fff;
    --mt-bg-hover-color: #d9e1e8;
    --mt-line-gray-color: #c0cdd9;
    --mt-content-text: #000;
    --mt-link-color: #2d96bd;
    --mt-error-text-color: #8b0000;
    --mt-header-color: rgb(83, 100, 113);
    --mt-timeline-bg-color: #f5f5f5;
    --mt-border-color: #fff;
    --mt-hover-border-color: #e5e7eb;
    --mt-code-color: #161209;
    --mt-code-bg-color: rgba(175, 184, 193, 0.2);
    --mt-pre-color: #161209;
    --mt-pre-bg-color: rgba(175, 184, 193, 0.2);
    --mt-avatar-border: rgba(255, 133, 62, 0.7);
}

:root [theme="dark"] {
    --mt-bg-color: #292a2d;
    --mt-bg-hover-color: #313543;
    --mt-line-gray-color: #59c5ec;
    --mt-content-text: #a9a9b3;
    --mt-link-color: #539bf5;
    --mt-error-text-color: #fe6c6c;
    --mt-header-color: rgb(139, 152, 165);
    --mt-timeline-bg-color: #22272e;
    --mt-border-color: #22272e;
    --mt-hover-border-color: #333;
    --mt-code-color: #adbac7;
    --mt-code-bg-color: rgba(110, 118, 129, 0.4);
    --mt-pre-color: #adbac7;
    --mt-pre-bg-color: rgba(110, 118, 129, 0.4);
    --mt-avatar-border: rgba(255, 133, 62, 0.5);
}

:root [theme="black"] {
    --mt-bg-color: #000;
    --mt-bg-hover-color: #313543;
    --mt-line-gray-color: #59c5ec;
    --mt-content-text: #a9a9b3;
    --mt-link-color: #539bf5;
    --mt-error-text-color: #fe6c6c;
    --mt-header-color: rgb(139, 152, 165);
    --mt-timeline-bg-color: #22272e;
    --mt-border-color: #22272e;
    --mt-hover-border-color: #333;
    --mt-code-color: #adbac7;
    --mt-code-bg-color: rgba(110, 118, 129, 0.4);
    --mt-pre-color: #adbac7;
    --mt-pre-bg-color: rgba(110, 118, 129, 0.4);
    --mt-avatar-border: rgba(255, 133, 62, 0.7);
}

/* default light */
.reactions {
    --start-smile-border-color: #d0d7de;
    --start-smile-border-color-hover: #1f232826;
    --start-smile-bg-color: #f6f8fa;
    --start-smile-svg-fill-color: #656d76;
    --reaction-got-not-reacted-bg-color: #f6f8fa;
    --reaction-got-not-reacted-bg-color-hover: #eaeef2;
    --reaction-got-not-reacted-border-color: rgb(83, 100, 113);
    --reaction-got-not-reacted-text-color: #656d76;
    --reaction-got-reacted-bg-color: #ddf4ff;
    --reaction-got-reacted-bg-color-hover: #b6e3ff;
    --reaction-got-reacted-border-color: #0969da;
    --reaction-got-reacted-text-color: #0969da;
    --reaction-available-popup-bg-color: #fff;
    --reaction-available-popup-border-color: #d0d7de;
    --reaction-available-popup-box-shadow: #8c959f33 0px 8px 24px 0px;
    --reaction-available-emoji-reacted-bg-color: #ddf4ff;
    --reaction-available-emoji-bg-color-hover: #f3f4f6;
    --reaction-available-emoji-z-index: 100;
    --reaction-available-mask-z-index: 80;
}
/* default dark */
[theme="dark"] .reactions {
    --start-smile-border-color: #21262d;
    --start-smile-border-color-hover: #8b949e;
    --start-smile-bg-color: #30363d;
    --start-smile-svg-fill-color: #7d8590;
    --reaction-got-not-reacted-bg-color: #00000000;
    --reaction-got-not-reacted-bg-color-hover: #21262d;
    --reaction-got-not-reacted-border-color: #30363d;
    --reaction-got-not-reacted-text-color: #7d8590;
    --reaction-got-reacted-bg-color: #388bfd1a;
    --reaction-got-reacted-bg-color-hover: #0c2d6b;
    --reaction-got-reacted-border-color: #1f6feb;
    --reaction-got-reacted-text-color: #2f81f7;
    --reaction-available-popup-bg-color: #161b22;
    --reaction-available-popup-border-color: #30363d;
    --reaction-available-popup-box-shadow: #010409 0px 8px 24px 0px;
    --reaction-available-emoji-reacted-bg-color: #388bfd1a;
    --reaction-available-emoji-bg-color-hover: #30363d;
    --reaction-available-emoji-z-index: 100;
    --reaction-available-mask-z-index: 80;
}
/* default black */
[theme="black"] .reactions {
    --start-smile-border-color: #21262d;
    --start-smile-border-color-hover: #8b949e;
    --start-smile-bg-color: #30363d;
    --start-smile-svg-fill-color: #7d8590;
    --reaction-got-not-reacted-bg-color: #00000000;
    --reaction-got-not-reacted-bg-color-hover: #21262d;
    --reaction-got-not-reacted-border-color: #30363d;
    --reaction-got-not-reacted-text-color: #7d8590;
    --reaction-got-reacted-bg-color: #388bfd1a;
    --reaction-got-reacted-bg-color-hover: #0c2d6b;
    --reaction-got-reacted-border-color: #1f6feb;
    --reaction-got-reacted-text-color: #2f81f7;
    --reaction-available-popup-bg-color: #161b22;
    --reaction-available-popup-border-color: #30363d;
    --reaction-available-popup-box-shadow: #010409 0px 8px 24px 0px;
    --reaction-available-emoji-reacted-bg-color: #388bfd1a;
    --reaction-available-emoji-bg-color-hover: #30363d;
    --reaction-available-emoji-z-index: 100;
    --reaction-available-mask-z-index: 80;
}

/* Main container */
.mt-timeline {
    background: var(--mt-bg-color);
    scrollbar-color: var(--mt-bg-hover-color) rgba(0, 0, 0, 0.1);
}

.mt-timeline a:link,
.mt-timeline a:active,
.mt-timeline a {
    color: var(--mt-link-color);
}

.mt-timeline::-webkit-scrollbar-thumb {
    border: 0 var(--mt-content-text);
    background: var(--mt-bg-hover-color);
}
.mt-timeline::-webkit-scrollbar-track {
    border: 0 var(--mt-content-text);
    background: rgba(0, 0, 0, 0.1);
}

.mt-body {
    padding: 1rem 0;
}
.mt-toot {
    background: var(--mt-timeline-bg-color);
    margin: 0;
    margin-bottom: 2rem;
    padding: 0 1rem;
    border-bottom: none;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: var(--mt-border-color);
    overflow: hidden;
}

.mt-toot::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background-color: var(--mt-code-bg-color);
    z-index: 1;
}

.mt-toot:hover,
.mt-toot:focus {
    cursor: unset;
    background-color: var(--mt-timeline-bg-color);
}
.mt-toot:hover {
    border-color: var(--mt-hover-border-color);
    transition: all 0.4s ease-in-out;
}
.mt-header {
    display: flex;
    margin-top: 1rem;
    line-height: 1.5;
    align-items: center;
}

.mt-header a:link,
.mt-header a:active,
.mt-header a {
    text-decoration: none !important;
}
/* User icon */

.mt-avatar {
    background-color: var(--mt-bg-color);
    position: relative;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    -o-object-fit: cover;
    object-fit: cover;
    border: 0.125rem solid var(--mt-avatar-border);
    border-radius: 0.4rem;
    overflow: hidden;
}

.mt-user {
    display: flex;
}

.mt-user a:link,
.mt-user a:active,
.mt-user a {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.mt-nick {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
}

.mt-id {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    overflow-wrap: break-word;
    min-width: 0;
    box-sizing: border-box;
    color: var(--mt-link-color);
    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-shrink: 1;
    font-weight: 400;
}

.mt-user > a {
    color: var(--content-text) !important;
}

.toot-text {
    color: var(--mt-content-text);
}

.toot-text.truncate {
    -webkit-line-clamp: var(--mt-text-max-lines);
}

.toot-text blockquote {
    border-left: 4px solid var(--mt-line-gray-color);
}

.toot-text a:link,
.toot-text a:active,
.toot-text a {
    color: var(--mt-link-color) !important;
}

.toot-text code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    padding: 0.2em 0.4em !important;
    margin: 0 !important;
    font-size: 85% !important;
    white-space: break-spaces !important;
    border-radius: 6px !important;
    color: var(--mt-code-color) !important;
    background: var(--mt-code-bg-color) !important;
    line-height: 1.5 !important;
}

.toot-text pre {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    word-wrap: normal !important;
    word-break: normal !important;
    padding: 16px !important;
    margin: 0 !important;
    overflow: auto !important;
    line-height: 1.45 !important;
    color: var(--mt-pre-color) !important;
    background: var(--mt-pre-bg-color) !important;
    border-radius: 6px !important;
}

.toot-text pre code {
    background: none !important;
}

.toot-text ul li p {
    margin: 0 !important;
    padding: 0 !important;
}

.mt-error {
    position: relative;
    color: var(--mt-error-text-color);
}

.toot-poll {
    color: var(--mt-content-text);
}

.spoiler-link {
    background-color: var(--mt-line-gray-color);
    color: var(--mt-content-text);
}

.toot-footer {
    display: flex;
    position: relative;
    margin: 1.5rem 0 0.5rem;
    z-index: 2;
}

.toot-footer svg {
    width: 1rem;
    height: 1rem;
}

.toot-footer .mt-meta svg {
    fill: var(--start-smile-svg-fill-color, var(--start-smile-svg-fill-color-default));
}

.toot-date {
    font-size: 0.9rem;
}

.mt-timeline .toot-date a,
.mt-timeline .toot-reply a,
.mt-timeline .toot-star a,
.mt-timeline .toot-retoot a {
    color: var(--mt-header-color) !important;
    text-decoration: none;
    white-space: nowrap;
}

.mt-meta {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    gap: 2rem;
}

.emaction {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.reactions {
    display: flex;
    height: inherit;
}
@media screen and (max-width: 480px) {
    .toot-footer {
        justify-content: space-between;
        margin-right: 0;
    }
}

/* toot images */
.toot-image-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 390px;
}

.toot-images {
    position: relative;
    overflow: hidden;
    margin-bottom: 2%;
    border-radius: 0.25rem;
}

.toot-images img {
    display: inline-block !important;
    object-fit: cover;
    cursor: pointer;
    animation: fadeIn 1s;
    transition: all 0.4s ease-in-out;
}

.toot-images img:hover {
    transform: scale(1.1);
}

/*  3张图片  */
.toot-images:nth-child(1):nth-last-child(3),
.toot-images:nth-child(2):nth-last-child(2),
.toot-images:nth-child(3):nth-last-child(1) {
    width: 32%;
    padding-bottom: 32%;
}

/*  间隔  */
.toot-images:nth-child(2):nth-last-child(2),
.toot-images:nth-child(3):nth-last-child(1) {
    margin-left: 2%;
}

.toot-images:not(:nth-child(1):nth-last-child(1)) img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  2张图片  */
.toot-images:nth-child(1):nth-last-child(2),
.toot-images:nth-child(2):nth-last-child(1),
/*  4张图片  */
.toot-images:nth-child(1):nth-last-child(4),
.toot-images:nth-child(2):nth-last-child(3),
.toot-images:nth-child(3):nth-last-child(2),
.toot-images:nth-child(4):nth-last-child(1) {
    width: 32%;
    padding-bottom: 32%;
}

/* 每行的两张图片中间间隔2%的宽度 */
/*  2张图片  */
.toot-images:nth-child(2):nth-last-child(1),
/*  4张图片  */
.toot-images:nth-child(2):nth-last-child(3),
.toot-images:nth-child(4):nth-last-child(1) {
    margin-left: 2%;
}

/*  5张以上图片  */
.toot-images:nth-child(n + 5),
.toot-images:nth-child(1):nth-last-child(n + 5),
.toot-images:nth-child(1):nth-last-child(n + 5) ~ .toot-images {
    width: 32%;
    padding-bottom: 32%;
}

.toot-images:nth-child(n + 5):not(:nth-child(3n + 1)),
.toot-images:nth-child(1):nth-last-child(n + 5) ~ .toot-images:not(:nth-child(3n + 1)) {
    margin-left: 2%;
}

/* 只有一张图片 */
.toot-images:nth-child(1):last-child {
    width: 32%;
    padding-bottom: 32%;
    position: relative;
}

.toot-images:nth-child(1):last-child img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* toot-image End */
