{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

<meta name="referrer" content="no-referrer">
<style>
    .album {
    column-count: 3;
    column-gap: 0.5rem;
    margin: 0;
    padding: 0;
    min-height: 5rem;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.album_wrapper {
    margin: 0;
    break-inside: avoid;
    transition: transform 0.3s;
    overflow: hidden;
    border-radius: 0.25rem;
    position: relative;
    width: 33%;
}

.album_wrapper a,
.album_wrapper a:hover,
.album_wrapper a:active {
    color: #fff !important;
}

.album_wrapper img {
    display: block;
    width: 100%;
    animation: fadeIn 1s;
    cursor: pointer;
    transition: all 0.4s ease-in-out !important;
    border-radius: 0.25rem;
    transform: scale(1);
    object-fit: cover;
    height: 100%;
}

.album_wrapper:hover img {
    transform: scale(1.1);
}

.album_wrapper span.photo-title,
.album_wrapper span.photo-time {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    color: #fff;
    display: none;
    animation: fadeIn 1s;
    left: 0;
    padding: 0 0.25rem;
}

.album_wrapper span.photo-title {
    bottom: 0;
    border-radius: 0 0.25rem 0 0.25rem;
}

.album_wrapper span.photo-time {
    top: 0;
    border-radius: 0.25rem 0 0.25rem 0;
}

.album_wrapper:hover span.photo-title,
.album_wrapper:hover span.photo-time {
    display: block !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .album {
        column-count: 2;
    }
    .album_wrapper {
        width: 49.5%;
    }
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
            transition: transform 0.2s;
}

[theme="dark"] .album_wrapper img {
    opacity: 0.75;
}

[theme="black"] .album_wrapper img {
    opacity: 0.5;
}

.gutter-sizer {
    width: 1%;
}
</style>

<article class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">{{ .Title }}</h1>
    <div id="content" class="content">
        <div class="greyQuote">
            <blockquote>
                {{ T `album_quote` | safeHTML }} 🤡
            </blockquote>
        </div>
        <div id="album" class="album" view-image>
        </div>
    </div>
</article>

<script type="text/javascript" src="/assets/js/packery.pkgd.min.js?v=4.2.2"></script>
<script type="text/javascript" src="/assets/js/draggabilly.pkgd.min.js?v=3.0.0"></script>
<script type="text/javascript" src="/assets/js/imagesloaded.pkgd.min.js?v=5.0.0"></script>
<script>
    var ReadOnlyAccessToken = "gDfGGvoKL0B7EQwjby5gGfc_ov3SLb-AlL2rFXXPEDM";
    var galleryUrl = "https://e5n.cc/api/v1/timelines/tag/%E7%9B%B8%E5%86%8C?only_media=true";
    let nowNum = 0;
    fetch(galleryUrl, {
        headers: {
            Authorization: "Bearer " + ReadOnlyAccessToken,
        },
    })
        .then((res) => res.json())
        .then((resdata) => {
            let result = "";

            resdata.forEach((post) => {
                let time = post.created_at;
                let uri = post.uri;

                post.media_attachments.forEach((attachment) => {
                    let imgUrl = attachment.url || attachment.preview_url;

                    result += `
      <div class="album_wrapper">
        <img src="${imgUrl}" alt="${time}"/>
        <a href="${uri}" target="_blank" rel="noreferrer noopener nofollow">
          <span class="photo-title">${time}</span>
        </a>
      </div>
      <div class="gutter-sizer"></div>
    `;
                });
            });

            var galleryDom = document.querySelector("#album");
            // var galleryBefore = `<div class="album">`;
            // var galleryAfter = `</div>`;
            resultAll = result;
            galleryDom.innerHTML = resultAll;

            // 初始化Masonry
            var pckry = new Packery(galleryDom, {
                itemSelector: ".album_wrapper",
                columnWidth: ".album_wrapper",
                gutter: ".gutter-sizer",
                percentPosition: true,
            });

            pckry.getItemElements().forEach(function (itemElem) {
                var draggie = new Draggabilly(itemElem);
                pckry.bindDraggabillyEvents(draggie);
            });

            // 图片加载完成后触发
            imagesLoaded(galleryDom).on("progress", function () {
                // 定义块状网格尺寸
                galleryDom.classList.add("grid");

                // 重排布局
                pckry.layout();

                // Images done loading
                pckry.options.itemSelector = ".album_wrapper";
            });

            // 相对时间插件 2.5.2 https://tokinx.github.io/lately/
            (() => {
            let location = window.location.href;
            let isEnglish = location.indexOf("/en/") !== -1;
            window.Lately = new function () {
                this.lang = isEnglish ? {
                    'second': ' Seconds',
                    'minute': ' Minutes',
                    'hour': ' Hours',
                    'day': ' Days',
                    'month': ' Months',
                    'year': ' Years',
                    'ago': ' Ago',
                    'error': 'NaN'
                } : {
                    second: " 秒",
                    minute: " 分钟",
                    hour: " 小时",
                    day: " 天",
                    month: " 个月",
                    year: " 年",
                    ago: "前",
                    error: "NaN"
                };
                const format = (date) => {
                    date = new Date(_val(date));
                    const floor = (num, _lang) => Math.floor(num) + _lang,
                        obj = new function () {
                            this.second = (Date.now() - date.getTime()) / 1000;
                            this.minute = this.second / 60;
                            this.hour = this.minute / 60;
                            this.day = this.hour / 24;
                            this.month = this.day / 30;
                            this.year = this.month / 12
                        },
                        key = Object.keys(obj).reverse().find(_ => obj[_] >= 1);
                    return (key ? floor(obj[key], this.lang[key]) : this.lang.error) + this.lang.ago;
                },
                    _val = (date) => {
                        date = new Date(date && (typeof date === 'number' ? date : date.replace(/-/g, '/').replace('T', ' ')));
                        return isNaN(date.getTime()) ? false : date.getTime();
                    };
                return {
                    init: ({ target = "time", lang } = {}) => {
                        if (lang) this.lang = lang;
                        for (let el of document.querySelectorAll(target)) {
                            const date = _val(el.dateTime) || _val(el.title) || _val(el.innerHTML) || 0;
                            if (!date) return;
                            el.title = new Date(date).toLocaleString();
                            el.innerHTML = format(date);
                        }
                    },
                    format
                }
            }
                                })();
            window.Lately && Lately.init({ target: ".photo-title" });
        });
</script>

{{- end -}}
