{{ define "main" }}
{{ .Scratch.Set "scope" "single" }}
{{ $goodsCss := resources.Get "css/goods.css" | minify | fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $goodsCss.RelPermalink }}" integrity="{{ $goodsCss.Data.Integrity }}" crossorigin="anonymous">
<article>
  {{ if .Params.showHero | default (.Site.Params.article.showHero | default false) }}
  {{ $heroStyle := .Params.heroStyle }}
  {{ if not $heroStyle }}{{ $heroStyle = .Site.Params.article.heroStyle }}{{ end }}
  {{ $heroStyle := print "hero/" $heroStyle ".html" }}
  {{ if templates.Exists ( printf "partials/%s" $heroStyle ) }}
  {{ partial $heroStyle . }}
  {{ else }}
  {{ partial "hero/basic.html" . }}
  {{ end }}
  {{ end }}
  <header id="single_header" class="mt-5 max-w-prose">
    {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
    {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">
      {{ .Title }}
    </h1>
    <div class="mt-1 mb-6 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta/basic.html" (dict "context" . "scope" "single") }}
    </div>
  </header>
  <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
      <div class="min-w-0 min-h-0 max-w-fit">
        <div class="article-content max-w-full mb-20">
            {{ .Content }}
                <div id="goods">
                    {{ $goodsResource := resources.Get "data/goods/goods.json" }}
                    {{ $goods := $goodsResource | transform.Unmarshal }}
                    {{ range sort $goods "date" "desc" }}
                    {{ $goodsSrc := .image }}
                    <div class="goods-container img-hide">
                        <div class="goods-image">
                                <figure>
                                    <img
                                        class="my-0 rounded-md lazy"
                                        loading="lazy"
                                        src="/assets/images/goods/goods.webp"
                                        data-src="https://images.eallion.com/directus/files/{{- $goodsSrc -}}"
                                        alt="{{- .title -}}"
                                    />
                                </figure>
                        </div>
                        <div class="goods-price">{{- .currency -}}{{- printf "%.2f" (float .price) -}}</div>
                        <div class="goods-title"><a href="/go/?target={{- .link | base64Encode -}}" target="_blank" rel="noreferrer noopener nofollow">{{- .title -}}</a></div>
                        <div class="goods-report-coupon-btn">
                            {{ if or (not .report) (eq .report "") }}
                            <div class="goods-report goods-report-empty">
                                试用报告
                            </div>
                            {{ else }}
                            <div class="goods-report">
                                <a href="{{- .report -}}" target="_blank" rel="noreferrer noopener nofollow">试用报告</a>
                            </div>
                            {{ end }}
                            <div class="goods-coupon">{{ partial "icon.html" "ad" }} <a href="https://www.kubaicai.com/?r=/l/ddlist&kw={{ .title }}&t=223&origin_id=" target="_blank" rel="noreferrer noopener nofollow">搜搜优惠券？</a></div>
                        </div>
                        <div class="goods-note">{{ .note | safeHTML }}</div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </section>
</article>
{{ $lazyloadJS := resources.Get "js/lazyload.iife.min.js" | fingerprint "sha256" }}
<script type="text/javascript" src="{{ $lazyloadJS.RelPermalink }}" integrity="{{ $lazyloadJS.Data.Integrity }}"></script>
<script>
    var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
    });
</script>

{{ $viewJS := resources.Get "js/view-image.min.js" | fingerprint "sha256" }}
<script type="text/javascript" src="{{ $viewJS.RelPermalink }}" integrity="{{ $viewJS.Data.Integrity }}"></script>
<script>
    window.ViewImage && ViewImage.init('.goods-image img');
</script>

{{ end }}
