{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

{{ $goods := getJSON "data/goods/goods.json" }}

{{ $goodsCss := resources.Get "css/goods.css" | resources.Minify | resources.Fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $goodsCss.RelPermalink }}" integrity="{{ $goodsCss.Data.Integrity }}" crossorigin="anonymous">

<article class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">{{ .Title }}</h1>
    <div id="content" class="content goods">
        <div class="greyQuote">
            <blockquote>
                {{ T `goods_quote` | safeHTML }}
            </blockquote>
        </div>
        {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
        <div id="goods">
            {{ range $goods.good}}
            <div class="goods-container img-hide">
                <div class="goods-image">
                    <figure>
                        <img class="lazy" loading="lazy" data-src="{{ .image }}" alt="{{ .title }}">
                    </figure>
                </div>
                <div class="goods-price">{{ .price }}</div>
                <div class="goods-title"><a href="{{ .link }}" target="_blank" rel="noreferrer noopener nofollow">{{ .title }}</a></div>
                <div class="goods-report-coupon-btn">
                    {{ if or (not .report) (eq .report "") }}
                    <div class="goods-report goods-report-empty">
                        试用报告
                    </div>
                    {{ else }}
                    <div class="goods-report">
                        <a href="{{ .report }}" target="_blank" rel="noreferrer noopener nofollow">试用报告</a>
                    </div>
                    {{ end }}
                    <div class="goods-coupon">{{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "ad") }} <a href="https://www.kubaicai.com/?r=/l/jdlist&kw={{ .title }}&t=223&origin_id=" target="_blank" rel="noreferrer noopener nofollow">搜搜优惠券？</a></div>
                </div>
                <div class="goods-note">{{ .note | safeHTML }}</div>
            </div>
            {{ end }}
        </div>
    </div>
</article>

<script type="text/javascript" src="/assets/js/lazyload.iife.min.js?v=18.0.0"></script>
<script>
    var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
    });
</script>
{{ end }}
