{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

<meta name="referrer" content="no-referrer">
<link rel="stylesheet" href="/assets/APlayer.min.css?v=1.10.1">
<link rel="stylesheet" href="/assets/memos.min.css?v=2023.07.27">
<link rel="stylesheet" href="/assets/plyr.css?v=3.7.8">

<article class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">{{ .Title }}</h1>
    <div id="content" class="content">
        <div class="greyQuote">
            <blockquote>
                <div class="memosCount">{{ T `memos_quote` | safeHTML }}</div>
                <div class="editIcon">
                    <button id="editIcon" class="load-memos-editor outline p-1" type="button" aria-label="Memos">
                        <i class="far fa-edit fa-xs"></i>
                    </button>
                </div>
            </blockquote>
        </div>
        <div id="memos">
            <div id="gallery"></div>
            <!-- 嘀咕加载在这里 -->
        </div>
    </div>
</article>

<script type="text/javascript">
    var memos = {
        host: 'https://memos.eallion.com/', //修改为自己部署 Memos 的网址，末尾有 / 斜杠
        limit: '10', //默认每次显示 10 条
        creatorId: '101', //默认为 101 用户 https://demo.usememos.com/u/101
        domId: '#memos', //默认为 #memos
    }
</script>
<script type="text/javascript" src="/assets/marked.umd.min.js?v=4.3.0"></script>
<script type="text/javascript" src="/assets/moment.min.js?v=2.29.4"></script>

{{ if eq .Site.LanguageCode "en" }}
<script type="text/javascript" src="/assets/moment.twitter.en.min.js"></script>
{{ else }}
<script type="text/javascript" src="/assets/moment.twitter.min.js"></script>
{{ end }}

<script type="text/javascript" src="/assets/APlayer.min.js?v=1.10.1"></script>
<script type="text/javascript" src="/assets/Meting.min.js?v=1.2"></script>
<script type="text/javascript" src="/assets/memos.min.js"></script>
<script type="text/javascript" src="/assets/highlight.min.js?v=11.7.0"></script>
<script type="text/javascript" src="/assets/coco-message.min.js?v=2.0.3"></script>
<script type="text/javascript" src="/assets/plyr.polyfilled.js?v=3.7.8"></script>

{{- /* Artalk Comment System */ -}}
{{ $ArtalkCSS := resources.Get "lib/artalk/ArtalkLite.css" | resources.Minify | resources.Fingerprint "sha256" }}
<link href="{{ $ArtalkCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $ArtalkCSS.Data.Integrity }}" crossorigin="anonymous"></link>
{{ $ArtalkJS := resources.Get "lib/artalk/ArtalkLite.js" | resources.Minify | resources.Fingerprint "sha256" }}
<script type="text/javascript" src="{{ $ArtalkJS.RelPermalink }}" integrity="{{ $ArtalkJS.Data.Integrity }}" crossorigin="anonymous"></script>

<script>
    // Meting API self-hosted
    var meting_api='https://api.eallion.com/meting/?server=:server&type=:type&id=:id&auth=:auth&r=:r';
</script>
{{- end -}}
