{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

<meta name="referrer" content="no-referrer">

<article class="page single">
  {{- /* Title */ -}}
  <h1 class="single-title animate__animated animate__flipInX">{{ .Title }}</h1>

  {{- /* Subtitle */ -}}
  {{- with $params.subtitle -}}
  <h2 class="single-subtitle">{{ . }}</h2>
  {{- end -}}

  {{- /* Content */ -}}
  <div class="content" id="content">
    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome |
    partial "function/content.html" | safeHTML -}}

    <style>
      .single .single-title {
        text-align: left;
      }
      .gFnzgG,
      .gFnzgG * {
        box-sizing: border-box
      }

      .fIuTG {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2%;
        background: 0 0;
        line-height: 100%
      }

      .dfdORB {
        width: 16%;
        margin: 0 2% 30px;
        padding: 0;
        font-size: 15px
      }

      .dfdORB a {
        text-decoration: none
      }

      .kMthTr {
        margin-top: 12px;
        line-height: 1.3;
        max-height: 2.6rem;
        overflow: hidden
      }

      .eysHZq {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        margin-top: 5px;
        min-height: 16px;
        line-height: 1
      }

      .HPRth {
        position: relative;
        min-height: 87px;
        overflow: hidden;
        color: transparent;
        box-shadow: 0 4px 10px rgba(0,2,4,.06),0 0 1px rgba(0,2,4,.11);
      }

      .HPRth:hover {
        box-shadow: rgb(48 55 66 / 30%) 0 1rem 2.1rem
      }

      .jcTaHb {
        display: flex;
        -webkit-box-align: center;
        align-items: center
      }

      .lhtmRw {
        margin-right: 1px;
        width: 12px;
        height: 12px;
        color: #fccd59
      }

      .gaztka {
        margin-right: 1px;
        width: 12px;
        height: 12px;
        color: #eee
      }

      .iibjPt {
        margin-left: 5px;
        color: #555;
        font-size: 14px
      }

      .jvCTkj {
        margin-bottom: 20px
      }

      .kEoOHR {
        display: inline-block;
        margin-right: 15px;
        text-decoration: none;
        color: #157efb
      }

      .kEoOHR .fas {
        min-width: 18px;
        text-align: center;
      }

      .dvtjjf:not(:empty) {
        display: inline-block;
        color: #555;
        text-decoration: none;
        padding: 0 5px
      }

      .dvtjjf.active {
        background: rgba(85, 85, 85, .1)
      }

      .hide {
        display: none
      }

      .sort-by {
        text-align: left;
      }

      .sort-by-item {
        margin-left: 10px;
        padding: 0 5px;
        line-height: 20px
      }

      .sort-by-item.active {
        background: rgba(85, 85, 85, .1)
      }

      .sort-by-item svg {
        margin-right: 5px
      }

      .sc-hKFxyN img {
        max-width: 100% !important;
        height: auto !important;
        display: block !important;
        vertical-align: middle !important;
        margin: 0 auto !important;
      }

      .sc-bdnxRM {
        margin-bottom: 1rem;
      }

      .genre {
        display: flex;
      }

      .genreIcon {
        white-space: nowrap;
      }

      .genreList {
        margin-left: 5px;
      }

      .dvtjjf .fa-star::before {
        color: #ffc107;
        min-width: 18;
      }

      .dvtjjf:hover .fa-star::before {
        color: #ef3982;
      }

      [theme="dark"] .dvtjjf:hover .fa-star::before {
        color: #bdebfc;
      }

      [theme="black"] .dvtjjf:hover .fa-star::before {
        color: #bdebfc;
      }

      @media(min-width:1024px) {
        .lg\:col-span-6 {
          grid-column: span 6/span 6 !important
        }

        .lg\:col-start-2 {
          grid-column-start: 2 !important
        }
      }

      @media (max-width:550px) {

        .jcTaHb,
        .sc-bdnxRM {
          display: none
        }
      }
    </style>
    <script type="text/javascript">
      function search(e) {
        document.querySelectorAll('.dfdORB').forEach(item => item.classList.add('hide'));
        document.querySelector(`.dvtjjf.active[data-search="${e.target.dataset.search}"]`)?.classList.remove('active');
        if (e.target.dataset.value) {
          e.target.classList.add('active');
        }
        const searchItems = document.querySelectorAll('.dvtjjf.active');
        const attributes = Array.from(searchItems, searchItem => {
          const property = `data-${searchItem.dataset.search}`;
          const logic = searchItem.dataset.method === 'contain' ? '*' : '^';
          const value = searchItem.dataset.method === 'contain' ? `${searchItem.dataset.value}` : searchItem.dataset.value;
          return `[${property}${logic}='${value}']`;
        });
        const selector = `.dfdORB${attributes.join('')}`;
        document.querySelectorAll(selector).forEach(item => item.classList.remove('hide'));
      }
      window.addEventListener('click', function (e) {
        if (e.target.classList.contains('sc-gtsrHT')) {
          e.preventDefault();
          search(e);
        }
      });
      function sort(e) {
        const sortBy = e.target.dataset.order;
        const style = document.createElement('style');
        style.classList.add('sort-order-style');
        document.querySelector('style.sort-order-style')?.remove();
        document.querySelector('.sort-by-item.active')?.classList.remove('active');
        e.target.classList.add('active');
        if (sortBy === 'rating') {
          const movies = Array.from(document.querySelectorAll('.dfdORB'));
          movies.sort((movieA, movieB) => {
            const ratingA = parseFloat(movieA.dataset.rating) || 0;
            const ratingB = parseFloat(movieB.dataset.rating) || 0;
            if (ratingA === ratingB) {
              return 0;
            }
            return ratingA > ratingB ? -1 : 1;
          });
          const stylesheet = movies.map((movie, idx) => `.dfdORB[data-rating="${movie.dataset.rating}"] { order: ${idx}; }`).join('\r\n');
          style.innerHTML = stylesheet;
          document.body.appendChild(style);
        }
      }
      window.addEventListener('click', function (e) {
        if (e.target.classList.contains('sort-by-item')) {
          e.preventDefault();
          sort(e);
        }
      });
    </script>
    <div class="lg:col-start-2 lg:col-span-6">
      {{$movies := getCSV "," "data/douban/movie.csv" }}
      {{$scratch := newScratch}}
      {{$scratch.Add "genres" slice}}
      {{range $idx, $movie := $movies}}
      {{if ne $idx 0}}
      {{$scratch.Set "genres" (union ($scratch.Get "genres") (split (index $movie 7) ","))}}
      {{end}}
      {{end}}
      <div class="count"><blockquote>我的观影 <span class="emoji">🎬</span></blockquote></div>
      <div class="sc-ksluID gFnzgG">
        <div class="genre sc-bdnxRM">
          <div class="genreIcon">
          <a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="genres" data-method="contain"
            data-value=""><i class="fas fa-list-ul"></i> 全部类型</a>
          </div>
          <div class="genreList">
          {{range $genre := $scratch.Get "genres"}}
          <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="genres" data-method="contain"
            data-value="{{$genre}}">{{$genre}}</a>
          {{end}}
        </div>
        </div>
        <div class="genre sc-bdnxRM">
          <div class="genreIcon">
          <a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="year" data-method="equal"
            data-value=""><i class="fas fa-calendar-alt"></i> 全部年份</a>
          </div>
          <div class="genreList">
          {{range $year := (seq 2022 -1 2009)}}
          <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="year" data-method="equal"
            data-value="{{$year}}">{{$year}}</a>
          {{end}}
          </div>
        </div>
        <div class="sc-bdnxRM">
          <a href="javascript:void 0;" class="sc-gtsrHT kEoOHR" data-search="star" data-method="equal"
            data-value=""><i class="fas fa-star"></i> 全部评分</a>
            <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal"
              data-value="5"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> 5/5</a>
            <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal"
              data-value="4"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i> 4/5</a>
            <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal"
              data-value="3"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 3/5</a>
            <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal"
              data-value="2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 2/5</a>
            <a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal"
              data-value="1"><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> 1/5</a>
          <!--<a href="javascript:void 0;" class="sc-gtsrHT dvtjjf" data-search="star" data-method="equal"
            data-value="0">零星</a>-->
        </div>
        <div class="jvCTkj sort-by">
          <a href="javascript:void 0;" class="sort-by-item active" data-order="time"><i class="fas fa-sort-amount-down"></i> 观影时间排序</a>
          <a href="javascript:void 0;" class="sort-by-item" data-order="rating"><i class="fas fa-sort-numeric-down-alt"></i> 评分排序</a>
        </div>
        <div class="sc-dIsUp fIuTG">
          {{range $idx, $movie := $movies}}
          {{if ne $idx 0 }}
          <div class="sc-gKAaRy dfdORB" data-year="{{index $movie 11}}" data-star="{{index $movie 8}}"
            data-rating="{{index $movie 6}}" data-genres="{{index $movie 7}}">
            <a rel="link" href="{{index $movie 5}}" target="_blank">
              <div class="sc-hKFxyN HPRth">
                <div class="lazyload-wrapper ">
                  <img class="avatar" src="{{index $movie 3}}" referrer-policy="no-referrer" loading="lazy"
                    alt="{{index $movie 1}}">
                </div>
              </div>
              <div class="sc-iCoGMd kMthTr">{{index $movie 1}}</div>
              <div class="sc-fujyAs eysHZq">
                <span class="sc-jSFjdj jcTaHb">
                  {{range $star := (seq 0 2 8)}}
                  <svg viewBox="0 0 24 24" width="24" height="24"
                    class="sc-dlnjwi {{if gt (index $movie 6) $star}}lhtmRw{{else}}gaztka{{end}}">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path fill="currentColor"
                      d="M12 18.26l-7.053 3.948 1.575-7.928L.587 8.792l8.027-.952L12 .5l3.386 7.34 8.027.952-5.935 5.488 1.575 7.928z">
                    </path>
                  </svg>
                  {{end}}
                </span>
                <span class="sc-pNWdM iibjPt">{{index $movie 6}}</span>
              </div>
            </a>
          </div>
          {{end}}
          {{end}}
        </div>
      </div>
    </div>
  </div>
</article>
{{- end -}}