{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

<!-- LOL 英雄头像 API <https://lol.qq.com/cguide/Guide/PublicResources/Images.html#%E9%9D%9E%E7%82%AB%E5%BD%A9%E7%9A%AE%E8%82%A4> -->

{{ $penta := getJSON "data/penta/penta.json" }}

<meta name="referrer" content="no-referrer">

{{ $pentaCss := resources.Get "css/penta.scss" | toCSS | minify | fingerprint "sha256" }}
<link rel="stylesheet" href="{{ $pentaCss.RelPermalink }}" integrity="{{ $pentaCss.Data.Integrity }}" crossorigin="anonymous">

<article class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">{{ .Title }}</h1>
    <div id="content" class="content">
        <div class="greyQuote">
            <blockquote>
                {{ T `penta_quote` | safeHTML }}
            </blockquote>
        </div>
        <div class="pentas" view-image>

            {{ range $penta.penta }}

            {{ $screenshotSrc := .src }}
            {{ $screenshot := printf "images/penta/screenshot/%s" $screenshotSrc }}

            {{ $date := dateFormat "Jan 02, 2006" .date }}
            {{ $caption := .caption }}

            {{ $championSrc := .champion }}
            {{ $champion := printf "images/penta/hero/%s.png" $championSrc }}
            {{ $heroId := .heroId }}

            <div class="penta">
                <div class="screenshot">
                    {{ with resources.Get $screenshot }}
                        {{ with .Resize "1440x webp" }}
                            <figure>
                                <a class="lightgallery"
                                    href="{{ .RelPermalink }}"
                                    title="{{ $caption }} {{ $date }}"
                                    data-thumbnail="{{ .RelPermalink }}">
                                    <img class="lazy"
                                        loading="lazy"
                                        src="/assets/images/penta/screenshot.png"
                                        data-src="{{ .RelPermalink }}"
                                        data-srcset="{{ .RelPermalink }},
                                            {{ .RelPermalink }} 1.5x,
                                            {{ .RelPermalink }} 2x"
                                        alt="{{ $caption }} {{ $date }}">
                                </a>
                            </figure>
                        {{ end }}
                    {{ end }}
                </div>
                <div class="champions">
                    {{ with resources.Get $champion }}
                        {{ with .Resize "18x webp" }}
                            <a href="https://101.qq.com/#/hero-detail?heroid={{ $heroId }}" target="_blank" rel="noreferrer noopener nofollow">
                                <span class="champAvatar">
                                    <img class="lazy"
                                        loading="lazy"
                                        src="/assets/images/penta/hero.png"
                                        data-src="{{ .RelPermalink }}"
                                        alt="{{ $championSrc }} {{ $champion }}"
                                        no-view>
                                </span>
                                <span class="caption">
                                    {{ $caption }}
                                </span>
                            </a>
                        {{ end }}
                    {{ end }}
                </div>

                <div class="date">
                    <span>{{ partial "plugin/fontawesome.html" (dict "Style" "regular" "Icon" "calendar-alt") }}</span>
                    <span class="dateText">{{ $date }}</span>
                </div>

            </div>

            {{ end }}

        </div>
    </div>
</article>

<script type="text/javascript" src="/assets/js/lazyload.iife.min.js?v=18.0.0"></script>
<script>
    var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
    });
</script>

{{- end -}}
