{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

<!-- LOL 英雄头像 API <https://lol.qq.com/cguide/Guide/PublicResources/Images.html#%E9%9D%9E%E7%82%AB%E5%BD%A9%E7%9A%AE%E8%82%A4> -->

{{ $penta := getJSON "data/penta/penta.json" }}

<meta name="referrer" content="no-referrer">
<style>
    .pentas {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    margin-top: 2rem;
}

.pentas .screenshot {
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
    width: 100%;
    height: 100%;
}

.pentas .screenshot img {
    display: inline-block !important;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100% !important;
    cursor: pointer;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.6s ease;
}

.pentas .screenshot img:hover {
    transform: scale(1.1);
}

.pentas .penta {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 0.5rem;
}

.pentas .penta .champions a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.pentas .penta .champAvatar {
    line-height: 1;
    margin-right: 0.25rem;
}

.pentas .penta .champAvatar span {
    line-height: 1;
}

.pentas .penta .champAvatar img {
    width: 1.1rem;
    height: 1.1rem;
}

.pentas .penta .champAvatar img:hover {
    transform: scale(1) !important;
}

.pentas .penta .caption {
    font-size: 0.875rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    color: initial;
}

.pentas .penta .caption:hover {
    color: inherit;
}

.pentas .date {
    font-family: "JetBrains Mono", "Noto Sans Mono", "Source Code Pro", "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    opacity: 0.5;
}

.pentas .date .dateText {
    margin-left: 0.125rem;
}

[theme="dark"] .pentas .screenshot img,
[theme="dark"] .pentas .champAvatar img {
    opacity: 0.7;
}

[theme="black"] .pentas .screenshot img,
[theme="black"] .pentas .champAvatar img {
    opacity: 0.7;
}

@media (min-width: 900px) {
    .pentas {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 700px) {
    .pentas {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
</style>

<article class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">{{ .Title }}</h1>
    <div id="content" class="content">
        <div class="greyQuote">
            <blockquote>
                {{ T `penta_quote` | safeHTML }}
            </blockquote>
        </div>
        <div class="pentas" view-image>

            {{ range $penta.penta }}
            <div class="penta">
                <div class="screenshot">
                    <figure>
                        <a class="lightgallery" href="{{ .src }}" title="{{ .caption }} {{ .date }}" data-thumbnail="{{ .src }}">
                            <img loading="lazy" src="{{ .src }}" srcset="{{ .src }},
                                {{ .src }} 1.5x,
                                {{ .src }} 2x" alt="{{ .caption }} {{ .date }}">
                        </a>
                    </figure>
                </div>
                <div class="champions">
                    <a href="https://101.qq.com/#/hero-detail?heroid={{ .heroId }}" target="_blank" rel="noreferrer noopener nofollow">
                        <span class="champAvatar">
                            <img class="lazy" loading="lazy"
                                data-src="/assets/images/penta/hero/{{ .champion }}.png"
                                alt="{{ .champion }} {{ .caption }}" no-view>
                        </span>
                        <span class="caption">
                            {{ .caption }}
                        </span>
                    </a>
                </div>

                <div class="date">
                    <span><i class="far fa-calendar-alt fa-fw"></i></span>
                    <span class="dateText">{{ .date }}</span>
                </div>

            </div>

            {{ end }}

        </div>
    </div>
</article>

<script type="text/javascript" src="/assets/js/lazyload.iife.min.js?v=17.8.5"></script>
<script>
    var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
    });
</script>

{{- end -}}
