{{- define "title" }}
    {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}

    {{$articleCount := 0}}
    {{$pageCount := 0}}
    {{$categoryCount := 0}}
    {{$categories := slice}}
    {{$tagCount := 0}}
    {{$tags := slice}}
        {{range .Site.RegularPages}}
            {{if eq .Type "posts"}}
                {{$articleCount = add $articleCount 1}}
            {{end}}
            {{if eq .Params.type "page"}}
                {{$pageCount = add $pageCount 1}}
            {{end}}
            {{if .Params.categories}}
                {{$categories = union $categories .Params.categories}}
            {{end}}
            {{if .Params.tags}}
                {{$tags = union $tags .Params.tags}}
            {{end}}
        {{end}}
    {{$categoryCount = len $categories}}
    {{$tagCount = len $tags}}

    {{$scratch := newScratch}}
    {{ range (where .Site.Pages "Kind" "page" )}}
        {{$scratch.Add "total" .WordCount}}
    {{ end }}
    {{$totalWord := $scratch.Get "total" }}

    {{$categoryCounts := dict}}
    {{$totalArticles := $articleCount}}

    <style>
        #heatmap,
        #annual,
        #category {
            max-width: 800px;
            width: 92%;
            height: 110px;
            margin: 2rem auto;
        }
        #annual,
        #category {
            height: 30rem;
        }
        @media only screen and (max-width: 680px) {
            #heatmap {
                display: none;
            }
        }

    </style>
    <div class="page single archive">
        {{- /* Title */ -}}
        <h1 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h1>

        <div class="content">
            <div class="greyQuote">
                <blockquote>
                    <span>文章：<strong><a href="/stats/">{{- $articleCount -}}</a></strong> 篇；</span>
                    <span>页面：<strong><a href="/stats/">{{- $pageCount -}}</a></strong> 篇；</span>
                    <span>分类：<strong><a href="/categories/">{{- $categoryCount -}}</a></strong> 个；</span>
                    <span>标签：<strong><a href="/tags/">{{- $tagCount -}}</a></strong> 个；</a></strong></span>
                    <span>总字数：<strong><a href="/stats/">{{- $totalWord -}}</a></strong> 字。</span>
                </blockquote>
            </div>
        </div>
        <!-- <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script> -->
        <script src="/assets/js/echarts.min.js"></script>
        <div id="heatmap"></div>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- partial "recentlyUpdated.html" . -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title -}}
                        </a>
                        <span class="archive-item-date">
                            {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                        </span>
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}

        <!-- <div id="annual"></div> -->
        <!-- <div id="category"></div> -->

        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", function() {
            var heatmapDom = echarts.init(document.getElementById('heatmap'));
            // var annualDom = echarts.init(document.getElementById('annual'));
            // var categoryDom = echarts.init(document.getElementById('category'));
            window.onresize = function() {
                myChart.resize();
            };
            var categoryData = [
                {
                    name: '日志（398）',
                    value: 398
                },
                {
                    name: '代码（74）',
                    value: 74
                },
                {
                    name: '分享（71）',
                    value: 71
                },
                {
                    name: '山贼（10）',
                    value: 10
                }
            ];
            var categoryOption = {
                title: [
                    {
                    text: '分类统计图',
                    left: 'center',
                    top: '2%'
                    }
                ],
                series: [
                    {
                    type: 'pie',
                    radius: '80%',
                    center: ['50%', '50%'],
                    data: categoryData,
                    animation: false,
                    label: {
                        position: 'outer',
                        alignTo: 'edge',
                        margin: 10
                    },
                    left: '0',
                    right: 0,
                    top: 0,
                    bottom: 0
                    }
                ]
            }

            var annualOption = {
                title: {
                    text: '年份统计图',
                    top: '2%',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['所有文章', '日志', '代码', '分享', '山贼'],
                    top: '10%'
                },
                grid: {
                    left: '5%',
                    right: '5%',
                    bottom: '5%',
                    top: '20%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                    saveAsImage: {
                        title: '保存为图片'
                    }
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                    name: '所有文章',
                    type: 'line',
                    stack: '总量',
                    data: ['3', '0', '68', '7', '90', '140', '34', '26', '4', '28', '33', '28', '4', '25', '16', '7', '12', '18', '4']
                    },
                    {
                    name: '日志',
                    type: 'line',
                    stack: '总量',
                    data: ['3', '0', '69', '7', '62', '122', '33', '23', '3', '19', '13', '16', '2', '7', '5', '4', '6', '5', '2']
                    },
                    {
                    name: '代码',
                    type: 'line',
                    stack: '总量',
                    data: ['0', '0', '0', '0', '0', '0', '0', '1', '0', '6', '15', '4', '0', '14', '10', '3', '5', '11', '2']
                    },
                    {
                    name: '分享',
                    type: 'line',
                    stack: '总量',
                    data: ['0', '0', '1', '0', '33', '10', '2', '1', '1', '4', '5', '8', '2', '3', '1', '0', '1', '2', '0']
                    },
                    {
                    name: '山贼',
                    type: 'line',
                    stack: '总量',
                    data: ['0', '0', '0', '0', '1', '8', '0', '1', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']
                    }
                ]
            };

            var option;
            var dataMap = new Map();
            {{ range ((where .Site.RegularPages "Type" "posts")) }}
                var key = {{ .Date.Format "2006-01-02" }};
                var value = dataMap.get(key);
                var link = {{ .RelPermalink}};
                var title = {{ .Title }};

                // multiple posts in same day
                if (value == null) {
                dataMap.set(key, [{link, title}]);
                } else {
                value.push({link, title});
                }
            {{- end -}}

            var data = [];
            for (const [key, value] of dataMap.entries()) {
                data.push([key, value.length]);
            }

            var startDate = new Date();
            var year_Mill = startDate.setFullYear((startDate.getFullYear() - 1));
            var startDate = +new Date(year_Mill);
            var endDate = +new Date();

            startDate = echarts.format.formatTime('yyyy-MM-dd', startDate);
            endDate = echarts.format.formatTime('yyyy-MM-dd', endDate);

            var lightTheme = {
                backgroundColor: '#fff',
                cubeColor:'#ebedf0',
                highlightColor: ['#006bee'],
                dateColor: '#1f2328',
                textBgColor: '#fff',
                borderColor:'rgba(0, 0, 0, 0.0)',
            };

            var darkTheme = {
                backgroundColor: '#34363a',
                cubeColor:'#666',
                highlightColor: ['#006bee'],
                dateColor: '#666',
                textBgColor: '#28292a',
                borderColor:'rgba(0, 0, 0, 0.0)',
            };

            var currentTheme = getCurrentTheme();

            function getCurrentTheme() {
                const localStorageTheme = localStorage.getItem('theme');

                if (localStorageTheme === 'dark') {
                    return darkTheme;
                } else if (localStorageTheme === 'black') {
                    return darkTheme;
                } else if (localStorageTheme === 'light') {
                    return lightTheme;
                } else if (localStorageTheme === 'auto') {
                    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        return darkTheme;
                    } else {
                        return lightTheme;
                    }
                }
            }

            option = {
                tooltip: {
                    hideDelay: 1000,
                    enterable: true,
                    backgroundColor: currentTheme.textBgColor,
                    borderWidth: 0,
                    formatter: function (p) {
                        const date = p.data[0];
                        const posts = dataMap.get(date);
                        var content = `<span style="font-size: 0.75rem;font-family: var(--font-family-code);">${date}</span>`;
                        for (const [i, post] of posts.entries()) {
                            content += "<br>";
                            var link = post.link;
                            var title = post.title;
                            content += `<a href="${link}" target="_blank">${title}</a>` + '<br>';
                        }
                        return content;
                        }
                },
                visualMap: {
                    show: false,
                    inRange: {
                        color: currentTheme.highlightColor
                    },
                },
                calendar: {
                    left: 20,
                    top:20,
                    bottom:0,
                    right: 0,
                    cellSize: ['auto', 13],
                    range: [startDate, endDate],
                    itemStyle: {
                        color: currentTheme.cubeColor,
                        borderWidth: 3.5,
                        borderColor: currentTheme.backgroundColor,
                    },
                    yearLabel: { show: false },
                    monthLabel: {
                    nameMap: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    textStyle: {
                        color: currentTheme.dateColor,
                    }
                },
                    dayLabel: {
                        firstDay: 1,
                        nameMap: ['日', '一', '', '三', '', '五', ''],
                        textStyle: {
                            color: currentTheme.dateColor
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: currentTheme.borderColor,
                        }
                    }
                },
                series: {
                    type: 'heatmap',
                    coordinateSystem: 'calendar',
                    data: data,
                }
            };
            // annualDom.setOption(annualOption);
            // categoryDom.setOption(categoryOption);
            heatmapDom.setOption(option);
            heatmapDom.on('click', function(params) {
                if (params.componentType === 'series') {
                const post = dataMap.get(params.data[0])[0];
                const link = window.location.origin + post.link;
                window.open(link, '_blank').focus();
                }
            });

            const observer = new MutationObserver((mutations) => {
                mutations.forEach((mutation) => {
                    if (mutation.attributeName === 'theme') {
                    currentTheme = getCurrentTheme();
                    updateOption();
                    heatmapDom.setOption(option);
                    }
                });
            });

            function updateOption() {
                option.tooltip.backgroundColor = currentTheme.textBgColor;
                option.visualMap.inRange.color = currentTheme.highlightColor;
                option.calendar.itemStyle.color = currentTheme.cubeColor;
                option.calendar.itemStyle.borderColor = currentTheme.backgroundColor;
                option.calendar.monthLabel.textStyle.color = currentTheme.dateColor;
                option.calendar.dayLabel.textStyle.color = currentTheme.dateColor;
                option.calendar.splitLine.lineStyle.color = currentTheme.borderColor;
            }

            observer.observe(document.querySelector('body'), { attributes: true });
        });
        </script>

    </div>
{{- end -}}
