{{- define "title" }}
    {{- if (gt .Paginator.PageNumber 1) -}}
        {{ $pageNumber := printf "%v %v %v" (T "prefixPageNumber" ) .Paginator.PageNumber (T "suffixPageNumber" ) }}
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} {{ $pageNumber }} - {{ .Site.Title -}}
    {{- else -}}
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
    {{- end -}}
{{- end -}}

{{- define "content" -}}

    {{$articleCount := 0}}
    {{$pageCount := 0}}
    {{$categoryCount := 0}}
    {{$categories := slice}}
    {{$tagCount := 0}}
    {{$tags := slice}}
        {{range .Site.RegularPages}}
            {{if eq .Type "posts"}}
                {{$articleCount = add $articleCount 1}}
            {{end}}
            {{if eq .Params.type "page"}}
                {{$pageCount = add $pageCount 1}}
            {{end}}
            {{if .Params.categories}}
                {{$categories = union $categories .Params.categories}}
            {{end}}
            {{if .Params.tags}}
                {{$tags = union $tags .Params.tags}}
            {{end}}
        {{end}}
    {{$categoryCount = len $categories}}
    {{$tagCount = len $tags}}

    {{$scratch := newScratch}}
    {{ range (where .Site.Pages "Kind" "page" )}}
        {{$scratch.Add "total" .WordCount}}
    {{ end }}
    {{$totalWords := $scratch.Get "total" }}

    {{$categoryCounts := dict}}
    {{$totalArticles := $articleCount}}

    <style>
        #heatmap,
        #annual,
        #category {
            max-width: 800px;
            width: 92%;
            height: 110px;
            margin: 2rem auto;
        }
        #annual,
        #category {
            height: 30rem;
        }

    </style>
    <div class="page single archive">
        {{- /* Title */ -}}
        <h1 class="single-title animate__animated animate__pulse animate__faster">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h1>

        <div class="content">
            <div class="greyQuote">
                <blockquote>
                    <span>{{ T `stats_blogs` | safeHTML }}<strong><a href="/stats/">{{- $articleCount -}}</a></strong>  {{ T `stats_blogs_suffix` | safeHTML }}</span>
                    <span>{{ T `stats_pages` | safeHTML }}<strong><a href="/stats/">{{- $pageCount -}}</a></strong> {{ T `stats_pages_suffix` | safeHTML }}</span>
                    <span>{{ T `stats_categories` | safeHTML }}<strong><a href="/categories/">{{- $categoryCount -}}</a></strong> {{ T `stats_categories_suffix` | safeHTML }}</span>
                    <span>{{ T `stats_series` | safeHTML }}<strong><a href="/series/">3 </a></strong> {{ T `stats_series_suffix` | safeHTML }}</span>
                    <span>{{ T `stats_tags` | safeHTML }}<strong><a href="/tags/">{{- $tagCount -}}</a></strong> {{ T `stats_tags_suffix` | safeHTML }}</a></strong></span>
                    <span>{{ T `stats_wordcount` | safeHTML }}<strong><a href="/stats/">{{- $totalWords -}}</a></strong> {{ T `stats_wordcount_suffix` | safeHTML }}</span>
                </blockquote>
            </div>
        </div>

        {{- /* ECharts js */ -}}
        {{ $EChartsJS := resources.Get "lib/echarts/echarts.min.js" | resources.Minify | resources.Fingerprint "sha256" }}
        <script type="text/javascript" src="{{ $EChartsJS.RelPermalink }}" integrity="{{ $EChartsJS.Data.Integrity }}" crossorigin="anonymous"></script>

        <div id="heatmap"></div>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.section.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- partial "recentlyUpdated.html" . -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                    <article class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title -}}
                        </a>
                        <span class="archive-item-date">
                            {{- $.Site.Params.section.dateFormat | default "01-02" | .Date.Format -}}
                        </span>
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}

        <script type="text/javascript">
            var chartDom = document.getElementById('heatmap');
            var myChart = echarts.init(chartDom);
            window.onresize = function() {
                myChart.resize();
            };
            var option;
            var dataMap = new Map();
            {{ range ((where .Site.RegularPages "Type" "posts")) }}
                var key = {{ .Date.Format "2006-01-02" }};
                var value = dataMap.get(key);
                var link = {{ .RelPermalink}};
                var title = {{ .Title }};

                // multiple posts in same day
                if (value == null) {
                dataMap.set(key, [{link, title}]);
                } else {
                value.push({link, title});
                }
            {{- end -}}

            var data = [];
            for (const [key, value] of dataMap.entries()) {
                data.push([key, value.length]);
            }

                var endDate = new Date();
                var startDate = new Date(endDate);

                // 获取屏幕宽度
                var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

                // 如果屏幕宽度适配 DoIt 主题
                if (screenWidth >= 1440) {
                    startDate.setFullYear(startDate.getFullYear() - 1);
                } else if (screenWidth >= 1200) {
                    startDate.setMonth(startDate.getMonth() - 10);
                } else if (screenWidth >= 1000) {
                    startDate.setMonth(startDate.getMonth() - 9);
                } else if (screenWidth >= 768) {
                    startDate.setMonth(startDate.getMonth() - 10);
                } else if (screenWidth >= 680) {
                    startDate.setMonth(startDate.getMonth() - 6);
                } else if (screenWidth >= 400) {
                    startDate.setMonth(startDate.getMonth() - 5);
                } else if (screenWidth >= 300) {
                    startDate.setMonth(startDate.getMonth() - 4);
                } else {
                    startDate.setFullYear(startDate.getFullYear() - 1);
                }

            startDate = +startDate;
            endDate = +endDate;

            startDate = echarts.format.formatTime('yyyy-MM-dd', startDate);
            endDate = echarts.format.formatTime('yyyy-MM-dd', endDate);

            // 定义明亮模式下的颜色方案
            var lightTheme = {
                backgroundColor: '#fff',
                cubeColor:'#ebedf0',
                highlightColor: ['#006bee'],
                dateColor: '#1f2328',
                textBgColor: '#fff',
                borderColor:'rgba(0, 0, 0, 0.0)',
            };

            // 定义暗黑模式下的颜色方案
            var darkTheme = {
                backgroundColor: '#34363a',
                cubeColor:'#666',
                highlightColor: ['#006bee'],
                dateColor: '#666',
                textBgColor: '#28292a',
                borderColor:'rgba(0, 0, 0, 0.0)',
            };

            // 检测浏览器主题模式并选择颜色方案
            var currentTheme = getCurrentTheme();

            function getCurrentTheme() {
                const localStorageTheme = localStorage.getItem('theme');

                if (localStorageTheme === 'dark') {
                    return darkTheme;
                } else if (localStorageTheme === 'black') {
                    return darkTheme;
                } else if (localStorageTheme === 'light') {
                    return lightTheme;
                } else if (localStorageTheme === 'auto') {
                    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                        return darkTheme;
                    } else {
                        return lightTheme;
                    }
                }
            }

            option = {
                tooltip: {
                    hideDelay: 1000,
                    enterable: true,
                    backgroundColor: currentTheme.textBgColor,
                    borderWidth: 0, // 边框宽度为0
                    formatter: function (p) {
                        const date = p.data[0];
                        const posts = dataMap.get(date);
                        const formattedDate = new Date(date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });
                        var content = `<span style="font-size: 0.75rem;font-family: var(--font-family-code);">${formattedDate}</span>`;
                        for (const [i, post] of posts.entries()) {
                            content += "<br>";
                            var link = post.link;
                            var title = post.title;
                            content += `<a href="${link}" target="_blank">《${title}》</a>` + '<br>';
                        }
                        return content;
                        }
                },
                visualMap: {
                    show: false,
                    inRange: {
                        color: currentTheme.highlightColor
                    },
                },
                calendar: {
                    left: 20,
                    top:20,
                    bottom:0,
                    right: 0,
                    cellSize: ['auto', 13],
                    range: [startDate, endDate],
                    itemStyle: {
                        color: currentTheme.cubeColor,
                        borderWidth: 3.5,
                        borderColor: currentTheme.backgroundColor,
                    },
                    yearLabel: { show: false },
                    monthLabel: {
                    nameMap: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    textStyle: {
                        color: currentTheme.dateColor,
                    }
                },
                    dayLabel: {
                        firstDay: 1,
                        nameMap: ['日', '一', '', '三', '', '五', ''],
                        textStyle: {
                            color: currentTheme.dateColor
                        }
                    },
                    splitLine: {
                        lineStyle: {
                            color: currentTheme.borderColor,
                        }
                    }
                },
                series: {
                    type: 'heatmap',
                    coordinateSystem: 'calendar',
                    data: data,
                }
            };

            myChart.setOption(option);
            myChart.on('click', function(params) {
                if (params.componentType === 'series') {
                // open the first post on the day
                const post = dataMap.get(params.data[0])[0];
                const link = window.location.origin + post.link;
                window.open(link, '_blank').focus();
                }
            });

            const observer = new MutationObserver((mutations) => {
                mutations.forEach((mutation) => {
                    if (mutation.attributeName === 'theme') {
                    currentTheme = getCurrentTheme();
                    updateOption();
                    myChart.setOption(option);
                    }
                });
            });

            function updateOption() {
                option.tooltip.backgroundColor = currentTheme.textBgColor;
                option.visualMap.inRange.color = currentTheme.highlightColor;
                option.calendar.itemStyle.color = currentTheme.cubeColor;
                option.calendar.itemStyle.borderColor = currentTheme.backgroundColor;
                option.calendar.monthLabel.textStyle.color = currentTheme.dateColor;
                option.calendar.dayLabel.textStyle.color = currentTheme.dateColor;
                option.calendar.splitLine.lineStyle.color = currentTheme.borderColor;
            }

            observer.observe(document.querySelector('body'), { attributes: true });

        </script>

    </div>
{{- end -}}
