{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}

{{- /* ECharts js */ -}}
{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}

{{- $source := $cdn.echartsJS | default "lib/echarts/echarts.min.js" -}}
{{- dict "Source" $source "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}
{{- $source := $cdn.echartsMacaronsJS | default "lib/echarts/macarons.min.js" -}}
{{- dict "Source" $source "Minify" true "Fingerprint" $fingerprint "Defer" true | dict "Scratch" .Scratch "Data" | partial "scratch/script.html" -}}

{{- /* Stats */ -}}
{{$articleCount := 0}}
{{$pageCount := 0}}
{{$categoryCount := 0}}
{{$categories := slice}}
{{$tagCount := 0}}
{{$tags := slice}}
    {{range .Site.RegularPages}}
        {{if eq .Type "posts"}}
            {{$articleCount = add $articleCount 1}}
        {{end}}
        {{if eq .Params.type "page"}}
            {{$pageCount = add $pageCount 1}}
        {{end}}
        {{if .Params.categories}}
            {{$categories = union $categories .Params.categories}}
        {{end}}
        {{if .Params.tags}}
            {{$tags = union $tags .Params.tags}}
        {{end}}
    {{end}}

{{ $posts := where .Site.RegularPages "Type" "posts" }}
{{ $stats := slice }}
{{ range $posts }}
    {{ $date := .Date.Format "2006" }}
    {{ $categories := .Params.categories }}
    {{ $stats = $stats | append (dict "date" $date "categories" $categories) }}
{{ end }}

{{$categoryCount = len $categories}}
{{$tagCount = len $tags}}

{{$scratch := newScratch}}
{{ range (where .Site.Pages "Kind" "page" )}}
    {{$scratch.Add "total" .WordCount}}
{{ end }}
{{$totalWords := $scratch.Get "total" }}

{{$categoryCounts := dict}}
{{$totalArticles := $articleCount}}

{{ $mastodon := getJSON "data/mastodon/mastodon.json" }}
{{ $statusesCount := index $mastodon 0 "account" "statuses_count" }}

{{ $neodbCount := getJSON "data/neodb/movie_details.json" }}
{{ $pentaCount := getJSON "data/penta/penta.json" }}

{{- $steam_web_api_url := "https://steam-web-api.eallion.com/ownedgames" -}}
{{- $steam_web_api := getJSON "data/steam/steam_web_api.json" -}}
{{- $steamCount :=$steam_web_api.response.game_count -}}

<style>
    #heatmap,
    #annual,
    #category {
        max-width: 800px;
        width: 92%;
        height: 110px;
        margin: 0 auto;
    }

    #annual,
    #category {
        height: 30rem;
    }
</style>

    <div class="page single archive">
        {{- /* Title */ -}}
        <h1 class="single-title animate__animated animate__pulse animate__faster">
            {{ .Title }}
        </h1>

        <div id="content" class="content">
            <div class="">
                <ul>
                    <li>{{ T `stats_blogs` | safeHTML }}<strong><a href="/posts/">{{- $articleCount -}}</a></strong> {{ T `stats_blogs_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_pages` | safeHTML }}<strong><a href="/stats/">{{- $pageCount -}}</a></strong> {{ T `stats_pages_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_authors` | safeHTML }}<strong><a href="/authors/">2 </a></strong> {{ T `stats_authors_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_categories` | safeHTML }}<strong><a href="/categories/">{{- $categoryCount -}}</a></strong> {{ T `stats_categories_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_series` | safeHTML }}<strong><a href="/series/">3 </a></strong> {{ T `stats_series_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_tags` | safeHTML }}<strong><a href="/tags/">{{- $tagCount -}}</a></strong> {{ T `stats_tags_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_links` | safeHTML }}<strong><a href="/links/">26 </a></strong> {{ T `stats_links_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_wordcount` | safeHTML }}<strong><a href="/stats/">{{- $totalWords -}}</a></strong> {{ T `stats_wordcount_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_mastodon` | safeHTML }}<strong><a href="/toot/">{{- $statusesCount -}}</a></strong> {{ T `stats_mastodon_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_neodb` | safeHTML }}<strong><a href="/media/">{{- len $neodbCount -}}</a></strong> {{ T `stats_neodb_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_steam` | safeHTML }}<strong><a href="/steam/">{{- $steamCount -}}</a></strong> {{ T `stats_steam_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_penta` | safeHTML }}<strong><a href="/penta/">{{- len $pentaCount.penta -}}</a></strong> {{ T `stats_penta_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_views` | safeHTML }}<a>99<sup>+</sup></a> {{ T `stats_views_suffix` | safeHTML }}</li>
                    <li>{{ T `stats_comments` | safeHTML }}<a>99<sup>+</sup> </a>{{ T `stats_comments_suffix` | safeHTML }}</li>
                </ul>
            </div>

            <h3 id="{{ T `stats_heatmap` | safeHTML }}" class="headerLink"><a href="#{{ T `stats_heatmap` | safeHTML }}" class="header-mark" title="header-mark"></a>{{ T `stats_heatmap` | safeHTML }}</h3>
            <div id="heatmap"></div>

            <h3 id="{{ T `stats_annual_header` | safeHTML }}" class="headerLink"><a href="#{{ T `stats_annual_header` | safeHTML }}" class="header-mark" title="header-mark"></a>{{ T `stats_annual_header` | safeHTML }}</h3>
            <div id="annual" data-stats="{{- $.Scratch.Get "stats" -}}"></div>

            <h3 id="{{ T `stats_category_header` | safeHTML }}" class="headerLink"><a href="#{{ T `stats_category_header` | safeHTML }}" class="header-mark" title="header-mark"></a>{{ T `stats_category_header` | safeHTML }}</h3>
            <div id="category"></div>

            {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}

            <script type="text/javascript">
                // 生成热力图
                (function() {
                document.addEventListener("DOMContentLoaded", function() {
                    var heatmapChart = echarts.init(document.getElementById("heatmap"));
                    window.onresize = function() {
                        heatmapChart.resize();
                    };

                    var option;
                    var dataMap = new Map();
                    {{ range ((where .Site.RegularPages "Type" "posts")) }}
                        var key = {{ .Date.Format "2006-01-02" }};
                        var value = dataMap.get(key);
                        var link = {{ .RelPermalink}};
                        var title = {{ .Title }};

                        // multiple posts in same day
                        if (value == null) {
                        dataMap.set(key, [{link, title}]);
                        } else {
                        value.push({link, title});
                        }
                    {{- end -}}

                    var data = [];
                    for (const [key, value] of dataMap.entries()) {
                        data.push([key, value.length]);
                    }

                    var endDate = new Date();
                    var startDate = new Date(endDate);

                    // 获取屏幕宽度
                    var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

                    // 如果屏幕宽度适配 DoIt 主题
                    if (screenWidth >= 1440) {
                        startDate.setFullYear(startDate.getFullYear() - 1);
                    } else if (screenWidth >= 1200) {
                        startDate.setMonth(startDate.getMonth() - 10);
                    } else if (screenWidth >= 1000) {
                        startDate.setMonth(startDate.getMonth() - 9);
                    } else if (screenWidth >= 768) {
                        startDate.setMonth(startDate.getMonth() - 10);
                    } else if (screenWidth >= 680) {
                        startDate.setMonth(startDate.getMonth() - 6);
                    } else if (screenWidth >= 400) {
                        startDate.setMonth(startDate.getMonth() - 5);
                    } else if (screenWidth >= 300) {
                        startDate.setMonth(startDate.getMonth() - 4);
                    } else {
                        startDate.setFullYear(startDate.getFullYear() - 1);
                    }

                    startDate = +startDate;
                    endDate = +endDate;

                    startDate = echarts.format.formatTime('yyyy-MM-dd', startDate);
                    endDate = echarts.format.formatTime('yyyy-MM-dd', endDate);

                    var lightTheme = {
                        backgroundColor: '#fff',
                        cubeColor:'#ebedf0',
                        highlightColor: ['#006bee'],
                        dateColor: '#1f2328',
                        textBgColor: '#fff',
                        borderColor:'rgba(0, 0, 0, 0.0)',
                    };

                    var darkTheme = {
                        backgroundColor: '#34363a',
                        cubeColor:'#666',
                        highlightColor: ['#006bee'],
                        dateColor: '#666',
                        textBgColor: '#28292a',
                        borderColor:'rgba(0, 0, 0, 0.0)',
                    };

                    var currentTheme = getCurrentTheme();

                    function getCurrentTheme() {
                        const localStorageTheme = localStorage.getItem('theme');

                        if (localStorageTheme === 'dark') {
                            return darkTheme;
                        } else if (localStorageTheme === 'black') {
                            return darkTheme;
                        } else if (localStorageTheme === 'light') {
                            return lightTheme;
                        } else if (localStorageTheme === 'auto') {
                            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                                return darkTheme;
                            } else {
                                return lightTheme;
                            }
                        }
                    }

                    option = {
                        tooltip: {
                            hideDelay: 1000,
                            enterable: true,
                            backgroundColor: currentTheme.textBgColor,
                            borderWidth: 0,
                            formatter: function (p) {
                                const date = p.data[0];
                                const posts = dataMap.get(date);
                                const formattedDate = new Date(date).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });
                                var content = `<span style="font-size: 0.75rem;font-family: var(--font-family-code);">${formattedDate}</span>`;
                                for (const [i, post] of posts.entries()) {
                                    content += "<br>";
                                    var link = post.link;
                                    var title = post.title;
                                    content += `<a href="${link}" target="_blank">《${title}》</a>` + '<br>';
                                }
                                return content;
                                }
                        },
                        visualMap: {
                            show: false,
                            inRange: {
                                color: currentTheme.highlightColor
                            },
                        },
                        calendar: {
                            left: 20,
                            top:20,
                            bottom:0,
                            right: 0,
                            cellSize: ['auto', 13],
                            range: [startDate, endDate],
                            itemStyle: {
                                color: currentTheme.cubeColor,
                                borderWidth: 3.5,
                                borderColor: currentTheme.backgroundColor,
                            },
                            yearLabel: { show: false },
                            monthLabel: {
                                nameMap: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                                textStyle: {
                                    color: currentTheme.dateColor,
                            }
                        },
                            dayLabel: {
                                firstDay: 1,
                                nameMap: ['日', '一', '', '三', '', '五', ''],
                                textStyle: {
                                    color: currentTheme.dateColor
                                }
                            },
                            splitLine: {
                                lineStyle: {
                                    color: currentTheme.borderColor,
                                }
                            }
                        },
                        series: {
                            type: 'heatmap',
                            coordinateSystem: 'calendar',
                            data: data,
                        }
                    };

                    heatmapChart.setOption(option);
                    heatmapChart.on('click', function(params) {
                        if (params.componentType === 'series') {
                        const post = dataMap.get(params.data[0])[0];
                        const link = window.location.origin + post.link;
                        window.open(link, '_blank').focus();
                        }
                    });

                    const observer = new MutationObserver((mutations) => {
                        mutations.forEach((mutation) => {
                            if (mutation.attributeName === 'theme') {
                            currentTheme = getCurrentTheme();
                            updateOption();
                            heatmapChart.setOption(option);
                            }
                        });
                    });

                    function updateOption() {
                        option.tooltip.backgroundColor = currentTheme.textBgColor;
                        option.visualMap.inRange.color = currentTheme.highlightColor;
                        option.calendar.itemStyle.color = currentTheme.cubeColor;
                        option.calendar.itemStyle.borderColor = currentTheme.backgroundColor;
                        option.calendar.monthLabel.textStyle.color = currentTheme.dateColor;
                        option.calendar.dayLabel.textStyle.color = currentTheme.dateColor;
                        option.calendar.splitLine.lineStyle.color = currentTheme.borderColor;
                    }

                    observer.observe(document.querySelector('body'), { attributes: true });
                    });
                })();
            </script>

            <script type="text/javascript">
                // 按年统计
                (function() {
                    document.addEventListener("DOMContentLoaded", function() {
                        var chartDom = document.getElementById('annual');
                        var myChart = echarts.init(chartDom, 'macarons');
                        var option;

                        // 获取文章数据
                        var articles = {{ $stats }};
                        // 获取分类数据
                        // var categories = ['所有文章', '日志', '代码', '分享', '山贼'];
                        // 获取分类数据

                        var categories = [];

                        articles.forEach(function(article) {
                            article.categories.forEach(function(category) {
                                if (!categories.includes(category)) {
                                    categories.push(category);
                                }
                            });
                        });

                        categories.unshift('{{ T `stats_total_posts` | safeHTML }}');

                        // 构造 x 轴数据
                        var currentYear = new Date().getFullYear();
                        var years = [];
                        for (var i = 2006; i <= currentYear; i++) {
                            years.push(i.toString());
                        }

                        // 构造分类数据
                        var seriesData = [];
                        for (var j = 1; j< categories.length; j++) {
                            var category = categories[j];
                            var categoryData = [];
                            for (var k = 0; k< years.length; k++) {
                                var year = years[k];
                                var count = articles.filter(function(article) {
                                    return article.date === year && article.categories.includes(category);
                                }).length;
                                categoryData.push(count);
                            }
                            seriesData.push({
                                name: category,
                                type: 'line',
                                data: categoryData
                            });
                        }

                        // 添加总文章数量序列
                        var totalData = [];
                        for (var k = 0; k< years.length; k++) {
                            var year = years[k];
                            var count = articles.filter(function(article) {
                                return article.date === year;
                            }).length;
                            totalData.push(count);
                        }
                        seriesData.unshift({
                            name: '{{ T `stats_total_posts` | safeHTML }}',
                            type: 'line',
                            stack: 'Total',
                            data: totalData
                        });

                        option = {
                            title: {
                                text: '{{ T `stats_annual_header` | safeHTML }}',
                                top: '2%',
                                left: 'center'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data: categories,
                                top: '10%'
                            },
                            grid: {
                                left: '5%',
                                right: '5%',
                                bottom: '5%',
                                top: '20%',
                                containLabel: true
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {
                                        title: '{{ T `stats_save_as_image` | safeHTML }}'
                                    }
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: years
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series: seriesData
                        };

                        option && myChart.setOption(option);
                    });
                })();
            </script>

            <script type="text/javascript">
                // 按分类统计
                (function() {
                    document.addEventListener("DOMContentLoaded", function() {
                        var chartDom = document.getElementById('category');
                        var myChart = echarts.init(chartDom, 'macarons');
                        var option;

                        var data = [];

                        {{ range $category, $pages := .Site.Taxonomies.categories }}
                            var category = "{{ $category }}";
                            var count = {{ len $pages }};
                            data.push({ value: count, name: category + '（' + count + '）' });
                        {{ end }}

                        data.sort(function(a, b) {
                            return b.value - a.value;
                        });

                        option = {
                            title: {
                                text: '{{ T `stats_category_header` | safeHTML }}',
                                top: "2%",
                                left: "center"
                            },
                            tooltip: {
                                trigger: 'item'
                            },
                            legend: {
                                top: '10%',
                                left: 'center'
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {
                                        title: "{{ T `stats_save_as_image` | safeHTML }}"
                                    }
                                }
                            },
                            series: [
                                {
                                name: '按分类统计',
                                type: 'pie',
                                radius: ['40%', '80%'],
                                top: '10%',
                                avoidLabelOverlap: false,
                                padAngle: 1,
                                itemStyle: {
                                    borderRadius: 10
                                },
                                label: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    label: {
                                    show: true,
                                    fontSize: 24,
                                    fontWeight: 'bold'
                                    }
                                },
                                labelLine: {
                                    show: false
                                },
                                data: data
                                }
                            ],
                        };
                        option.legend.data = data.map(function(item) { return item.name; });
                        option && myChart.setOption(option);
                    });
                })();
            </script>

            {{- /* Tag Cloud Page */ -}}
            <style>
                .tags-shields {
                    display: flex;
                    height: 20px;
                    overflow: hidden;
                    align-items: center;
                    border-radius: 4px;
                }
                .tags-shields-before {
                    font-size: 12px;
                    padding: 0 4px 0 6px;
                    background-color: #595959;
                    color: #fff;
                    display: inline-block;
                    vertical-align: middle;
                }

                .tags-shields-after {
                    font-size: 10px;
                    padding: 0 6px 0 4px;
                    background-color: #0274b5;
                    color: #fff;
                    display: inline-block;
                    vertical-align: middle;
                }
                .tags-count-1 {
                    background-color: #0274b5;
                }
                .tags-count-2 {
                    background-color: #3b8dbf;
                }
                .tags-count-3 {
                    background-color: #8ab802;
                }
                .tags-count-4 {
                    background-color: #008000;
                }
                .tags-count-5 {
                    background-color: #dab226;
                }
                .tags-count-6 {
                    background-color: #e77334;
                }
                .tags-count-7 {
                    background-color: #cc5640;
                }
                .tags-count-8 {
                    background-color: #e6adb7;
                }
                .tags-count-9 {
                    background-color: #740174;
                }
                .tags-count-10,
                .tags-count-11,
                .tags-count-12,
                .tags-count-13,
                .tags-count-14,
                .tags-count-15,
                .tags-count-16,
                .tags-count-17,
                .tags-count-18,
                .tags-count-19 {
                    background-color: orange;
                }
                .tags-count-20,
                .tags-count-21,
                .tags-count-22,
                .tags-count-23,
                .tags-count-24,
                .tags-count-25,
                .tags-count-26,
                .tags-count-27,
                .tags-count-28,
                .tags-count-29 {
                    background-color: orangered;
                }
                .tags-count-30,
                .tags-count-31,
                .tags-count-32,
                .tags-count-33,
                .tags-count-34,
                .tags-count-35,
                .tags-count-36,
                .tags-count-37,
                .tags-count-38,
                .tags-count-39,
                .tags-count-40,
                .tags-count-41,
                .tags-count-42,
                .tags-count-43,
                .tags-count-44,
                .tags-count-45,
                .tags-count-46,
                .tags-count-47,
                .tags-count-48,
                .tags-count-49,
                .tags-count-50 {
                    background-color: red;
                }
            </style>
            <h3 id="{{ T `stats_tag_cloud` | safeHTML }}" class="headerLink"><a href="#{{ T `stats_tag_cloud` | safeHTML }}" class="header-mark" title="header-mark"></a><a href="/tags/">{{ T `stats_tag_cloud` | safeHTML }}</a></h3>
            <div class="tag-cloud-tags">
                {{- range $.Site.Taxonomies.tags.ByCount -}}
                    <a href="{{ .Page.RelPermalink }}"><div class="tags-shields"><div class="tags-shields-before">{{ .Page.Title }}</div><div class="tags-shields-after tags-count-{{ .Count }}">{{ .Count }}</div></div></a>
                {{- end -}}
            </div>

            <!--
            <script>
                // 超时函数
                function timeout(ms) {
                    return new Promise((_, reject) => setTimeout(() => reject(new Error('Request timeout')), ms));
                }

                // NeoDB 数量
                // 发起请求并处理响应
                // Promise.race([
                //     fetch('https://neodb.eallion.com/api?page=1'),
                //     timeout(5000) // 设置超时时间（以毫秒为单位）
                // ])
                //     .then(response => response.json())
                //     .then(data => {
                //         // 获取 id="neodb-count" 的元素
                //         const neodbElement = document.getElementById('neodb-count');

                //         // 将 count 值插入到元素中
                //         neodbElement.textContent = data.count;
                //     })
                //     .catch(error => {
                //         console.error('Error fetching NeoDB data:', error);
                //     });

                // Mastodon 数量
                // 发起请求并处理响应
                // Promise.race([
                //     fetch('https://memos.eallion.com/api/v1/memo/stats?creatorId=101'),
                //     timeout(5000) // 设置超时时间（以毫秒为单位）
                // ])
                //     .then(response => response.json())
                //     .then(data => {
                //         // 获取 id="mastodon-count" 的元素
                //         const mastodonCountElement = document.getElementById('mastodon-count');

                //         // 计算数组数量
                //         const arrayCount = Object.keys(data).length;

                //         // 将数组数量插入到元素中
                //         mastodonCountElement.textContent = arrayCount;
                //     })
                //     .catch(error => {
                //         console.error('Error fetching Mastodon data:', error);
                //     });

                // Steam 游戏数量
                // 发起请求并处理响应
                Promise.race([
                    fetch('https://steam-web-api.eallion.com/ownedgames'),
                    timeout(5000) // 设置超时时间（以毫秒为单位）
                ])
                    .then(response => response.json())
                    .then(data => {
                        // 获取 id="mastodon-count" 的元素
                        const steamCountElement = document.getElementById('steam-count');

                        // 将 count 值插入到元素中
                        steamCountElement.textContent = data.response.game_count;
                    })
                    .catch(error => {
                        console.error('Error fetching Mastodon data:', error);
                    });
            </script>
            -->

        </div>
    </div>
{{- end -}}
