{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

<link rel="stylesheet" href="/assets/toot/mastodon-timeline.min.css?v=3.9.1">
<link rel="stylesheet" href="/assets/toot/mastodon-timeline-custom.min.css?v=2023.09.29">

<article class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">{{ .Title }}</h1>
    <div id="content" class="content">
        <div class="greyQuote">
            <blockquote>
                <div class="hitokoto">
                    <span id="hitokoto"></span> - <cite><span id="author"></span></cite>
                </div>
            </blockquote>
        </div>
        <div class="dummy-container">
            <div class="mt-timeline">
                <div id="mt-body" class="mt-body" role="feed">
                    <div class="loading-spinner"></div>
                </div>
            </div>
        </div>
    </div>
</article>

<script>
        // Hitokoto API
        if (window.location.href.includes("/en/")) {
            fetch("https://api.github.com/zen")
                .then(response => response.text())
                .then(data => {
                    const zen = document.querySelector('#hitokoto');
                    zen.innerText = data;
                    const author = document.querySelector('#author');
                    author.innerText = "GitHub Zen";
                })
                .catch(console.error);
        } else {
            fetch("https://api.eallion.com/hitokoto?c=k&charset=utf-8&encode=json")
                .then(response => response.json())
                .then(data => {
                    const hitokoto = document.querySelector('#hitokoto');
                    hitokoto.innerText = data.hitokoto;
                    const author = document.querySelector('#author');
                    if (!data.from_who) {
                        author.innerText = data.from;
                    } else {
                        author.innerText = data.from_who;
                    }
                })
                .catch(console.error);
        }
</script>

<script type="text/javascript" src="/assets/toot/moment.min.js?v=2.29.4"></script>

{{ if eq .Site.LanguageCode "en" }}
<script type="text/javascript" src="/assets/toot/moment.twitter.en.min.js"></script>
{{ else }}
<script type="text/javascript" src="/assets/toot/moment.twitter.min.js"></script>
{{ end }}

<script type="text/javascript" src="/assets/toot/mastodon-timeline.min.js?v=3.9.1"></script>

<script type="module" src="/assets/toot/reactions.min.js?v=1.0.11"></script>

{{- end -}}
