{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

<link rel="stylesheet" href="/assets/toot/mastodon-timeline.min.css?v=3.9.1-3.10.4">
<link rel="stylesheet" href="/assets/toot/mastodon-timeline-custom.min.css?v=2023.11.20">

<article class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">{{- .Title -}}</h1>
    <div id="content" class="content">
        <div class="greyQuote">
            <blockquote>
                <div class="hitokoto">
                    <span id="hitokoto">{{ T `toot_motto` | safeHTML }}</span> - <cite><span id="author">{{ T `toot_author` | safeHTML }}</span></cite>
                </div>
            </blockquote>
        </div>

        <div class="dummy-container">
            <div class="mt-timeline">
                <div id="mt-body" class="mt-body" role="feed">
                    {{- $mastodon_api := "https://e5n.cc/api/v1/accounts/111136231674527355/statuses?limit=20&exclude_replies=true&exclude_reblogs=true" -}}
                    {{- $mastodon_local := "data/mastodon/mastodon.json" -}}
                    {{- with resources.GetRemote $mastodon_api }}
                        {{- with .Err }}
                        {{- $ticker := getJSON $mastodon_local -}}
                            {{- range $ticker }}
                                <article class="mt-toot" aria-posinset="1" aria-setsize="20" tabindex="0">
                                    <div class="mt-header"><a href="https://e5n.cc/@eallion" class="mt-avatar" rel="nofollow noopener noreferrer"
                                            target="_blank">
                                            <div class="mt-avatar-image"><img src="/eallion.webp" alt="eallion avatar" loading="lazy"></div>
                                        </a>
                                        <div class="mt-user"><a href="https://e5n.cc/@eallion" rel="nofollow noopener noreferrer" target="_blank">
                                                <div class="mt-nick">Charles Chin</div>
                                                <div class="mt-id">@eallion@e5n.cc</div>
                                            </a></div>
                                    </div>
                                    <div class="toot-text">
                                        <div>
                                            <p>{{- .content | markdownify -}}</p>
                                        </div>
                                        {{- $firstAttachment := index .media_attachments 0 -}}
                                        {{- $length := len .media_attachments }}
                                        {{- if $firstAttachment -}}
                                            <div class="toot-images grid-{{ $length }}" view-image>
                                            {{- range .media_attachments -}}
                                            {{- if .url -}}
                                                <img loading="lazy" class="lazy" src="{{.preview_url}}" data-src="{{.url}}" alt="{{.id}}"/>
                                            {{- end -}}
                                            {{- end -}}
                                            </div>
                                        {{- end -}}
                                    </div>
                                    <div class="toot-footer">
                                        <div class="mt-bar">
                                            <div class="toot-meta">
                                                <div class="toot-date"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                        target="_blank"><span class="twitter-time">{{- .created_at -}}</span></a></div>
                                                <div class="toot-visibility" title="公开"><i class="fas fa-globe-asia"></i></div>
                                                <div class="toot-app"><a href="{{- .application.website | default "https://e5n.cc" -}}"
                                                        rel="nofollow noopener noreferrer" tabindex="-1" target="_blank" title="回复" alt="回复">{{-
                                                        .application.name -}}</a></div>
                                            </div>
                                            <div class="toot-reply"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="回复" alt="回复"><i class="fas fa-reply"></i></a>{{- .replies_count -}}</div>
                                            <div class="toot-retoot"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="转嘟" alt="转嘟"><i class="fas fa-retweet"></i></a>{{- .reblogs_count -}}</div>
                                            <div class="toot-favourite"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="喜欢" alt="喜欢"><i class="fas fa-star"></i></a>{{- .favourites_count -}}</div>
                                            <div class="toot-bookmarked"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="添加到书签" alt="添加到书签"><i class="fas fa-bookmark"></i></a></div>
                                            <div class="toot-more"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="更多" alt="更多"><i class="fas fa-ellipsis-h"></i></a></div>
                                        </div>
                                    </div>
                                </article>
                            {{ end -}}
                        {{- else -}}
                        {{- $ticker := getJSON $mastodon_api -}}
                            {{- range $ticker }}
                                <article class="mt-toot" aria-posinset="1" aria-setsize="20" tabindex="0">
                                    <div class="mt-header"><a href="https://e5n.cc/@eallion" class="mt-avatar" rel="nofollow noopener noreferrer"
                                            target="_blank">
                                            <div class="mt-avatar-image"><img src="/eallion.webp" alt="eallion avatar" loading="lazy"></div>
                                        </a>
                                        <div class="mt-user"><a href="https://e5n.cc/@eallion" rel="nofollow noopener noreferrer" target="_blank">
                                                <div class="mt-nick">Charles Chin</div>
                                                <div class="mt-id">@eallion@e5n.cc</div>
                                            </a></div>
                                    </div>
                                    <div class="toot-text">
                                        <div>
                                            <p>{{- .content | markdownify -}}</p>
                                        </div>
                                        {{- $firstAttachment := index .media_attachments 0 -}}
                                        {{- $length := len .media_attachments }}
                                        {{- if $firstAttachment -}}
                                            <div class="toot-images grid-{{ $length }}" view-image>
                                            {{- range .media_attachments -}}
                                            {{- if .url -}}
                                                <img loading="lazy" class="lazy" src="{{.preview_url}}" data-src="{{.url}}" alt="{{.id}}"/>
                                            {{- end -}}
                                            {{- end -}}
                                            </div>
                                        {{- end -}}
                                    </div>
                                    <div class="toot-footer">
                                        <div class="mt-bar">
                                            <div class="toot-meta">
                                                <div class="toot-date"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                        target="_blank"><span class="twitter-time">{{- .created_at -}}</span></a></div>
                                                <div class="toot-visibility" title="公开"><i class="fas fa-globe-asia"></i></div>
                                                <div class="toot-app"><a href="{{- .application.website | default "https://e5n.cc" -}}"
                                                        rel="nofollow noopener noreferrer" tabindex="-1" target="_blank" title="回复" alt="回复">{{-
                                                        .application.name -}}</a></div>
                                            </div>
                                            <div class="toot-reply"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="回复" alt="回复"><i class="fas fa-reply"></i></a>{{- .replies_count -}}</div>
                                            <div class="toot-retoot"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="转嘟" alt="转嘟"><i class="fas fa-retweet"></i></a>{{- .reblogs_count -}}</div>
                                            <div class="toot-favourite"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="喜欢" alt="喜欢"><i class="fas fa-star"></i></a>{{- .favourites_count -}}</div>
                                            <div class="toot-bookmarked"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="添加到书签" alt="添加到书签"><i class="fas fa-bookmark"></i></a></div>
                                            <div class="toot-more"><a href="{{- .url -}}" rel="nofollow noopener noreferrer" tabindex="-1"
                                                    target="_blank" title="更多" alt="更多"><i class="fas fa-ellipsis-h"></i></a></div>
                                        </div>
                                    </div>
                                </article>
                            {{ end -}}
                        {{ end -}}
                    {{ end -}}


                </div>
                <div class="mt-footer"><a href="https://e5n.cc/@eallion" class="btn" target="_blank"
                        rel="nofollow noopener noreferrer">See more toots at e5n.cc <i class="fas fa-external-link-alt"></i></a></div>
            </div>
        </div>

    </div>
</article>

<!--
<script>
    // Hitokoto API
    if (window.location.href.includes("/en/")) {
        fetch("https://api.github.com/zen")
            .then(response => response.text())
            .then(data => {
                const zen = document.querySelector('#hitokoto');
                zen.innerText = data;
                const author = document.querySelector('#author');
                author.innerText = "GitHub Zen";
            })
            .catch(console.error);
    } else {
        // fetch("https://api.eallion.com/hitokoto?c=k&charset=utf-8&encode=json")
        fetch("https://api.eallion.com/poisonous.json")
            .then(response => response.json())
            .then(data => {
                const hitokoto = document.querySelector('#hitokoto');
                // hitokoto.innerText = data.hitokoto;
                hitokoto.innerText = data.content;
                const author = document.querySelector('#author');
                author.innerText = '佚名';
            })
            .catch(console.error);
    }
</script> -->


<script>
    // 相对时间插件 2.5.2 https://tokinx.github.io/lately/
    (() => {
        let location = window.location.href;
        let isEnglish = location.indexOf("/en/") !== -1;
        window.Lately = new function () {
            this.lang = isEnglish ? {
                'second': ' Seconds',
                'minute': ' Minutes',
                'hour': ' Hours',
                'day': ' Days',
                'month': ' Months',
                'year': ' Years',
                'ago': ' Ago',
                'error': 'NaN'
            } : {
                second: " 秒",
                minute: " 分钟",
                hour: " 小时",
                day: " 天",
                month: " 个月",
                year: " 年",
                ago: "前",
                error: "NaN"
            };
            const format = (date) => {
                date = new Date(_val(date));
                const floor = (num, _lang) => Math.floor(num) + _lang,
                    obj = new function () {
                        this.second = (Date.now() - date.getTime()) / 1000;
                        this.minute = this.second / 60;
                        this.hour = this.minute / 60;
                        this.day = this.hour / 24;
                        this.month = this.day / 30;
                        this.year = this.month / 12
                    },
                    key = Object.keys(obj).reverse().find(_ => obj[_] >= 1);
                return (key ? floor(obj[key], this.lang[key]) : this.lang.error) + this.lang.ago;
            },
                _val = (date) => {
                    date = new Date(date && (typeof date === 'number' ? date : date.replace(/-/g, '/').replace('T', ' ')));
                    return isNaN(date.getTime()) ? false : date.getTime();
                };
            return {
                init: ({ target = "time", lang } = {}) => {
                    if (lang) this.lang = lang;
                    for (let el of document.querySelectorAll(target)) {
                        const date = _val(el.dateTime) || _val(el.title) || _val(el.innerHTML) || 0;
                        if (!date) return;
                        el.title = new Date(date).toLocaleString();
                        el.innerHTML = format(date);
                    }
                },
                format
            }
        }
    })();

    window.Lately && Lately.init({
        target: '.twitter-time'
    });
</script>

<!-- <script type="text/javascript" src="/assets/toot/moment.min.js?v=2.29.4"></script>

{{- if eq .Site.LanguageCode "en" -}}
<script type="text/javascript" src="/assets/toot/moment.twitter.en.min.js"></script>
{{- else -}}
<script type="text/javascript" src="/assets/toot/moment.twitter.min.js"></script>
{{- end -}}
<script>
    // 页面加载完成后
    document.addEventListener('DOMContentLoaded', () => {

        // 查找所有 class 为 toot-date 的元素
        const dates = document.querySelectorAll('.twitter-time');

        // 遍历格式化
        dates.forEach(date => {
            const time = date.innerText;
            const formatted = moment(time).twitterLong();
            date.innerText = formatted;
        });

    });
</script>-->
<!-- <script type="text/javascript" src="/assets/toot/mastodon-timeline.js?v=3.9.1-3.10.4"></script> -->

<!-- <script type="module" src="/assets/toot/reactions.min.js?v=1.0.11"></script> -->

<script type="text/javascript" src="/assets/js/lazyload.iife.min.js?v=17.8.5"></script>
<script>
    var lazyLoadInstance = new LazyLoad({
        // Your custom settings go here
    });
</script>

{{- end -}}
