{{- define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end -}}

{{- define "content" -}}
{{- $params := .Scratch.Get "params" -}}
{{- $toc := $params.toc -}}
{{- if eq $toc true -}}
{{- $toc = .Site.Params.page.toc | default dict -}}
{{- else if eq $toc false -}}
{{- $toc = dict "enable" false -}}
{{- end -}}

<link rel="stylesheet" href="/assets/mastodon-embed-timeline/dist/mastodon-timeline.min.css?v=4.3.7">
<link rel="stylesheet" href="/assets/mastodon-embed-timeline-custome/mastodon-timeline-custom.min.css?v=2024.03.12">

<article class="page single special">
    <h1 class="single-title animate__animated animate__pulse animate__faster">{{ .Title }}</h1>
    <div id="content" class="content">
        <div class="greyQuote">
            <blockquote>
                <div class="jinrishici">
                    <span id="jinrishici">{{ T `toot_motto` | safeHTML }}</span> - <cite><span id="author">{{ T `toot_author` | safeHTML }}</span></cite>
                </div>
            </blockquote>
        </div>
        <div id="mt-container" class="mt-container">
            <div class="mt-body" role="feed">
                <div class="mt-loading-spinner"></div>
            </div>
        </div>
    </div>
</article>

<script type="module">

    import * as MastodonTimeline from "/assets/mastodon-embed-timeline/dist/mastodon-timeline.esm.js?v=4.3.7";

    const myTimeline = new MastodonTimeline.Init({
        // Id of the <div> containing the timeline
        mtContainerId: "mt-container",

        // Mastodon instance Url including https://
        instanceUrl: "https://e5n.cc",

        // Choose type of posts to show in the timeline: 'local', 'profile', 'hashtag'
        // Default: local
        timelineType: "profile",

        // Your user ID number on Mastodon instance
        // Leave it empty if you didn't choose 'profile' as type of timeline
        userId: "111136231674527355xxx",

        // Your user name on Mastodon instance (including the @ symbol at the beginning)
        // Leave it empty if you didn't choose 'profile' as type of timeline
        profileName: "@eallion",

        // The name of the hashtag (not including the # symbol)
        // Leave it empty if you didn't choose 'hashtag' as type of timeline
        hashtagName: "",

        // Class name for the loading spinner (also used in CSS file)
        spinnerClass: "mt-loading-spinner",

        // Preferred color theme: 'light', 'dark' or 'auto'
        // Default: auto
        defaultTheme: "auto",

        // Maximum number of posts to request to the server
        // Default: 20
        maxNbPostFetch: "40",

        // Maximum number of posts to show in the timeline
        // Default: 20
        maxNbPostShow: "20",

        // Specifies the format of the date according to the chosen language/country
        // Default: British English (day-month-year order)
        dateLocale: "zh-CN",

        // Customize the date format using the options
        // Default: DD MMM YYYY
        dateOptions: {
            day: "2-digit",
            month: "short",
            year: "numeric",
        },

        // Hide unlisted posts
        // Default: don't hide
        hideUnlisted: true,

        // Hide boosted posts
        // Default: don't hide
        hideReblog: false,

        // Hide replies posts
        // Default: don't hide
        hideReplies: true,

        // Hide pinned posts from the profile timeline
        // Default: don't hide
        hidePinnedPosts: true,

        // Hide the user account under the user name
        // Default: don't hide
        hideUserAccount: false,

        // Hide custom emojis available on the server
        // Default: don't hide
        hideEmojos: false,

        // Hide video image preview and load video player instead
        // Default: don't hide
        hideVideoPreview: false,

        // Hide preview card if post contains a link, photo or video from a Url
        // Default: don't hide
        hidePreviewLink: true,

        // Hide replies, boosts and favourites posts counter
        // Default: don't hide
        hideCounterBar: false,

        // Converts Markdown symbol ">" at the beginning of a paragraph into a blockquote HTML tag
        // Default: don't apply
        markdownBlockquote: false,

        // Show a carousel/lightbox when the user clicks on a picture in a post
        // Default: not disabled
        disableCarousel: false,

        // Customize the text of the buttons used for the carousel/lightbox
        carouselCloseTxt: "Close carousel",
        carouselPrevTxt: "Previous media item",
        carouselNextTxt: "Next media item",

        // Limit the text content to a maximum number of lines
        // Default: 0 (unlimited)
        txtMaxLines: "0",

        // Customize the text of the button used for showing/hiding sensitive/spoiler text
        btnShowMore: "SHOW MORE",
        btnShowLess: "SHOW LESS",

        // Customize the text of the button used for showing sensitive/spoiler media content
        btnShowContent: "SHOW CONTENT",

        // Customize the text of the button pointing to the Mastodon page placed at the end of the timeline
        // Leave the value empty to hide it
        btnSeeMore: "See more posts at Mastodon",

        // Customize the text of the button reloading the list of posts placed at the end of the timeline
        // Leave the value empty to hide it
        btnReload: "Refresh",

        // Keep searching for the main <div> container before building the timeline. Useful in some cases where extra time is needed to render the page
        // Default: don't apply
        insistSearchContainer: true,

        // Defines the maximum time to continue searching for the main <div> container
        // Default: 3 seconds
        insistSearchContainerTime: "3000",

    });

</script>

{{- end -}}
