/* Tailwind CSS Custom */
:root {
    --media-bg-color-from: rgba(255, 255, 255, 5%);
    --media-bg-color-to: #ffffff;
    --media-bg-color-to-dark: rgb(30, 41, 59);
    --media-bg-color-cover: rgba(0, 0, 0, 80%);
}

.bg-yellow-600 {
    background-color: #ca8a04;
}

.pb-150 {
    padding-bottom: 150%;
}

/* Tailwind CSS Custom End */

.heatmap_week {
    display: flex;
    flex-direction: column;
}

.heatmap_day {
    width: 10px;
    height: 10px;
    background-color: #ebedf0;
    margin: 1px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

.heatmap_tooltip {
    position: absolute;
    bottom: 12px;
    left: 50%;
    width: max-content;
    background-color: #24292f;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
    border-radius: 3px;
    white-space: pre-wrap;
    opacity: 1;
    transition: 0.3s;
    z-index: 1000;
    text-align: right;
    transform: translateX(-50%);
}

.dark .heatmap_tooltip {
    background-color: #636e7b;
    color: #cdd9e5;
}

.heatmap_tooltip_count,
.heatmap_tooltip_post {
    display: inline-block;
}

.heatmap_tooltip_title,
.heatmap_tooltip_date {
    display: block;
}

.heatmap_tooltip_date {
    margin: 0 0.25rem;
}

.heatmap_day_level_0 {
    background-color: #ebedf0;
}
.heatmap_day_level_1 {
    background-color: #9be9a8;
}
.heatmap_day_level_2 {
    background-color: #40c463;
}
.heatmap_day_level_3 {
    background-color: #30a14e;
}
.heatmap_day_level_4 {
    background-color: #216e39;
}

.dark .heatmap_day_level_0 {
    background-color: #161b22;
}
.dark .heatmap_day_level_1 {
    background-color: #0e4429;
}
.dark .heatmap_day_level_2 {
    background-color: #006d32;
}
.dark .heatmap_day_level_3 {
    background-color: #26a641;
}
.dark .heatmap_day_level_4 {
    background-color: #39d353;
}

li a,
blockquote a {
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.badge {
    margin-bottom: 1rem;
}

.badge a img {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

footer nav ul {
    display: flex !important;
    flex-direction: row !important;
    gap: 0.5rem !important;
}

.packery-drop-placeholder {
    outline: 3px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
