/* goods-------- start*/
@font-face {
    font-family: DINPro;
    src: url(/assets/fonts/DINPro/DINPro.otf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --code-bg: rgb(245, 245, 245);
}

#goods {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-bottom: 1rem;
}

.goods-container {
    /* height: 326px; */
    list-style: none;
    border-radius: 8px;
    background: var(--code-bg);
    padding: 16px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
}

.goods-image {
    min-height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goods-image figure {
    margin-top: 0;
    margin-bottom: 0;
}

.goods-image img {
    width: 80%;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.goods-image:hover img {
    transform: scale(1.1);
}

.goods-title {
    font-size: 0.875rem;
    margin: 0;
    transition: 0.5s;
}

.goods-title a {
    font-size: 0.875rem;
    text-decoration: none;
}

.goods-price {
    font-family: DINPro, monospace !important;
    color: #333;
}

.goods-note {
    color: #999;
    font-size: 0.875rem;
}

.goods-report-coupon-btn {
    display: flex;
    align-items: center;
    justify-content: left;
}

.goods-coupon,
.goods-report {
    color: #999;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #eaeaea), to(#ccc));
    background: linear-gradient(90deg, #eaeaea, #ccc);
    font-size: 12px;
    border-radius: 0 10px 10px;
    display: inline-block;
    padding: 1px 10px;
    margin-top: 5px;
}

.goods-coupon {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-left: 0.5rem;
}

.goods-coupon a,
.goods-report a {
    color: #999 !important;
}

.goods-coupon:hover a,
.goods-report:hover a {
    color: #fff !important;
}

.goods-coupon:hover,
.goods-report:hover {
    color: #fff;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff6a2c), to(#ff3f3e));
    background: linear-gradient(90deg, #ff6a2c, #ff3f3e);
}

.goods-coupon:hover,
.goods-coupon:hover a {
    cursor: help !important;
}

.goods-report-empty:hover {
    color: #999 !important;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #eaeaea), to(#ccc));
    background: linear-gradient(90deg, #eaeaea, #ccc);
    cursor: not-allowed;
}

@media (max-width: 700px) {
    .goods-title {
        font-size: 0.875rem;
        margin: 0 10px !important;
        transition: 0.5s;
    }

    .goods-price {
        margin: 0 10px 0 10px;
    }

    .goods-image img {
        width: 50%;
        margin: 0 auto;
    }

    .goods-note {
        line-height: 1.3rem;
        margin: 8px 10px 0 10px;
    }

    .goods-title {
        font-size: 0.875rem;
        margin: 0 auto;
        line-height: 1.5rem;
    }

    .goods-title a {
        font-size: 0.875rem;
        text-decoration: none;
        box-shadow: none;
    }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .goods-quanju {
        font-size: 0;
        width: 106%;
    }

    .goods-title {
        font-size: 0.875rem;
        margin: 0 auto;
        line-height: 1.5rem;
        transition: 0.5s;
    }

    .goods-title a {
        font-size: 0.875rem;
        text-decoration: none;
        box-shadow: none;
    }
}

@media (min-width: 900px) {
    .goods-quanju {
        font-size: 0;
        width: 106%;
    }

    .goods-note {
        font-size: 0.875rem;
        line-height: 1.3rem;
        margin-top: 0.5rem;
    }

    .goods-image img {
        width: 80%;
        margin: 0 auto;
    }

    .goods-container.img-hide img {
        transition: transform 0.2s ease-in-out;
        cursor: pointer;
    }

    .goods-container.img-hide:hover img {
        transform: scale(1.1);
    }

    .goods-title {
        font-size: 16px;
        margin: 0 auto;
        line-height: 1.6rem;
        transition: 0.5s;
    }

    .goods-title a {
        font-size: 16px;
        text-decoration: none;
        box-shadow: none;
        transition: 0.5s;
    }
}

.dark {
    --code-bg: #3b3d42;

    .goods-coupon,
    .goods-report {
        color: #999;
        background: -webkit-gradient(linear, left top, right top, color-stop(0, #2d333b), to(#333));
        background: linear-gradient(90deg, #2d333b, #333);
    }

    .goods-coupon:hover,
    .goods-report:hover {
        color: #fff;
        background: -webkit-gradient(linear, left top, right top, color-stop(0, #ff6a2c), to(#ff3f3e));
        background: linear-gradient(90deg, #ff6a2c, #ff3f3e);
    }

}

/* goods -------- end */
