/* mastodon timeline custom */

/* Main container */
.mt-container {
    container: unset;
    background-color: transparent;
}

.mt-body>.mt-loading-spinner {
    position: relative;
}

.mt-body {
    padding: 0;
}

.mt-body[role="none"] {
  min-height: 15rem;
}

.mt-post {
    margin: .25rem 0;
    padding: 1rem 1.25rem;
}

.mt-post-avatar-standard {
    width: 2.75rem;
    height: 2.75rem;
}

.mt-post-avatar-image-big img {
    margin-top: 0.5rem;
    margin-bottom: 0;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
}

.mt-post-media>img,
.mt-post-media>video {
    max-width: 310px;
    max-height: 310px;
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    margin-top: 0;
    margin-bottom: 0;
}

.mt-post-media {
    padding-top: 0 !important;
}

.mt-post-txt {
    color: var(--tw-prose-body) !important;
}

.mt-post-txt .mt-custom-emoji {
    margin-bottom: 0.25rem;
    display: inline-block;
    margin-top: 0;
}

.mt-post-header-user>a {
    color: var(--tw-prose-links) !important;
}

.mt-post-avatar-image-small img {
    margin-top: 0;
    margin-bottom: 0;
}

/* toot images start */
.toot-images {
    display: grid;
    gap: 10px;
}

.grid-1 {
    grid-template-columns: 150px;
}

.grid-3,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9 {
    grid-template-columns: repeat(3, 150px);
}

.grid-2,
.grid-4 {
    grid-template-columns: repeat(2, 150px);
}

@media (max-width: 540px) {

    /* iPhone se width */
    .grid-3,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9 {
        grid-template-columns: repeat(3, 96px);
    }

    .grid-2,
    .grid-4 {
        grid-template-columns: repeat(2, 96px);
    }

    .single {
        .content {
            figure {
                img {
                    width: 96px;
                    height: 96px;
                }
            }
        }
    }
}

/* toot images end */

/* db-card -------- start*/
.db-card {
    margin: 1rem;
    background: var(--mt-card-background);
    border-radius: 7px;
    box-shadow: 0 6px 10px 0 #00000053;
}

.db-card-subject {
    display: flex;
    align-items: flex-start;
    line-height: 1.6;
    padding: 12px;
    position: relative;
}

.db-card-content {
    flex: 1 1 auto;
}

.db-card-post {
    width: 112px;
    margin-right: 15px;
    display: flex;
    flex: 0 0 auto;

    img {
        width: 112px !important;
        height: 168px !important;
        border-radius: 4px;
        -o-object-fit: cover;
        object-fit: cover;
        margin-bottom: 0.5rem !important;
    }
}

.db-card-title {
    margin-bottom: 0.5rem;
    font-size: 1rem;

    a {
        text-decoration: none !important;
    }
}

.db-card-abstract,
.db-card-comment {
    font-size: 0.875rem;
    overflow: auto;
    max-height: 10rem;
    white-space: wrap;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    line-height: 1.8;
}

.db-card-abstract {
    &::-webkit-scrollbar {
        display: none;
    }

    p {
        line-height: 1.8 !important;
    }
}

.db-card-cate {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--content-text);
    background: #f99b01;
    padding: 1px 8px;
    font-size: small;
    font-style: italic;
    border-radius: 0 8px 0 8px;
    text-transform: capitalize;
}

.rating {
    margin: 0 0 5px;
    font-size: 13px;
    line-height: 1;
    display: flex;
    align-items: center;

    .allstardark {
        position: relative;
        color: #f99b01;
        height: 16px;
        width: 80px;
        background-size: auto 100%;
        margin-right: 8px;
        background-repeat: repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxwYXRoIGQ9Ik05MDguMSAzNTMuMWwtMjUzLjktMzYuOUw1NDAuNyA4Ni4xYy0zLjEtNi4zLTguMi0xMS40LTE0LjUtMTQuNS0xNS44LTcuOC0zNS0xLjMtNDIuOSAxNC41TDM2OS44IDMxNi4ybC0yNTMuOSAzNi45Yy03IDEtMTMuNCA0LjMtMTguMyA5LjMtMTIuMyAxMi43LTEyLjEgMzIuOS42IDQ1LjNsMTgzLjcgMTc5LjEtNDMuNCAyNTIuOWMtMS4yIDYuOS0uMSAxNC4xIDMuMiAyMC4zIDguMiAxNS42IDI3LjYgMjEuNyA0My4yIDEzLjRMNTEyIDc1NGwyMjcuMSAxMTkuNGM2LjIgMy4zIDEzLjQgNC40IDIwLjMgMy4yIDE3LjQtMyAyOS4xLTE5LjUgMjYuMS0zNi45bC00My40LTI1Mi45IDE4My43LTE3OS4xYzUtNC45IDguMy0xMS4zIDkuMy0xOC4zIDIuNy0xNy41LTkuNS0zMy43LTI3LTM2LjN6TTY2NC44IDU2MS42bDM2LjEgMjEwLjNMNTEyIDY3Mi43IDMyMy4xIDc3MmwzNi4xLTIxMC4zLTE1Mi44LTE0OUw0MTcuNiAzODIgNTEyIDE5MC43IDYwNi40IDM4MmwyMTEuMiAzMC43LTE1Mi44IDE0OC45eiIgZmlsbD0iI2Y5OWIwMSIvPjwvc3ZnPg==);
    }

    .allstarlight {
        position: absolute;
        left: 0;
        color: #f99b01;
        height: 16px;
        overflow: hidden;
        background-size: auto 100%;
        background-repeat: repeat;
        background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMzIiIGhlaWdodD0iMzIiPjxwYXRoIGQ9Ik05MDguMSAzNTMuMWwtMjUzLjktMzYuOUw1NDAuNyA4Ni4xYy0zLjEtNi4zLTguMi0xMS40LTE0LjUtMTQuNS0xNS44LTcuOC0zNS0xLjMtNDIuOSAxNC41TDM2OS44IDMxNi4ybC0yNTMuOSAzNi45Yy03IDEtMTMuNCA0LjMtMTguMyA5LjMtMTIuMyAxMi43LTEyLjEgMzIuOS42IDQ1LjNsMTgzLjcgMTc5LjEtNDMuNCAyNTIuOWMtMS4yIDYuOS0uMSAxNC4xIDMuMiAyMC4zIDguMiAxNS42IDI3LjYgMjEuNyA0My4yIDEzLjRMNTEyIDc1NGwyMjcuMSAxMTkuNGM2LjIgMy4zIDEzLjQgNC40IDIwLjMgMy4yIDE3LjQtMyAyOS4xLTE5LjUgMjYuMS0zNi45bC00My40LTI1Mi45IDE4My43LTE3OS4xYzUtNC45IDguMy0xMS4zIDkuMy0xOC4zIDIuNy0xNy41LTkuNS0zMy43LTI3LTM2LjN6IiBmaWxsPSIjZjk5YjAxIi8+PC9zdmc+);
    }
}

.rating_nums {
    text-transform: capitalize;
}

@media (max-width: 680px) {
    .db-card {
        margin: 0.8rem 1rem;
    }

    .db-card-comment {
        display: none;
    }
}

/* db-card -------- end */
