.movie {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 1rem;
    min-height: 350px;
}

.card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.card:hover .movie-cate {
    opacity: 1;
    transition: all .5s ease;
}

.card:hover .movie_details {
    bottom: 0;
    transition: all .5s;
}

.card:hover .poster:before {
    bottom: 0;
}

.card:hover .poster img {
    filter: blur(2px);
    transform: translateY(-40px);
}

.card .poster {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 150%;
}

.card .poster img {
    transition: .5s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 0;
    margin-bottom: 0;
}

.card .poster:before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.808) 60%, transparent);
    height: 100%;
    width: 100%;
    z-index: 1;
    bottom: 0;
    bottom: -100%;
    left: 0;
    transition: .5s;
}

.movie_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 82%;
    box-sizing: border-box;
    left: 0;
    bottom: -400px;
    z-index: 2;
    transition: all .4s ease;
}

.movie_details h2 {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.movie_details h2 a {
    color: #006bee !important;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}


.movie_details h2 a:hover {
    color: #ef3982 !important;
}

.movie_details span {
    font-size: .75rem;
    color: #ff9800;
}

.movie_details h2 span {
    line-height: 1.5 !important;
    display: table-cell;
    vertical-align: top;
}

.movie_details h2 span i {
    margin-right: 0.5rem;
}

.rating,
.rating_star,
.rating_full,
.rating_empty {
    display: flex;
    align-items: center;
}

.rating_star {
    position: relative;
    padding: 0;
    color: #f7f406;
}


.rating_empty {
    overflow: hidden;
    position: absolute;
    top: 0;
}

.rating_icon {
    fill: currentColor;
    flex-shrink: 0;
}

.rating span {
    margin-left: 0.25rem;
}

.tags {
    position: relative;
    margin-top: 5px;
}

.tags span {
    padding: 2px 5px;
    margin-top: 2px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    text-transform: capitalize;
}

.tags span:nth-child(1) {
    background-color: #f70661;
}

.tags span:nth-child(2) {
    background-color: #7206f7;
}

.tags span:nth-child(3) {
    background-color: #f79d06;
}

.tags span:nth-child(4) {
    background-color: #06f7a8;
}

.tags span:nth-child(5) {
    background-color: #06a5f7;
}

.tags span:nth-child(6) {
    background-color: #f70693;
}

.tags span:nth-child(7) {
    background-color: #7254f7;
}

.tags span:nth-child(8) {
    background-color: #f7e606;
}

.tags span:nth-child(9) {
    background-color: #06f76f;
}

.tags span:nth-child(10) {
    background-color: #06a5a9;
}

.info {
    color: #fff;
}

.info p {
    font-size: 0.875rem;
    margin: 15px 0 10px;
    line-height: 1.5 !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.star {
    position: relative;
    display: flex;
    align-items: center;
}

.star h4 {
    color: #fff;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px;
}

.star ul {
    padding-left: 0px !important;
    padding: 0;
    margin: 0 !important;
    display: flex;
}

.star ul li {
    list-style: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    padding-left: 0;
}

.star ul li:not(:first-child) {
    margin-left: -10px;
}

.star ul li img {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.movie-page {
    padding-top: 0 !important;
    margin: 0 auto !important;
}

.movie-title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    line-height: 1.6;
    margin: 0rem auto !important;
    color: #fff;
    flex-direction: column;
    max-width: 800px;
    margin-top: 4rem !important;
}

.movie-title .single-title {
    min-height: 2.5rem;
    margin-left: 4rem;
}

.movie-title-meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.movie-description {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.movie-description a {
    color: #006bee;
    margin: 0 0.5rem;
}

.movie-description a:hover {
    color: #ef3982;
    text-decoration: underline;
}

.movie-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-item {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.search-item::before {
    content: '|';
    position: relative;
    margin: 0 0.25rem;
    color: gray;
    font-size: 0.75rem;
}

.search-item svg path {
    fill: white;
}

.search-item:hover svg path {
    fill: #006bee;
}

.full-screen,
.original-screen,
.normal-screen,
.web-full-screen,
.browser-full-screen {
    display: flex;
    align-items: center;
}

.full-screen {
    gap: 10px;
    font-size: 0.875rem;
    margin-right: 0.5rem;
}

.full-screen:hover {
    cursor: pointer;
}

.full-screen svg {
    margin-right: 0.25rem;
}

.movie-normal {
    width: 100%;
    margin-left: auto;
}

.movie-mt {
    margin-top: 5px;
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.movie-hide-header {
    display: none !important;
}

.movie-hide-title {
    display: none;
}

.full-screen-btn,
.toggle-full-screen {
    align-items: center;
    padding: 10px;
    border-radius: 9999px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}

.full-screen-btn {
    border-width: 1px;
    height: 1.6rem;
    border-color: #ffffffb3;
}

.full-screen-btn:hover {
    color: #f5f5f5;
    background: #006bee;
    border-color: #006bee;
}

.toggle-full-screen {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    border-width: 4px;
    height: 3rem;
    border-color: #006bee;
    color: #006bee;
    background: #f8f8f8;
}

.toggle-full-screen svg {
    margin-right: 0.25rem;
}

.exit-full-screen {
    display: flex;
    opacity: 0;
    animation: showButton 0.5s ease forwards;
}

.movies_video {
    position: fixed;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -10;
}

.movies_video:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 5%) 0%, #fff 100%)
}

.dark .movies_video:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 5%) 0%, rgb(30, 41, 59) 100%)
}

.video-source {
    object-fit: cover
}

.movies_video_mt {
    margin-top: 0;
}

.movie-cate {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    top: 0;
    right: 0;
    background: #f99b01;
    padding: 1px 8px;
    font-size: small;
    font-style: italic;
    border-radius: 0 0 0 8px;
    text-transform: capitalize;
    opacity: 0;
    color: #fff;
}

.min-height-auto {
    min-height: unset;
}

@keyframes showButton {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#loadMoreButton {
    margin: 1rem auto;
    width: 196px;
    text-align: center;
}

.category-item {
    color: #696969;
    background-color: #f4f4f4;
    font-size: .9rem;
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: inherit;
    border-radius: 0.25rem;
    transition: 150ms ease;
    cursor: pointer;
}

.category-item.is-active {
    background-color: #006bee;
    color: #fff;
}

.category-item:hover {
    background-color: #006bee;
    color: #fff;
}

.category {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.category.u-hide+.db--list {
    padding-top: 10px;
}

.category_hidden {
    display: none;
}

/* // 页面宽度大于700小于900样式 */
@media screen and (min-width:700px) and (max-width:900px) {
    .movie {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        min-height: 250px;
        margin-top: 3rem;
    }

    .rating,
    .tags,
    .info,
    .movie-footer,
    .full-screen {
        display: none;
    }
}

/* // 页面宽度小于700样式 */
@media (max-width:700px) {
    .movie {
        width: 100%;
        margin-left: 0;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        min-height: 200px;
        margin-top: 0.5rem;
    }

    .category-item:first-child {
        margin-left: 0;
    }

    .rating,
    .tags,
    .info,
    .movie-footer,
    .full-screen {
        display: none;
    }
}
