@charset "UTF-8";#annual {
    height: 30rem
}

@keyframes flicker {
    0% {
        background: var(--ypb-white)
    }

    50% {
        background: var(--ypb-red)
    }

    100% {
        background: var(--ypb-white)
    }
}

@media(max-width: 730px) {
    :root {
        --ypb-bodyMargin:20px
    }
}

.headerLink a {
    color: unset!important
}

.article-content div ul {
    margin-top: -.5rem
}

.tag-cloud-tags {
    margin: 10px 0
}

.tag-cloud-tags a {
    display: inline-block;
    position: relative;
    margin: 5px 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-transition: all ease-out .3s;
    -moz-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
    text-decoration: none
}

.tags-shields {
    display: flex;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    align-items: center;
    border-radius: 4px
}

.tags-shields-before {
    font-size: 12px;
    padding: 0 4px 0 6px;
    background-color: #595959;
    color: #fff;
    display: inline-block;
    vertical-align: middle
}

.tags-shields-after {
    font-size: 10px;
    padding: 0 6px 0 4px;
    background-color: #0274b5;
    color: #fff;
    display: inline-block;
    vertical-align: middle
}

.tags-count-1 {
    background-color: #0274b5
}

.tags-count-2 {
    background-color: #3b8dbf
}

.tags-count-3 {
    background-color: #8ab802
}

.tags-count-4 {
    background-color: green
}

.tags-count-5 {
    background-color: #dab226
}

.tags-count-6 {
    background-color: #e77334
}

.tags-count-7 {
    background-color: #cc5640
}

.tags-count-8 {
    background-color: #e6adb7
}

.tags-count-9 {
    background-color: #740174
}

.tags-count-10,.tags-count-11,.tags-count-12,.tags-count-13,.tags-count-14,.tags-count-15,.tags-count-16,.tags-count-17,.tags-count-18,.tags-count-19 {
    background-color: orange
}

.tags-count-20,.tags-count-21,.tags-count-22,.tags-count-23,.tags-count-24,.tags-count-25,.tags-count-26,.tags-count-27,.tags-count-28,.tags-count-29 {
    background-color: #ff4500
}

.tags-count-30,.tags-count-31,.tags-count-32,.tags-count-33,.tags-count-34,.tags-count-35,.tags-count-36,.tags-count-37,.tags-count-38,.tags-count-39,.tags-count-40,.tags-count-41,.tags-count-42,.tags-count-43,.tags-count-44,.tags-count-45,.tags-count-46,.tags-count-47,.tags-count-48,.tags-count-49,.tags-count-50 {
    background-color: red
}

.bar-chart {
    height: 20rem;
    display: grid;
    grid-auto-flow: column;
    gap: 2%;
    align-items: end;
    padding-inline:2%;padding-block:1.5rem;position: relative;
    isolation: isolate
}

.bar-chart::after {
    content: "";
    position: absolute;
    inset: 1.5rem 0;
    z-index: -1;
    background-image: repeating-linear-gradient(to top,transparent 0 calc(calc(100%/10) - 1px),currentcolor 0 calc(100%/10));
    box-shadow: 0 1px currentcolor;
    opacity: .125
}

.bar-chart>.item {
    height: calc(1% * var(--val));
    background-color: #2563eb;
    position: relative;
    animation: item-height 1s ease forwards
}

@keyframes item-height {
    from {
        height: 0
    }
}

.bar-chart>.item>* {
    position: absolute;
    text-align: center
}

.bar-chart>.item>.label {
    inset: 100% 0 auto 0
}

.bar-chart>.item>.value {
    inset: auto 0 100% 0
}

.badge img {
    height: max-content;
    width: max-content;
    max-width: max-content;
    max-height: max-content
}

.techstack {
    display: flex;
    overflow: hidden;
    gap: .5rem;
    position: relative;
    width: 100%;
    margin-bottom: 96px
}

.techstack>* {
    flex-shrink: 0
}

.techstack::after {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 100%
}

@keyframes badge-scroll {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-100%)
    }
}

.techstack .scroll-content {
    display: flex;
    gap: .5rem;
    animation: badge-scroll 200s linear infinite
}

.stats-cards a {
    font-weight: 600
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative
}

.marquee-text {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    animation-play-state: paused
}

.marquee-container:hover .marquee-text {
    animation-play-state: running
}

@keyframes marquee {
    0% {
        transform: translate(0,0)
    }

    100% {
        transform: translate(-100%,0)
    }
}
