.steam {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #1b2838;
}

.profile {
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(46, 13, 36, 0.93), #1b2838);
}

.steam_real_name {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.steam_real_name span {
    display: inline-block;
}

.card {
    margin: 1rem;
    /*
        background: url(/assets/images/steam/steam_card.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        */
    width: 100%;
    height: auto;
}

.card img {
    margin-top: 0;
    margin-bottom: 0;
}

.games {
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 1.5;
}

/*  Merge from steamcommunity.com  */
:root {
    --typography-font-size-small: 0.625rem;
    --typography-font-size-medium: 0.75rem;
    --typography-font-size-body: 0.9375rem;
    --typography-font-size-large: 1.0625rem;
    --typography-color-neutral: #B8BCBF;
    --typography-color-primary: white;
    --color-info: #1A9FFF;
    --color-backdrop: #3C3F49;
    --color-highlight: #199FFF;
    --percent: 1;
}

.yZ55NhARZGx1Awk2qs8pS {
    width: 100%;
    height: 6px;
    background-color: var(--color-backdrop);
    border-radius: 2px;
    overflow: hidden
}

.yZ55NhARZGx1Awk2qs8pS::after {
    content: "";
    display: block;
    width: calc(100%*var(--percent));
    height: 100%;
    background-color: var(--color-progress-bar-foreground)
}

._29H3o3m-GUmx6UfXhQaDAm {
    margin-bottom: 1.25rem;
    position: relative;
    width: 100%
}

._29H3o3m-GUmx6UfXhQaDAm:last-child {
    margin-bottom: 3rem;
}

._2-pQFn1G7dZ7667rrakcU3 {
    position: relative;
    --padding: 10px;
    display: grid;
    box-sizing: border-box;
    height: 140px;
    grid-template-areas: "image title title" "image playtime playtime" "image links download";
    grid-template-columns: 259px min-content auto;
    grid-template-rows: auto auto 1fr;
    gap: var(--padding);
    padding: var(--padding);
    row-gap: 4px;
    background-color: rgba(0, 0, 0, .2)
}

._2-pQFn1G7dZ7667rrakcU3 ._1bAC6eBHy0MpRWrwTkgT9o {
    grid-area: image;
    width: 259px;
    height: 121px
}

._2-pQFn1G7dZ7667rrakcU3 ._1CHM8-0EM9IeDAZ47-cYit {
    position: relative;
    width: 100%;
    height: 100%
}

._2-pQFn1G7dZ7667rrakcU3 picture {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

._2-pQFn1G7dZ7667rrakcU3 picture img {
    width: 100%;
    height: 100%
}

._2-pQFn1G7dZ7667rrakcU3 .w6q9piMq3gT16oj_lEvpy {
    grid-area: title;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: calc(2.1*var(--typography-font-size-large));
    margin-right: 32px
}

._2-pQFn1G7dZ7667rrakcU3 ._22awlPiAoaZjQMqxJhp-KP {
    font-weight: 400 !important;
    font-size: var(--typography-font-size-large) !important;
    color: var(--typography-color-primary) !important;
    line-height: var(--typography-font-size-large) !important;
    display: -webkit-inline-box !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    padding-bottom: .14em !important
}

._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh {
    grid-area: playtime;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    white-space: nowrap;
    color: var(--typography-color-neutral)
}

._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh ._26nl3MClDebGDV7duYjZVn,
._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh ._2jglu-fYE_XNY6tkn6J99Y {
    display: inline-flex;
    flex-direction: column;
    font-size: var(--typography-font-size-medium);
    color: rgba(184, 188, 191, .8)
}

._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh ._2L1rk5AZ6FW8trFciJnHSs {
    font-weight: 700;
    letter-spacing: .03em;
    color: var(--typography-color-neutral)
}

._2-pQFn1G7dZ7667rrakcU3 ._38RhR5f2dCM0suwMTTCyMk {
    grid-area: achievements;
    align-self: stretch
}

._2-pQFn1G7dZ7667rrakcU3 ._38RhR5f2dCM0suwMTTCyMk ._3L-qRrHSjklL-XerpCawLU {
    row-gap: 6px
}

._2-pQFn1G7dZ7667rrakcU3 ._1uRB5he6cj97y-rG3RcI6H {
    grid-area: links;
    display: flex;
    align-items: flex-end;
    gap: 10px
}

._2-pQFn1G7dZ7667rrakcU3 ._1uRB5he6cj97y-rG3RcI6H ._3aNUlXqnUCLTuW3Aeu2vQ1 {
    padding: 6px 10px 6px 15px;
    position: relative;
}

._2-pQFn1G7dZ7667rrakcU3 ._35fxd2upwJHRuX_fNyRbbM {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: row
}

._2-pQFn1G7dZ7667rrakcU3 ._35fxd2upwJHRuX_fNyRbbM ._1pXbX5mBA7v__kVWHg0_Ja {
    padding-left: 8px;
    padding-right: 8px
}

._2-pQFn1G7dZ7667rrakcU3 ._35fxd2upwJHRuX_fNyRbbM ._1pXbX5mBA7v__kVWHg0_Ja svg {
    width: 18px
}

._2-pQFn1G7dZ7667rrakcU3 .bDheibeyyAaooxTc0G5Bh {
    grid-area: download;
    display: flex;
    align-items: end;
    justify-content: flex-end
}

._3aNUlXqnUCLTuW3Aeu2vQ1 {
    background: rgba(58, 64, 74, .5);
    border-radius: 2px;
    font-size: 13px;
    letter-spacing: .03em;
    font-weight: 400;
    color: var(--typography-color-primary);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    cursor: pointer;
    gap: 15px
}

._3aNUlXqnUCLTuW3Aeu2vQ1 svg {
    width: 12px
}

._3aNUlXqnUCLTuW3Aeu2vQ1:hover,
.dropdown-menu:hover {
    background: #67707b;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2)
}

._38RhR5f2dCM0suwMTTCyMk {
    display: grid;
    grid-template-columns: 1fr minmax(0, 232px);
    grid-template-rows: 1fr;
    flex-grow: 1;
    gap: 16px;
    min-height: 32px
}

._3L-qRrHSjklL-XerpCawLU {
    display: grid;
    grid-template-areas: "label fraction" "bar bar";
    gap: 4px;
    align-items: center;
    align-content: start
}

._3L-qRrHSjklL-XerpCawLU ._3Z3qpPO7VynFPtiyMoSUOj {
    grid-area: bar;
    --color-progress-bar-background: var(--color-backdrop);
    --color-progress-bar-foreground: var(--color-info)
}

._3L-qRrHSjklL-XerpCawLU ._3eZMLQT-bjZ0EhBSvQlDQ0 {
    grid-area: label !important;
    font-weight: 700 !important;
    font-size: var(--typography-font-size-medium) !important;
    margin-right: 8px !important;
    color: inherit !important;
    letter-spacing: .03em !important
}

._3L-qRrHSjklL-XerpCawLU ._3eZMLQT-bjZ0EhBSvQlDQ0 svg {
    display: inline-block;
}

._3L-qRrHSjklL-XerpCawLU ._1YRRMk6X7vrOL-02K-q1pf {
    grid-area: fraction;
    font-size: var(--typography-font-size-medium);
    margin-right: 8px;
    justify-self: flex-end;
    text-align: end;
    min-width: 2.5rem
}

._1FputvTUMDlSdMWR6dzBHN ._2mcktnnmYz7Erghm5hxnqS {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    box-sizing: border-box;
    gap: 16px
}

._2mcktnnmYz7Erghm5hxnqS a {
    color: #fff !important;
}

._1FputvTUMDlSdMWR6dzBHN ._2zfId9cfT2zTYc0lGKOhrr {
    font-weight: 700;
    font-size: var(--typography-font-size-medium);
    white-space: nowrap
}

._1FputvTUMDlSdMWR6dzBHN ._2P6595PfFeyY96lncv5stz {
    align-self: flex-end
}

._2P6595PfFeyY96lncv5stz {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;
    gap: 8px;
    background-color: var(--color-info);
    color: var(--typography-color-primary);
    font-weight: 500;
    font-size: 12px;
    border: none;
    border-radius: 2px
}

._2P6595PfFeyY96lncv5stz svg {
    width: 1rem;
    color: var(--typography-color-primary);
    fill: var(--typography-color-primary)
}

._2P6595PfFeyY96lncv5stz:hover {
    background: #0bf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
    cursor: pointer
}

/*  Merge from steam profile.css  */
.profile_header_badgeinfo {
    float: right;
}

.profile_header_badgeinfo .persona_level {
    line-height: 40px;
    margin-bottom: 13px;
}

.profile_header_badgeinfo .persona_level .friendPlayerLevel {
    vertical-align: middle;
}

.profile_header_badgeinfo .persona_level .friendPlayerLevel .friendPlayerLevelNum {
    color: #ffffff;
}

.profile_header_badgeinfo_badge_area {
    width: 268px;
}

.profile_header .persona_name {
    line-height: 40px;
    font-size: 24px;
    color: #ffffff;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
    /* thin */

}

.profile_header .persona_name .nickname {
    color: #9b9b9b;
}

.profile_header_badgeinfo .persona_level {
    line-height: 40px;
    margin-bottom: 13px;
}

.profile_header_badgeinfo .persona_level .friendPlayerLevel {
    vertical-align: middle;
}

.profile_header_badgeinfo .persona_level .friendPlayerLevel .friendPlayerLevelNum {
    color: #ffffff;
}

.profile_header_badgeinfo .persona_level .friendPlayerLevel {
    vertical-align: middle;
}

.profile_header_badgeinfo .persona_level .friendPlayerLevel .friendPlayerLevelNum {
    color: #ffffff;
}

.profile_header_badge {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
    margin-bottom: 13px;
}

.favorite_badge {
    position: relative;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.favorite_badge_icon {
    display: flex;
}

.favorite_badge_icon img {
    width: 54px;
    height: 54px;
    margin-top: 0;
    margin-bottom: 0;
}

.game_info_badge_icon img.badge_icon.small {
    width: 36px;
    height: 36px;
}

.favorite_badge_description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 12px;
    color: #ffffff;
}

body.Steam3000Theme .profile_count_link.ellipsis {
    border: 1px dotted #20d038;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 8px;
}

.profile_info {
    width: 268px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-top: 8px;
    padding-right: 8px;
    color: #c4c4c4;
    font-size: 13px;
}

.favorite_badge_icon span {
    display: none;
}

.steam_info_lever {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile_info_lever {
    display: flex;
    gap: 10px;
    font-size: 24px;
    margin-bottom: 13px;
    color: #fff;
    flex-direction: column;
    align-items: flex-end;
}

.steam_lever_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 2px solid #c02942;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
}

.steam_lever_icon:hover {
    cursor: pointer;
}

.profile_info_badge {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
    margin-bottom: 13px;
}

.favorite_badge {
    position: relative;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.games_header {
    font-family: "Motiva Sans", Sans-serif;
    font-weight: 200;
    background: rgba(57, 24, 61, 0.93);
    background: linear-gradient(90deg, rgba(20, 60, 68, 0.93) 0%, rgba(57, 24, 61, 0.93) 90%);
    padding: 5px 10px 5px 10px;
    color: #ffffff;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*  Merge from steamcommunity.com  */

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 8rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.dropdown-menu a {
    text-decoration: none;
    display: block;
    color: #fff !important;
    background-color: rgba(58, 64, 74, 1);
}

.dropdown-menu a:hover {
    color: #fff !important;
}

._1pXbX5mBA7v__kVWHg0_Ja .dropdown-menu {
    right: 0;
    left: unset;
}

._3aNUlXqnUCLTuW3Aeu2vQ1:hover>.dropdown-menu,
.dropdown-menu:hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu ._1pXbX5mBA7v__kVWHg0_Ja {
    padding: 6px 10px 6px 15px;
}

.dropdown-menu ._3aNUlXqnUCLTuW3Aeu2vQ1 {
    border-radius: 0;
}

.steam-title {
    color: #c4c4c4;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.6rem;
    display: flex;
    gap: 0.5rem;
    letter-spacing: 0.125rem;
    font-weight: normal !important;
}

.steam-title svg.icon {
    width: 2rem;
    height: 2rem;
}

#single_header h1 .icon {
    margin-right: 0.5rem;
}

.steam-background {
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: -10;
    margin-top: 3.5rem;
}

.steam-background img {
    width: 100%;
}

.steam-background:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 5%) 0%, rgba(27, 40, 56, 0.8) 80%, rgba(27, 40, 56, 0.99) 100%);
}

footer,
footer a {
    color: #c4c4c4;
}

@media screen and (max-width: 700px) {

    html.responsive .profile_header_badgeinfo {
        float: none;
        overflow: hidden;
    }

}

@media screen and (max-width: 460px) {

    html.responsive .profile_header_badgeinfo {
        float: none;
        overflow: visible;
    }

    html.responsive .profile_header_badgeinfo_badge_area {
        float: none;
        overflow: hidden;
        max-width: 50%;
        max-width: calc(100% - 125px - 20px);
    }

    html.responsive .profile_header_badgeinfo_badge_area .profile_header_badge {
        margin-bottom: 0;
    }

}

@media(max-width: 51rem) {
    ._2-pQFn1G7dZ7667rrakcU3 {
        grid-template-areas: "image title title" "image playtime download" "links playtime download";
        grid-template-columns: 184px 1fr auto;
        grid-template-rows: auto auto 1fr;
        row-gap: 5px
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._1bAC6eBHy0MpRWrwTkgT9o {
        width: 184px;
        height: 86px
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh {
        display: grid;
        grid-template-areas: "total lastPlayed empty" "achievements achievements achievements";
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto auto;
        align-content: space-between;
        gap: 8px
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._1yvGN-lhGKwgwFZ0hqNf3 {
        width: 100%
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._1sruH2EotKih-5xc1nw_Ak {
        display: none
    }
}

@media(max-width: 30rem) {
    ._2-pQFn1G7dZ7667rrakcU3 {
        grid-template-areas: "image title" "image playtime";
        grid-template-columns: 93px 1fr;
        grid-template-rows: auto 1fr;
        text-align: left;
        width: 100%;
        border: none;
        align-items: stretch;
        padding: 0;
        padding-right: var(--padding);
        background-color: rgba(58, 64, 74, .2)
    }

    ._2-pQFn1G7dZ7667rrakcU3 .bDheibeyyAaooxTc0G5Bh {
        display: none;
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._1bAC6eBHy0MpRWrwTkgT9o {
        width: 93px;
        height: 140px
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh {
        gap: 4px;
        align-content: start;
        display: flex;
        flex-direction: column;
        align-items: stretch
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh ._26nl3MClDebGDV7duYjZVn {
        flex-direction: row;
        gap: 1ch
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh ._38RhR5f2dCM0suwMTTCyMk {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        gap: 8px;
        padding-bottom: var(--padding);
        align-self: stretch
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._2EeyhCvW_KhEdtuarguZYh ._2jglu-fYE_XNY6tkn6J99Y {
        display: none
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._1uRB5he6cj97y-rG3RcI6H {
        display: none
    }

    ._2-pQFn1G7dZ7667rrakcU3 ._35fxd2upwJHRuX_fNyRbbM {
        display: none
    }
}

@media(max-width: 680px) {
    .profile {
        flex-direction: column;
    }

    .card,
    .profile_info {
        display: flex;
        flex-direction: row;
        max-width: 400px;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0;
        padding-left: 0;
    }

    .profile_info_badge {
        margin-left: 10px;
    }
    .profile_info_lever {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}
