/* uncss:ignore start */

.google-blue {
    color: #4285f4 !important;
}

.google-red {
    color: #db4437 !important;
}

.google-yellow {
    color: #f4b400 !important;
}

.google-green {
    color: #0f9d58 !important;
}

.google-colors {
    display: flex !important;
}

.google-color {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    padding: 0 0.25rem !important;
}

img:not([no-view]):hover {
    cursor: pointer !important;
}

.page {
    max-width: 100% !important;
    width: 100% !important;
}

.wrapper main .container {
    padding: 0 !important;
}

header:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.home-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-social a {
    color: #fff !important;
    font-size: 1.25rem !important;
}

#hero {
    min-height: calc(100vh - 5rem);
}

[theme="web-theme"] .dcc-hero .button {
    margin: 0.125rem !important;
}

[theme=web-theme] .dcc-hero figure {
    margin: 0 auto !important;
}

#hero .get-started-dot {
    font-size: 0.25rem;
    margin: 0 0.75rem;
}

/* .dcc-hero .devsite-landing-row-item-media {
    width: 100vw !important;
    margin-left: calc(50% - 50vw) !important;
} */

.dcc-hero .devsite-landing-row-item-buttons {
    justify-content: center !important;
}

.dcc-hero .devsite-landing-row-item-description-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#get-started {
    height: 3.5rem !important;
    margin-top: -3rem !important;
}

.devsite-landing-row-100 .devsite-landing-row-item-media + .devsite-landing-row-item-description {
    margin-bottom: 10px !important;
}

.devsite-landing-row-item-description-content ul li {
    margin: 0 !important;
}

#about .about-desc span {
    display: inline-block;
}

#posts .devsite-landing-row-item-description-content::before {
    content: '\f022  摘要';
    border-width: 1px;
    background: #f8f8f8;
    border-color: #161209;
    border-radius: 0.25rem;
    border-style: dotted;
    margin-right: 0.25rem;
    padding: 0.25rem;
    opacity: 0.7;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    text-align: center;
}

#posts .article_new::before {
    content: 'NEW';
    position: relative;
    background: #006bee;
    color: #fff;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    cursor: text;
}

@media (max-width: 768px) {
    #posts .article_new::before {
        font-size: 1.25rem;
    }
}

[theme="web-theme"] #penta .dcc-services-card {
    padding-bottom: 1rem !important;
}

[theme="web-theme"] .dcc-services-card h3 {
    min-height: 1rem !important;
}

[theme="web-theme"] .dcc-blog-card[description-position="bottom"] {
    padding: 2.5rem 1.125rem 2rem !important;
}

.dcc-services-card .devsite-landing-row-item-media {
    width: 100% !important;
}

#ticker {
    line-height: inherit !important;
    width: 65% !important;
    max-width: var(--devsite-landing-row-max-width, 1488px) !important;
    margin: 2rem auto !important;
}

@media (max-width: 480px) {
    #ticker {
        width: 100% !important;
    }
}

@media (max-width: 591px) {
    #posts .dcc-blog-card figure img {
        height: auto;
    }
}

[theme="dark"] #ticker {
    background: #f4f4f5 !important;
}

[theme="black"] #ticker {
    background: #f4f4f5 !important;
}

[theme="dark"] #ticker i {
    color: #4d4d4d !important;
}

[theme="black"] #ticker i {
    color: #4d4d4d !important;
}

#movies .card {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    overflow: hidden;
    border-radius:4px;
}

#movies .card:hover .movie_details {
    bottom: 0;
    transition: all .5s;
}

#movies .card:hover .poster:before {
    bottom: 0;
}

#movies .card:hover .poster img {
    filter: blur(2px);
    transform: translateY(-40px);
}

#movies .card .poster {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#movies .card .poster img {
    width: 100%;
    transition: .5s;
    min-height: 315px;
    object-fit: cover;
}

#movies .card .poster:before {
    content: '';
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.808) 60%, transparent);
    height: 100%;
    width: 100%;
    z-index: 1;
    bottom: 0;
    bottom: -100%;
    left: 0;
    transition: .5s;
}

#movies .movie_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 82%;
    box-sizing: border-box;
    left: 0;
    bottom: -315px;
    z-index: 2;
    transition: all .4s ease;
}

#movies .movie_details h2 {
    text-align: left;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
}

#movies .movie_details h2 a {
    color: #006bee !important;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}


#movies .movie_details h2 a:hover {
    color: #ef3982 !important;
}

#movies .movie_details span {
    font-size: .875rem;
    color: #ff9800;
}

#movies .movie_details h2 span {
    line-height: 1.5!important;
    display: table-cell;
    vertical-align: top;
}

#movies .movie_details h2 span i {
    margin-right: 0.5rem;
}

#movies .rating,
#movies .rating_star,
#movies .rating_full,
#movies .rating_empty {
    display: flex;
    align-items: center;
}

#movies .rating_star {
    position: relative;
    padding: 0;
    color: #f7f406;
}


#movies .rating_empty {
    overflow: hidden;
    position: absolute;
    top: 0;
}

#movies .rating_icon {
    fill: currentColor;
    flex-shrink: 0;
}

#movies .rating span {
    margin-left: 0.25rem;
}

#movies .tags {
    position: relative;
    margin-top: 5px;
}

#movies .tags span {
    padding: 2px 5px;
    margin-top: 2px;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
}

#movies .tags span:nth-child(1) {
    background-color: #f70661;
}

#movies .tags span:nth-child(2) {
    background-color: #7206f7;
}

#movies .tags span:nth-child(3) {
    background-color: #f79d06;
}

#movies .tags span:nth-child(4) {
    background-color: #06f7a8;
}

#movies .tags span:nth-child(5) {
    background-color: #06a5f7;
}

#movies .tags span:nth-child(6) {
    background-color: #f70693;
}

#movies .tags span:nth-child(7) {
    background-color: #7254f7;
}

#movies .tags span:nth-child(8) {
    background-color: #f7e606;
}

#movies .tags span:nth-child(9) {
    background-color: #06f76f;
}

#movies .tags span:nth-child(10) {
    background-color: #06a5a9;
}

#movies .info {
    color: #fff;
}

#movies .info p {
    font-size: 0.875rem;
    margin: 15px 0 10px;
    line-height: 1.5 !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#movies .star {
    position: relative;
    display: flex;
    align-items: center;
}

#movies .star h4 {
    color: #fff;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1rem;
}

#movies .star ul {
    padding-left: 0px !important;
    padding: 0;
    margin: 0 !important;
    display: flex;
}

#movies .star ul li {
    list-style: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
    margin: 0;
}

#movies .star ul li:not(:first-child) {
    margin-left: -10px;
}

#movies .star ul li img {
    width: 100%;
    display: block;
}

#movies .movie-footer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12px;
    line-height: 1.8;
}

#movies .movie-play {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

#movies .movie-play::before {
    content: '|';
    position: relative;
    margin: 0 0.25rem;
    color: gray;
    font-size: 0.75rem;
}

#movies .movie-play svg path {
    fill: white;
}

#movies .movie-play:hover svg path {
    fill: #006bee;
}

.dcc-chrome-releases .devsite-landing-row-item-image {
    background: #f5f5f5 !important;
}

.dcc-hero .devsite-landing-row-item-image img {
    border-radius: 1.5rem !important;
}

.dcc-chrome-releases .devsite-landing-row-item-image img {
    width: auto !important;
    margin: 0 auto !important;
}

#goods .devsite-landing-row-item-image img {
    height: 100% !important;
}

#penta {
    margin-bottom: 0 !important;
}

#penta .devsite-landing-row-item-buttons {
    display: flex !important;
    justify-content: center !important;
}

#penta .champion a,
#penta .penta-date {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 auto !important;
}

#penta .champion img {
    width: 1.1rem !important;
    height: 1.1rem !important;
}

#penta .caption {
    margin-left: 0.25rem !important;
}

#penta .caption:hover {
    color: #006bee !important;
    text-decoration: none !important;
}

#penta .penta-date {
    font-size: 0.75rem !important;
    opacity: 0.5 !important;
}

#penta .penta-date .dateText {
    margin-left: 0.125rem !important;
}

#penta .devsite-landing-row-item-image img {
    transition: transform 0.3s;
}

#penta .devsite-landing-row-item-image:hover img {
    transform: scale(1.1);
}

#toots h2 a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}

#toots h2 img {
    width: 3rem;
    height: 3rem;
}

#toots .devsite-landing-row-item-buttons a {
    margin-right: 0.5rem;
}

.footer-title {
    font-size: 1.25rem !important;
}

.footer__cluster {
    font-size: 0.875rem !important;
}

.footer-meta {
    max-width: var(--devsite-landing-row-max-width, 1488px) !important;
    margin: 0 auto !important;
}

.footer-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

body[theme="dark"] {
    color: var(--devsite-primary-text-color) !important;
    background-color: var(--devsite-background-1) !important;
}

[theme="dark"] header {
    background-color: #f8f8f8 !important;
}

[theme="dark"] a,
[theme="dark"] a::before,
[theme="dark"] a::after {
    color: #161209 !important;
}

[theme="dark"] .search input,
[theme="dark"] .open .search input,
[theme="dark"] .search.mobile input {
    background-color: #f8f8f8 !important;
}

[theme="dark"] .devsite-landing-row-header {
    background-color: transparent !important;
}

[theme="dark"] a:active,
[theme="dark"] a:hover {
    color: #006bee !important;
}

[theme="dark"] .dcc-hero .devsite-landing-row-item-buttons a:active,
[theme="dark"] .dcc-hero .devsite-landing-row-item-buttons a:hover {
    color: #fff !important;
}

[theme="dark"] .button,
[theme="dark"] .devsite-footer-utility-button>a,
[theme="dark"] button,
[theme="dark"] input[type="button"],
[theme="dark"] input[type="file"],
[theme="dark"] input[type="image"],
[theme="dark"] input[type="reset"],
[theme="dark"] input[type="submit"] {
    color: var(--devsite-button-color) !important;
}

[theme="dark"] .home-social a {
    color: #fff !important;
}

body[theme="black"] {
    color: var(--devsite-primary-text-color) !important;
    background-color: var(--devsite-background-1) !important;
}

[theme="black"] header {
    background-color: #f8f8f8 !important;
}

[theme="black"] a,
[theme="black"] a::before,
[theme="black"] a::after {
    color: #161209 !important;
}

[theme="black"] .search input,
[theme="black"] .open .search input,
[theme="black"] .search.mobile input {
    background-color: #f8f8f8 !important;
}

[theme="black"] .devsite-landing-row-header {
    background-color: transparent !important;
}

[theme="black"] a:active,
[theme="black"] a:hover {
    color: #006bee !important;
}

[theme="black"] .dcc-hero .devsite-landing-row-item-buttons a:active,
[theme="black"] .dcc-hero .devsite-landing-row-item-buttons a:hover {
    color: #fff !important;
}

[theme="black"] .button,
[theme="black"] .devsite-footer-utility-button>a,
[theme="black"] button,
[theme="black"] input[type="button"],
[theme="black"] input[type="file"],
[theme="black"] input[type="image"],
[theme="black"] input[type="reset"],
[theme="black"] input[type="submit"] {
    color: var(--devsite-button-color) !important;
}

[theme="black"] .home-social a {
    color: #fff !important;
}

/* mastodon timeline custom for home*/

/* Theme colors */
:root {
    --mt-bg-color: #fff;
    --mt-bg-hover-color: #d9e1e8;
    --mt-line-gray-color: #c0cdd9;
    --mt-content-text: #000;
    --mt-link-color: #2d96bd;
    --mt-error-text-color: #8b0000;
    --mt-header-color: rgb(83, 100, 113);
    --mt-timeline-bg-color: #f5f5f5;
    --mt-border-color: #fff;
    --mt-hover-border-color: #e5e7eb;
    --mt-code-color: #161209;
    --mt-code-bg-color: rgba(175, 184, 193, 0.2);
    --mt-pre-color: #161209;
    --mt-pre-bg-color: rgba(175, 184, 193, 0.2);
    --mt-avatar-border: rgba(255, 133, 62, 0.7);
    --mt-nick-color: #000;
    --mt-bar-color: #51596f;
    --mt-bar-bg-color: rgba(96, 105, 132, 0.15);
}

:root [theme="dark"] {
    --mt-bg-color: #292a2d;
    --mt-bg-hover-color: #313543;
    --mt-line-gray-color: #59c5ec;
    --mt-content-text: #a9a9b3;
    --mt-link-color: #539bf5;
    --mt-error-text-color: #fe6c6c;
    --mt-header-color: rgb(139, 152, 165);
    --mt-timeline-bg-color: #22272e;
    --mt-border-color: #22272e;
    --mt-hover-border-color: #333;
    --mt-code-color: #adbac7;
    --mt-code-bg-color: rgba(110, 118, 129, 0.4);
    --mt-pre-color: #adbac7;
    --mt-pre-bg-color: rgba(110, 118, 129, 0.4);
    --mt-avatar-border: rgba(255, 133, 62, 0.5);
    --mt-nick-color: #a9a9b3;
}

:root [theme="black"] {
    --mt-bg-color: #000;
    --mt-bg-hover-color: #313543;
    --mt-line-gray-color: #59c5ec;
    --mt-content-text: #a9a9b3;
    --mt-link-color: #539bf5;
    --mt-error-text-color: #fe6c6c;
    --mt-header-color: rgb(139, 152, 165);
    --mt-timeline-bg-color: #22272e;
    --mt-border-color: #22272e;
    --mt-hover-border-color: #333;
    --mt-code-color: #adbac7;
    --mt-code-bg-color: rgba(110, 118, 129, 0.4);
    --mt-pre-color: #adbac7;
    --mt-pre-bg-color: rgba(110, 118, 129, 0.4);
    --mt-avatar-border: rgba(255, 133, 62, 0.7);
    --mt-nick-color: #a9a9b3;
}

/* Main container */

.mt-body {
    padding: 1rem 0;
}

.mt-toot {
    margin: 0;
    padding: 0 1rem;
    overflow: hidden;
    min-height: 180px;
}

.mt-header {
    display: flex;
    line-height: 1.5;
    align-items: center;
}

.mt-header a:link,
.mt-header a:active,
.mt-header a {
    text-decoration: none !important;
}
/* User icon */

.mt-avatar {
    background-color: var(--mt-bg-color);
    position: relative;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    -o-object-fit: cover;
    object-fit: cover;
    border: 0.125rem solid var(--mt-avatar-border);
    border-radius: 0.4rem;
    overflow: hidden;
}

.mt-user {
    display: flex;
    margin-bottom: 0;
}

.mt-user a:link,
.mt-user a:active,
.mt-user a {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.mt-nick {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--mt-nick-color);
}

.mt-id {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 0.875em;
    overflow-wrap: break-word;
    min-width: 0;
    box-sizing: border-box;
    color: var(--mt-link-color);
    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-shrink: 1;
    font-weight: 400;
}

.mt-user > a {
    color: var(--content-text) !important;
}

.toot-text {
    color: var(--mt-content-text);
    line-height: 2;
    margin: 1rem 0;
}

.toot-text blockquote {
    border-left: 4px solid var(--mt-line-gray-color);
}

.toot-text code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    padding: 0.2em 0.4em !important;
    margin: 0 !important;
    font-size: 85% !important;
    white-space: break-spaces !important;
    border-radius: 6px !important;
    color: var(--mt-code-color) !important;
    background: var(--mt-code-bg-color) !important;
    line-height: 1.5 !important;
}

.toot-text pre {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    word-wrap: normal !important;
    word-break: normal !important;
    padding: 16px !important;
    margin: 0 !important;
    overflow: auto !important;
    line-height: 1.45 !important;
    color: var(--mt-pre-color) !important;
    background: var(--mt-pre-bg-color) !important;
    border-radius: 6px !important;
}

.toot-text pre code {
    background: none !important;
    padding: 0.2em 0.4em 0 !important;
}

.toot-text p,
.toot-text ul li p {
    margin: 0 !important;
    padding: 0 !important;
}

.toot-text p svg {
    display: inline-block;
    vertical-align: -0.125rem;
}

.mt-error {
    position: relative;
    color: var(--mt-error-text-color);
}

.toot-poll {
    color: var(--mt-content-text);
}

.spoiler-link {
    background-color: var(--mt-line-gray-color);
    color: var(--mt-content-text);
}

.toot-footer .toot-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;
}

.toot-date {
    font-size: 0.9rem;
    margin-left: auto;
    margin-bottom: auto;
}

.mt-toot .toot-date a {
    text-decoration: none;
    white-space: nowrap;
    padding: 0.25rem;
}

.toot-text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.toot-text p a,
.toot-text p a .invisible,
.toot-text p a .ellipsis,
.toot-text p a .invisible,
.toot-text p a .mention,
.toot-text p a .hashtag {
    color: #006bee !important;
    text-decoration: none !important;
}

.toot-text p a:hover,
.toot-text p a:hover .invisible,
.toot-text p a:hover .ellipsis,
.toot-text p a:hover .invisible,
.toot-text p a:hover .mention,
.toot-text p a:hover .hashtag {
    color: #006bee !important;
    text-decoration: underline !important;
}

.toot-text .toot-attach {
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .toot-text p {
        -webkit-line-clamp: 5;
    }
}

/* uncss:ignore end */
