.album {
    column-count: 3;
    column-gap: 0.5rem;
    margin: 0;
    padding: 0;
    min-height: 5rem;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.album_wrapper {
    margin: 0;
    break-inside: avoid;
    margin-bottom: 0.5rem;
    transition: transform 0.3s;
    overflow: hidden;
    border-radius: 0.25rem;
    min-height: 10rem;
    position: relative;
}

.album_wrapper img {
    display: block;
    width: 100%;
    animation: fadeIn 1s;
    cursor: pointer;
    transition: all 0.4s ease-in-out !important;
    border-radius: 0.25rem;
    transform: scale(1);
    object-fit: cover;
    min-height: 10rem !important;
    height: 100%;
}

.album_wrapper:hover img {
    transform: scale(1.1);
}

.album_wrapper span.photo-title,
.album_wrapper span.photo-time {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    font-size: 0.9rem;
    color: #fff;
    display: none;
    animation: fadeIn 1s;
    left: 0;
    padding: 0 0.25rem;
}

.album_wrapper span.photo-title {
    bottom: 0;
    border-radius: 0 0.25rem 0 0.25rem;
}

.album_wrapper span.photo-time {
    top: 0;
    border-radius: 0.25rem 0 0.25rem 0;
}

.album_wrapper:hover span.photo-title,
.album_wrapper:hover span.photo-time {
    display: block !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 680px) {
    .album {
        column-count: 2;
    }
}
