<!-- anti mirror -->
<script>
  (function() {
    // Domain whitelist
    var encodedValidDomains = [
      'ZWFsbGlvbi5jb20=',
      'd3d3LmVhbGxpb24uY29t',
      'bG9jYWxob3N0',
      'MTI3LjAuMC4x',
      'MTkyLjE2OC4wLjU=',
      'dGVzdC5lYWxsaW9uLmNvbQ==',
      'YmxvZy5lYWxsaW9uLmNvbQ=='
    ];
    var encodedRedirectUrl = 'aHR0cHM6Ly93d3cuZWFsbGlvbi5jb20=';

    function decodeBase64(encodedStr) {
      return atob(encodedStr);
    }

    var validDomains = encodedValidDomains.map(decodeBase64);
    var redirectUrl = decodeBase64(encodedRedirectUrl);

    var hostname = document.location.hostname;
    if (!validDomains.includes(hostname)) {
      window.location.href = redirectUrl;
    }
  })();
</script>

<!-- 顶部进度条 -->
<progress id="content_progress" value="0"></progress>
<script>
document.addEventListener('DOMContentLoaded', function () {
      var winHeight = window.innerHeight,
            docHeight = document.documentElement.scrollHeight,
            progressBar = document.querySelector('#content_progress');
      progressBar.max = docHeight - winHeight;
      progressBar.value = window.scrollY;

      document.addEventListener('scroll', function () {
            progressBar.max = document.documentElement.scrollHeight - window.innerHeight;
            progressBar.value = window.scrollY;
      });
});
</script>
