main {
    --color-prettylights-syntax-comment: #6e7781;
    --color-prettylights-syntax-constant: #0550ae;
    --color-prettylights-syntax-entity: #8250df;
    --color-prettylights-syntax-storage-modifier-import: #24292f;
    --color-prettylights-syntax-entity-tag: #116329;
    --color-prettylights-syntax-keyword: #cf222e;
    --color-prettylights-syntax-string: #0a3069;
    --color-prettylights-syntax-variable: #953800;
    --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
    --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
    --color-prettylights-syntax-invalid-illegal-bg: #82071e;
    --color-prettylights-syntax-carriage-return-text: #f6f8fa;
    --color-prettylights-syntax-carriage-return-bg: #cf222e;
    --color-prettylights-syntax-string-regexp: #116329;
    --color-prettylights-syntax-markup-list: #3b2300;
    --color-prettylights-syntax-markup-heading: #0550ae;
    --color-prettylights-syntax-markup-italic: #24292f;
    --color-prettylights-syntax-markup-bold: #24292f;
    --color-prettylights-syntax-markup-deleted-text: #82071e;
    --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
    --color-prettylights-syntax-markup-inserted-text: #116329;
    --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
    --color-prettylights-syntax-markup-changed-text: #953800;
    --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
    --color-prettylights-syntax-markup-ignored-text: #eaeef2;
    --color-prettylights-syntax-markup-ignored-bg: #0550ae;
    --color-prettylights-syntax-meta-diff-range: #8250df;
    --color-prettylights-syntax-brackethighlighter-angle: #57606a;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
    --color-prettylights-syntax-constant-other-reference-link: #0a3069;
    --color-btn-text: #24292f;
    --color-btn-bg: #f6f8fa;
    --color-btn-border: rgb(27 31 36 / 15%);
    --color-btn-shadow: 0 1px 0 rgb(27 31 36 / 4%);
    --color-btn-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 25%);
    --color-btn-hover-bg: #f3f4f6;
    --color-btn-hover-border: rgb(27 31 36 / 15%);
    --color-btn-active-bg: hsl(220deg 14% 93% / 100%);
    --color-btn-active-border: rgb(27 31 36 / 15%);
    --color-btn-selected-bg: hsl(220deg 14% 94% / 100%);
    --color-btn-primary-text: #fff;
    --color-btn-primary-bg: #2da44e;
    --color-btn-primary-border: rgb(27 31 36 / 15%);
    --color-btn-primary-shadow: 0 1px 0 rgb(27 31 36 / 10%);
    --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
    --color-btn-primary-hover-bg: #2c974b;
    --color-btn-primary-hover-border: rgb(27 31 36 / 15%);
    --color-btn-primary-selected-bg: hsl(137deg 55% 36% / 100%);
    --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(0 45 17 / 20%);
    --color-btn-primary-disabled-text: rgb(255 255 255 / 80%);
    --color-btn-primary-disabled-bg: #94d3a2;
    --color-btn-primary-disabled-border: rgb(27 31 36 / 15%);
    --color-fg-default: #24292f;
    --color-fg-muted: #57606a;
    --color-fg-subtle: #6e7781;
    --color-canvas-default: #fff;
    --color-canvas-overlay: #fff;
    --color-canvas-inset: #f6f8fa;
    --color-canvas-subtle: #f6f8fa;
    --color-border-default: #d0d7de;
    --color-border-muted: hsl(210deg 18% 87% / 100%);
    --color-neutral-muted: rgb(175 184 193 / 20%);
    --color-accent-fg: #0969da;
    --color-accent-emphasis: #0969da;
    --color-accent-muted: rgb(84 174 255 / 40%);
    --color-accent-subtle: #ddf4ff;
    --color-success-fg: #1a7f37;
    --color-attention-fg: #9a6700;
    --color-attention-muted: rgb(212 167 44 / 40%);
    --color-attention-subtle: #fff8c5;
    --color-danger-fg: #cf222e;
    --color-danger-muted: rgb(255 129 130 / 40%);
    --color-danger-subtle: #ffebe9;
    --color-primer-shadow-inset: inset 0 1px 0 rgb(208 215 222 / 20%);
    --color-primer-shadow-focus: 0 0 0 3px rgb(9 105 218 / 30%);
    --color-scale-gray-1: #eaeef2;
    --color-scale-blue-1: #b6e3ff;

    --color-social-reaction-bg-hover: var(--color-scale-gray-1);
    --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}

main .pagination-loader-container {
    background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line.svg");
}

main .gsc-loading-image {
    background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}

@media (prefers-color-scheme: dark) {
    main {
        --color-prettylights-syntax-comment: #768390;
        --color-prettylights-syntax-constant: #6cb6ff;
        --color-prettylights-syntax-entity: #dcbdfb;
        --color-prettylights-syntax-storage-modifier-import: #adbac7;
        --color-prettylights-syntax-entity-tag: #8ddb8c;
        --color-prettylights-syntax-keyword: #f47067;
        --color-prettylights-syntax-string: #96d0ff;
        --color-prettylights-syntax-variable: #f69d50;
        --color-prettylights-syntax-brackethighlighter-unmatched: #e5534b;
        --color-prettylights-syntax-invalid-illegal-text: #cdd9e5;
        --color-prettylights-syntax-invalid-illegal-bg: #922323;
        --color-prettylights-syntax-carriage-return-text: #cdd9e5;
        --color-prettylights-syntax-carriage-return-bg: #ad2e2c;
        --color-prettylights-syntax-string-regexp: #8ddb8c;
        --color-prettylights-syntax-markup-list: #eac55f;
        --color-prettylights-syntax-markup-heading: #316dca;
        --color-prettylights-syntax-markup-italic: #adbac7;
        --color-prettylights-syntax-markup-bold: #adbac7;
        --color-prettylights-syntax-markup-deleted-text: #ffd8d3;
        --color-prettylights-syntax-markup-deleted-bg: #78191b;
        --color-prettylights-syntax-markup-inserted-text: #b4f1b4;
        --color-prettylights-syntax-markup-inserted-bg: #1b4721;
        --color-prettylights-syntax-markup-changed-text: #ffddb0;
        --color-prettylights-syntax-markup-changed-bg: #682d0f;
        --color-prettylights-syntax-markup-ignored-text: #adbac7;
        --color-prettylights-syntax-markup-ignored-bg: #255ab2;
        --color-prettylights-syntax-meta-diff-range: #dcbdfb;
        --color-prettylights-syntax-brackethighlighter-angle: #768390;
        --color-prettylights-syntax-sublimelinter-gutter-mark: #545d68;
        --color-prettylights-syntax-constant-other-reference-link: #96d0ff;
        --color-btn-text: #adbac7;
        --color-btn-bg: #373e47;
        --color-btn-border: rgb(205 217 229 / 10%);
        --color-btn-shadow: 0 0 transparent;
        --color-btn-inset-shadow: 0 0 transparent;
        --color-btn-hover-bg: #444c56;
        --color-btn-hover-border: #768390;
        --color-btn-active-bg: hsl(213deg 12% 27% / 100%);
        --color-btn-active-border: #636e7b;
        --color-btn-selected-bg: #2d333b;
        --color-btn-primary-text: #fff;
        --color-btn-primary-bg: #347d39;
        --color-btn-primary-border: rgb(205 217 229 / 10%);
        --color-btn-primary-shadow: 0 0 transparent;
        --color-btn-primary-inset-shadow: 0 0 transparent;
        --color-btn-primary-hover-bg: #46954a;
        --color-btn-primary-hover-border: rgb(205 217 229 / 10%);
        --color-btn-primary-selected-bg: #347d39;
        --color-btn-primary-selected-shadow: 0 0 transparent;
        --color-btn-primary-disabled-text: rgb(205 217 229 / 50%);
        --color-btn-primary-disabled-bg: rgb(52 125 57 / 60%);
        --color-btn-primary-disabled-border: rgb(205 217 229 / 10%);
        --color-fg-default: #adbac7;
        --color-fg-muted: #768390;
        --color-fg-subtle: #636e7b;
        --color-canvas-default: #22272e;
        --color-canvas-overlay: #2d333b;
        --color-canvas-inset: #1c2128;
        --color-canvas-subtle: #2d333b;
        --color-border-default: #444c56;
        --color-border-muted: #373e47;
        --color-neutral-muted: rgb(99 110 123 / 40%);
        --color-accent-fg: #539bf5;
        --color-accent-emphasis: #316dca;
        --color-accent-muted: rgb(65 132 228 / 40%);
        --color-accent-subtle: rgb(65 132 228 / 15%);
        --color-success-fg: #57ab5a;
        --color-attention-fg: #c69026;
        --color-attention-muted: rgb(174 124 20 / 40%);
        --color-attention-subtle: rgb(174 124 20 / 15%);
        --color-danger-fg: #e5534b;
        --color-danger-muted: rgb(229 83 75 / 40%);
        --color-danger-subtle: rgb(229 83 75 / 15%);
        --color-primer-shadow-inset: 0 0 transparent;
        --color-primer-shadow-focus: 0 0 0 3px #143d79;
        --color-scale-gray-7: #373e47;
        --color-scale-blue-8: #143d79;

        --color-social-reaction-bg-hover: var(--color-scale-gray-7);
        --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
    }

    main .pagination-loader-container {
        background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line-dark.svg");
    }

    main .gsc-loading-image {
        background-image: url("https://github.githubassets.com/images/mona-loading-dimmed.gif");
    }
}
