pre code,
code {
    font-family: "JetBrains Mono", "Noto Sans Mono", "Source Code Pro", "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.875rem;
}

:not(pre)>code {
    background: #f5f2f0 !important;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
    white-space: normal;
}

.dark :not(pre)>code {
    background: #2d333b !important;
}

.tk-content pre,
.post-content pre {
    border-radius: 6px;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.45;
    margin: .5em 0;
    overflow: auto;
    tab-size: 4;
    text-align: left;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5rem;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    word-wrap: normal;
}

.tk-content pre code,
.post-content pre code {
    flex-shrink: 0;
}

.tk-content pre,
.tk-content code,
.post-content pre,
.post-content code {
    background: #fafafa !important;
}

.dark .tk-content pre,
.dark .tk-content code,
.dark .post-content pre,
.dark .post-content code {
    background: #2d333b !important;
}

pre code,
pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #24292e;
    background: #fff
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    color: #d73a49
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    color: #6f42c1
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
    color: #005cc5
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: #032f62
}

.hljs-built_in,
.hljs-symbol {
    color: #e36209
}

.hljs-code,
.hljs-comment,
.hljs-formula {
    color: #6a737d
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #22863a
}

.hljs-subst {
    color: #24292e
}

.hljs-section {
    color: #005cc5;
    font-weight: 700
}

.hljs-bullet {
    color: #735c0f
}

.hljs-emphasis {
    color: #24292e;
    font-style: italic
}

.hljs-strong {
    color: #24292e;
    font-weight: 700
}

.hljs-addition {
    color: #22863a;
    background-color: #f0fff4
}

.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0
}

/* darkmode */
.dark .hljs {
    color: #adbac7;
    background: #22272e
}

.dark .hljs-doctag,
.dark .hljs-keyword,
.dark .hljs-meta .hljs-keyword,
.dark .hljs-template-tag,
.dark .hljs-template-variable,
.dark .hljs-type,
.dark .hljs-variable.language_ {
    color: #f47067
}

.dark .hljs-title,
.dark .hljs-title.class_,
.dark .hljs-title.class_.inherited__,
.dark .hljs-title.function_ {
    color: #dcbdfb
}

.dark .hljs-attr,
.dark .hljs-attribute,
.dark .hljs-literal,
.dark .hljs-meta,
.dark .hljs-number,
.dark .hljs-operator,
.dark .hljs-selector-attr,
.dark .hljs-selector-class,
.dark .hljs-selector-id,
.dark .hljs-variable {
    color: #6cb6ff
}

.dark .hljs-meta .hljs-string,
.dark .hljs-regexp,
.dark .hljs-string {
    color: #96d0ff
}

.dark .hljs-built_in,
.dark .hljs-symbol {
    color: #f69d50
}

.dark .hljs-code,
.dark .hljs-comment,
.dark .hljs-formula {
    color: #768390
}

.dark .hljs-name,
.dark .hljs-quote,
.dark .hljs-selector-pseudo,
.dark .hljs-selector-tag {
    color: #8ddb8c
}

.dark .hljs-subst {
    color: #adbac7
}

.dark .hljs-section {
    color: #316dca
}

.dark .hljs-bullet {
    color: #eac55f
}

.dark .hljs-emphasis {
    color: #adbac7;
}

.dark .hljs-strong {
    color: #adbac7;
    font-weight: 700
}

.dark .hljs-addition {
    color: #b4f1b4;
    background-color: #1b4721
}

.dark .hljs-deletion {
    color: #ffd8d3;
    background-color: #78191b
}
