:not(pre)>code {
    background: #f5f2f0 !important;
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
    white-space: normal;
}

.dark :not(pre)>code {
    background: #636e7b66 !important;
}

.post-content pre {
    font-family: "JetBrains Mono", "Source Code Pro", Consolas, Monaco,
        "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 85%;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
    line-height: 1.45;
    border-radius: 6px;
}

/* Chroma GitHub Theme light and dark */
/* Background */
.post-content pre,
.chroma {
    background-color: #f5f2f0;
}

/* Other */
.chroma .x {}

/* Error */
.chroma .err {
    color: #a61717;
    background-color: #e3d2d2
}

/* LineTableTD */
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
}

/* LineHighlight */
.chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc
}

/* LineNumbersTable */
.chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
}

/* LineNumbers */
.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
}

/* Keyword */
.chroma .k {
    color: #000000;
    font-weight: bold
}

/* KeywordConstant */
.chroma .kc {
    color: #000000;
    font-weight: bold
}

/* KeywordDeclaration */
.chroma .kd {
    color: #000000;
    font-weight: bold
}

/* KeywordNamespace */
.chroma .kn {
    color: #000000;
    font-weight: bold
}

/* KeywordPseudo */
.chroma .kp {
    color: #000000;
    font-weight: bold
}

/* KeywordReserved */
.chroma .kr {
    color: #000000;
    font-weight: bold
}

/* KeywordType */
.chroma .kt {
    color: #445588;
    font-weight: bold
}

/* Name */
.chroma .n {}

/* NameAttribute */
.chroma .na {
    color: #008080
}

/* NameBuiltin */
.chroma .nb {
    color: #0086b3
}

/* NameBuiltinPseudo */
.chroma .bp {
    color: #999999
}

/* NameClass */
.chroma .nc {
    color: #445588;
    font-weight: bold
}

/* NameConstant */
.chroma .no {
    color: #008080
}

/* NameDecorator */
.chroma .nd {
    color: #3c5d5d;
    font-weight: bold
}

/* NameEntity */
.chroma .ni {
    color: #800080
}

/* NameException */
.chroma .ne {
    color: #990000;
    font-weight: bold
}

/* NameFunction */
.chroma .nf {
    color: #990000;
    font-weight: bold
}

/* NameFunctionMagic */
.chroma .fm {}

/* NameLabel */
.chroma .nl {
    color: #990000;
    font-weight: bold
}

/* NameNamespace */
.chroma .nn {
    color: #555555
}

/* NameOther */
.chroma .nx {}

/* NameProperty */
.chroma .py {}

/* NameTag */
.chroma .nt {
    color: #000080
}

/* NameVariable */
.chroma .nv {
    color: #008080
}

/* NameVariableClass */
.chroma .vc {
    color: #008080
}

/* NameVariableGlobal */
.chroma .vg {
    color: #008080
}

/* NameVariableInstance */
.chroma .vi {
    color: #008080
}

/* NameVariableMagic */
.chroma .vm {}

/* Literal */
.chroma .l {}

/* LiteralDate */
.chroma .ld {}

/* LiteralString */
.chroma .s {
    color: #dd1144
}

/* LiteralStringAffix */
.chroma .sa {
    color: #dd1144
}

/* LiteralStringBacktick */
.chroma .sb {
    color: #dd1144
}

/* LiteralStringChar */
.chroma .sc {
    color: #dd1144
}

/* LiteralStringDelimiter */
.chroma .dl {
    color: #dd1144
}

/* LiteralStringDoc */
.chroma .sd {
    color: #dd1144
}

/* LiteralStringDouble */
.chroma .s2 {
    color: #dd1144
}

/* LiteralStringEscape */
.chroma .se {
    color: #dd1144
}

/* LiteralStringHeredoc */
.chroma .sh {
    color: #dd1144
}

/* LiteralStringInterpol */
.chroma .si {
    color: #dd1144
}

/* LiteralStringOther */
.chroma .sx {
    color: #dd1144
}

/* LiteralStringRegex */
.chroma .sr {
    color: #009926
}

/* LiteralStringSingle */
.chroma .s1 {
    color: #dd1144
}

/* LiteralStringSymbol */
.chroma .ss {
    color: #990073
}

/* LiteralNumber */
.chroma .m {
    color: #009999
}

/* LiteralNumberBin */
.chroma .mb {
    color: #009999
}

/* LiteralNumberFloat */
.chroma .mf {
    color: #009999
}

/* LiteralNumberHex */
.chroma .mh {
    color: #009999
}

/* LiteralNumberInteger */
.chroma .mi {
    color: #009999
}

/* LiteralNumberIntegerLong */
.chroma .il {
    color: #009999
}

/* LiteralNumberOct */
.chroma .mo {
    color: #009999
}

/* Operator */
.chroma .o {
    color: #000000;
    font-weight: bold
}

/* OperatorWord */
.chroma .ow {
    color: #000000;
    font-weight: bold
}

/* Punctuation */
.chroma .p {}

/* Comment */
.chroma .c {
    color: #999988;
    font-style: italic
}

/* CommentHashbang */
.chroma .ch {
    color: #999988;
    font-style: italic
}

/* CommentMultiline */
.chroma .cm {
    color: #999988;
    font-style: italic
}

/* CommentSingle */
.chroma .c1 {
    color: #999988;
    font-style: italic
}

/* CommentSpecial */
.chroma .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* CommentPreproc */
.chroma .cp {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* CommentPreprocFile */
.chroma .cpf {
    color: #999999;
    font-weight: bold;
    font-style: italic
}

/* Generic */
.chroma .g {}

/* GenericDeleted */
.chroma .gd {
    color: #000000;
    background-color: #ffdddd
}

/* GenericEmph */
.chroma .ge {
    color: #000000;
    font-style: italic
}

/* GenericError */
.chroma .gr {
    color: #aa0000
}

/* GenericHeading */
.chroma .gh {
    color: #999999
}

/* GenericInserted */
.chroma .gi {
    color: #000000;
    background-color: #ddffdd
}

/* GenericOutput */
.chroma .go {
    color: #888888
}

/* GenericPrompt */
.chroma .gp {
    color: #555555
}

/* GenericStrong */
.chroma .gs {
    font-weight: bold
}

/* GenericSubheading */
.chroma .gu {
    color: #aaaaaa
}

/* GenericTraceback */
.chroma .gt {
    color: #aa0000
}

/* GenericUnderline */
.chroma .gl {
    text-decoration: underline
}

/* TextWhitespace */
.chroma .w {
    color: #bbbbbb
}

.dark .post-content pre,
.dark .chroma {
    background-color: #636e7b66;
}

.dark .chroma .err {
    color: #f85149;
}

.dark .chroma .p {
    color: #c9d1d9;
}

.dark .chroma .lntd {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.dark .chroma .lntable {
    width: auto;
    border: 0;
    margin: 0;
    display: block;
    padding: 0;
    overflow: auto;
    border-spacing: 0;
}

.dark .chroma .hl {
    width: 100%;
    display: block;
    background-color: rgba(110, 118, 129, 0.1);
}

.dark .chroma .lnt {
    color: #8b949e;
    padding: 0 0.4em 0 0.4em;
    font-size: 0.875rem;
    margin-right: 0.4em;
}

.dark .chroma .ln {
    color: #8b949e;
    padding: 0 0.4em 0 0.4em;
    margin-right: 0.4em;
}

.dark .chroma .k {
    color: #ff7b72;
}

.dark .chroma .kc {
    color: #ff7b72;
    font-weight: bold;
}

.dark .chroma .kd {
    color: #ff7b72;
    font-weight: bold;
}

.dark .chroma .kn {
    color: #ff7b72;
    font-weight: bold;
}

.dark .chroma .kp {
    color: #ff7b72;
    font-weight: bold;
}

.dark .chroma .kr {
    color: #ff7b72;
    font-weight: bold;
}

.dark .chroma .kt {
    color: #ff7b72;
    font-weight: bold;
}

.dark .chroma .na {
    color: #c9d1d9;
}

.dark .chroma .nb {
    color: #c9d1d9;
}

.dark .chroma .bp {
    color: #c9d1d9;
}

.dark .chroma .nc {
    color: #7ee787;
    font-weight: bold;
}

.dark .chroma .no {
    color: #79c0ff;
    font-weight: bold;
}

.dark .chroma .nd {
    color: #bc8cff;
    font-weight: bold;
}

.dark .chroma .ni {
    color: #ffa657;
}

.dark .chroma .ne {
    color: #ffa657;
    font-weight: bold;
}

.dark .chroma .nf {
    color: #d2a8ff;
    font-weight: bold;
}

.dark .chroma .nl {
    color: #79c0ff;
    font-weight: bold;
}

.dark .chroma .nm {
    color: #ff7b72;
}

.dark .chroma .nx {
    color: #79c0ff;
}

.dark .chroma .py {
    color: #79c0ff;
}

.dark .chroma .nt {
    color: #7ee787;
}

.dark .chroma .nv {
    color: #79c0ff;
}

.dark .chroma .vc {
    color: #79c0ff;
}

.dark .chroma .vg {
    color: #79c0ff;
}

.dark .chroma .vi {
    color: #79c0ff;
}

.dark .chroma .l {
    color: #79c0ff;
}

.dark .chroma .ld {
    color: #79c0ff;
}

.dark .chroma .s {
    color: #79c0ff;
}

.dark .chroma .sa {
    color: #79c0ff;
}

.dark .chroma .sb {
    color: #79c0ff;
}

.dark .chroma .sc {
    color: #79c0ff;
}

.dark .chroma .dl {
    color: #79c0ff;
}

.dark .chroma .sd {
    color: #79c0ff;
}

.dark .chroma .s2 {
    color: #79c0ff;
}

.dark .chroma .se {
    color: #79c0ff;
}

.dark .chroma .sh {
    color: #79c0ff;
}

.dark .chroma .si {
    color: #79c0ff;
}

.dark .chroma .sx {
    color: #79c0ff;
}

.dark .chroma .sr {
    color: #79c0ff;
}

.dark .chroma .s1 {
    color: #79c0ff;
}

.dark .chroma .ss {
    color: #79c0ff;
}

.dark .chroma .m {
    color: #79c0ff;
}

.dark .chroma .mb {
    color: #79c0ff;
}

.dark .chroma .mf {
    color: #79c0ff;
}

.dark .chroma .mh {
    color: #79c0ff;
}

.dark .chroma .mi {
    color: #79c0ff;
}

.dark .chroma .il {
    color: #79c0ff;
}

.dark .chroma .mo {
    color: #79c0ff;
}

.dark .chroma .o {
    color: #a5d6ff;
    font-weight: bold;
}

.dark .chroma .ow {
    color: #a5d6ff;
    font-weight: bold;
}

.dark .chroma .c {
    color: #8b949e;
    font-style: italic;
}

.dark .chroma .ch {
    color: #8b949e;
    font-style: italic;
}

.dark .chroma .cm {
    color: #8b949e;
    font-style: italic;
}

.dark .chroma .c1 {
    color: #8b949e;
    font-style: italic;
}

.dark .chroma .cs {
    color: #8b949e;
    font-style: italic;
}

.dark .chroma .cpf {
    color: #8b949e;
    font-style: italic;
}

.dark .chroma .gd {
    color: #ffa198;
    background-color: #490202;
}

.dark .chroma .ge {
    color: #c9d1d9;
    font-style: italic;
}

.dark .chroma .gr {
    color: #ffa198;
}

.dark .chroma .gh {
    color: #79c0ff;
}

.dark .chroma .gi {
    color: #0d1117;
    background-color: #56d364;
}

.dark .chroma .go {
    color: #8b949e;
}

.dark .chroma .gp {
    color: #8b949e;
}

.dark .chroma .gs {
    font-weight: bold;
}

.dark .chroma .gu {
    color: #79c0ff;
}

.dark .chroma .gt {
    color: #ffa198;
}

.dark .chroma .gl {
    text-decoration: underline;
}

.dark .chroma .w {
    color: #484f58;
}
