@font-face {
    font-family: "iconfont"; /* Project id 2661996 */
    src: url('//at.alicdn.com/t/font_2661996_csumigyjz7t.woff2?t=1625961846855') format('woff2'),
         url('//at.alicdn.com/t/font_2661996_csumigyjz7t.woff?t=1625961846855') format('woff'),
         url('//at.alicdn.com/t/font_2661996_csumigyjz7t.ttf?t=1625961846855') format('truetype');
         font-display:swap;
  }

  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-love:before {
    content: "\e6e4";
  }

  .icon-twitter-circle:before {
    content: "\e627";
  }

  .icon-linkedin-circle:before {
    content: "\e8ca";
  }

  .icon-pinterest:before {
    content: "\f211";
  }

  .icon-tiktok:before {
    content: "\ecdc";
  }

  .icon-bilibili-fill:before {
    content: "\e652";
  }

  .icon-douyin:before {
    content: "\e8db";
  }

  .icon-taobao:before {
    content: "\e8d9";
  }

  .icon-medium-circle-fill:before {
    content: "\eabb";
  }

  .icon-douyin-fill:before {
    content: "\e60e";
  }

  .icon-douban:before {
    content: "\e82c";
  }

  .icon-douban-circle:before {
    content: "\e641";
  }

  .icon-reddit:before {
    content: "\ebbd";
  }

  .icon-qq:before {
    content: "\e6af";
  }

  .icon-soundcloud:before {
    content: "\e84d";
  }

  .icon-weixin-fill:before {
    content: "\e6b1";
  }

  .icon-qq-fill:before {
    content: "\e63c";
  }

  .icon-linkedin:before {
    content: "\e747";
  }

  .icon-baidu:before {
    content: "\e650";
  }

  .icon-bitbucket:before {
    content: "\e69e";
  }

  .icon-spotify:before {
    content: "\e807";
  }

  .icon-weibo-square-fill:before {
    content: "\e62e";
  }

  .icon-weixin:before {
    content: "\e62f";
  }

  .icon-weixin2:before {
    content: "\e64b";
  }

  .icon-telegram:before {
    content: "\e715";
  }

  .icon-500px:before {
    content: "\e60d";
  }

  .icon-youtube:before {
    content: "\e613";
  }

  .icon-bandcamp:before {
    content: "\f16a";
  }

  .icon-paypal:before {
    content: "\e630";
  }

  .icon-zhihu-square:before {
    content: "\e712";
  }

  .icon-zhihu:before {
    content: "\e765";
  }

  .icon-tieba:before {
    content: "\e65b";
  }

  .icon-gitlab:before {
    content: "\e6aa";
  }

  .icon-xing:before {
    content: "\e7b1";
  }

  .icon-facebook:before {
    content: "\e602";
  }

  .icon-itch-io:before {
    content: "\e603";
  }

  .icon-mastodon:before {
    content: "\e604";
  }

  .icon-slack:before {
    content: "\e608";
  }

  .icon-snapchat:before {
    content: "\e60a";
  }

  .icon-email_filled:before {
    content: "\e706";
  }

  .icon-instagram:before {
    content: "\ebcf";
  }

  .icon-kaggle:before {
    content: "\ebe0";
  }

  .icon-vk:before {
    content: "\ed01";
  }

  .icon-QQ-square-fill:before {
    content: "\ea95";
  }

  .icon-codepen-square-fill:before {
    content: "\eac1";
  }

  .icon-line-quote:before {
    content: "\e6bc";
  }

  .icon-copyright:before {
    content: "\e77e";
  }

  .icon-shield:before {
    content: "\e73a";
  }

  .icon-dark:before {
    content: "\e601";
  }

  .icon-menu:before {
    content: "\e605";
  }

  .icon-chevrons-right:before {
    content: "\e883";
  }

  .icon-shenglvehao:before {
    content: "\e708";
  }

  .icon-archive:before {
    content: "\e9d6";
  }

  .icon-search:before {
    content: "\e63a";
  }

  .icon-view:before {
    content: "\e64e";
  }

  .icon-Down:before {
    content: "\e61c";
  }

  .icon-sousuo:before {
    content: "\e67c";
  }

  .icon-liulan1:before {
    content: "\e622";
  }

  .icon-markdown:before {
    content: "\ef09";
  }

  .icon-sousuo1:before {
    content: "\e611";
  }

  .icon-time-sort:before {
    content: "\e647";
  }

  .icon-right:before {
    content: "\f187";
  }

  .icon-left:before {
    content: "\f188";
  }

  .icon-weibo:before {
    content: "\e619";
  }

  .icon-gmail:before {
    content: "\e6a5";
  }

  .icon-keybase:before {
    content: "\e665";
  }

  .icon-steam:before {
    content: "\e686";
  }

  .icon-youpaiyun:before {
    content: "\e606";
  }

  .icon-keybase-fill:before {
    content: "\e607";
  }

  .icon-alibabacloud:before {
    content: "\ea9f";
  }

  .icon-aliyun1:before {
    content: "\e66e";
  }

  .icon-tengxunyun:before {
    content: "\e66f";
  }

  .icon-stackoverflow-fill:before {
    content: "\e609";
  }

  .icon-privacy:before {
    content: "\e61e";
  }

  .icon-icp:before {
    content: "\e60c";
  }

  .icon-license:before {
    content: "\e612";
  }

  .icon-creative-commons:before {
    content: "\e662";
  }

  .icon-up:before {
    content: "\e618";
  }

  .icon-git-commit:before {
    content: "\e9b8";
  }

  .icon-github:before {
    content: "\e8fd";
  }

  .icon-twitter:before {
    content: "\e600";
  }

  .icon-Hugo:before {
    content: "\e60b";
  }

