.tag-span {
    color: rgb(37 99 235 / 1);
}

.tag-span:hover {
    color: #54a3ff;
}

.tag-span a {
    text-decoration: none;
}

.talks__date .tooltip {
    text-align: center;
}

.talks__date .tooltip::after,
.talks__date .tooltip::before {
    font-size: 12px;
}

.post-preview {
    max-width: 780px;
    height: 210px;
    margin: 1em auto;
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .25);
}

.post-preview--meta {
    width: 75%;
    padding: 25px;
    overflow: hidden;
}

.post-preview--middle {
    line-height: 28px;
}

.post-preview--title {
    font-size: 18px;
    margin: 0 !important;
}

.post-preview--title a {
    text-decoration: none;
}

.post-preview--date {
    font-size: 14px;
    color: #999;
}

.post-preview--excerpt {
    font-size: 14px;
    line-height: 1.825;
}

.post-preview--excerpt p {
    display: inline;
    margin: 0;
}

.post-preview section {
    max-height: 75px;
    overflow: hidden;
}

.post-preview--image {
    margin: 0 !important;
    height: 210px !important;
    width: auto;
    float: right;
    border-radius: 0 !important;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.dark .post-preview {
    background: #4a4b50;
}

.load-btn {
    color: #222;
    margin-left: 50px;
}

.dark .load-btn {
    color: #a9a9b3;
}

.post-content .spotify-wrapper>iframe {
    position: relative;
    height: 152px;
}

@media (max-width:683px) {
    .post-preview {
        width: 95%;
    }

    .post-preview--excerpt {
        display: none;
    }

    .post-preview--middle {
        line-height: 19px;
    }

    .load-btn {
        margin-left: 0;
    }
}

.rating {
    display: block;
    line-height: 15px;
}

.rating-star {
    display: inline-block;
    width: 75px;
    height: 15px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEsAAAClCAYAAAAUAAAYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA5xJREFUeNrs3T9rFEEcxvG7qEQIglaCICKkin9AUEtBKxU7wS61VlYivgWj70TtNFj5BqzE7qxEWwsxKIoYn4UtluFmbm8nczvzm+/BjxyuDwNzu3uXD0+46f7LC5PA45Hm+WTYw1x2LRDc0jzTXB+wqMlsaLPutz8fDFjYZHYauAz3NBvt83XNnyUWNpn1nVm3OsHmsb3EomazzZnVXKMPNcc0xzUnNKc0Rzv/77fms+Z7O3vt9b1eU7bZrNN68l5zcolX4ofmsuZXTdnmMvyi2dR86Bmcac62P6vKrnVubpc0bxYE32nOab45N8YqsvPeDfcD4SOav4HjprPuu+H5BTt9LXDMfNbdLPfT678Fx6vKupt1o/O8+R3pkOaJ5/iktqx7z/qp+aq5q/nY+fczmheaK03Gs7D5rLtZdzSvA6/Ebc2u55j57HQB0TzW7AzkjiKzny6+2hlKNE8juMNcFqKBaIZndRlCNBBNgmx7ZkE0fbLtZkE0EA1EM17WuQwhGogGooFoss6296y52cNO+J6HLJoPaFdbsvA9zGerIxrPh85eWYgGooFoDiQbuAxp0UA0EVmdWbRo+ma1WbRoIBqIZtzsnHdDWjQQDUQD0WSbde5ZS2UhmtqJJtSEiVkXooFoIJre2VATJmZdiKZ2ogk1YSb8oVMvDeUPnSAaiCaPJkzMuhANRAPRQDQpsqEmTMy6EI11oolpwkA0EA1EcyDZmCYMRAPR+LMxTZjqiCamCQPRQDQQzehNGIgGooFoIJpVZ2OaMBBN7USTqgkD0UA0EE3vbKomDERTO9GkasKYJJpUTRiIBqKBaEZvwkA0EA1EA9GkyKZqwkA01olmrCYMRAPRQDR9LkO+0QmiKbAJUyTRjNWEgWggGohm9CYMRAPRQDQQzZDsWE0YiMYC0eTYhIFoIJrKiCbHJgxEY4FocmzCZEs0OTZhIBqIpjKiybEJA9FANBANROPL5tiEgWhKIJoSmzAQDURjjGhKbMJANCUQTYlNmNGIpsQmDEQD0RgjmhKbMBANRAPR1Es0JTZhIJpciMZaEwaigWgKJBprTRiIJheisdaESUo01powEA1EUyDRWGvCQDQQDURjm2isNWEgmlURzWw2q4pZIBqIJkOiCVyGJpkFolkV0ejMMvel28mIRptl7ku3IRqIpjCimfNuaJpZIBqIBqIpm2ice5Z5ZonJupvVkMRu4JW4qXnrOWY++1+AAQBw9BJSCTeN9wAAAABJRU5ErkJggg==);
    overflow: hidden;
}

.allstar10 {
    background-position: 0px 0px;
}

.allstar9 {
    background-position: 0px -15px;
}

.allstar8 {
    background-position: 0px -30px;
}

.allstar7 {
    background-position: 0px -45px;
}

.allstar6 {
    background-position: 0px -60px;
}

.allstar5 {
    background-position: 0px -75px;
}

.allstar4 {
    background-position: 0px -90px;
}

.allstar3 {
    background-position: 0px -105px;
}

.allstar2 {
    background-position: 0px -120px;
}

.allstar1 {
    background-position: 0px -135px;
}

.allstar0 {
    background-position: 0px -150px;
}

.rating-average {
    color: #777;
    display: inline-block;
    font-size: 13px;
    margin-left: 10px;
}
