/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+diff+markup-templating+nginx+php+yaml */
code[class*="language-"],
pre[class*="language-"] {
    color: currentColor !important;
    background: 0 0 !important;
    text-shadow: 0 1px #fff;
    font-family: "JetBrains Mono", "Source Code Pro", Consolas, Monaco,
        "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.9rem;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
    text-shadow: none;
    background: #b3d4fc !important;
}
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
    text-shadow: none;
    background: #b3d4fc !important;
}
@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}
pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0 !important;
}
:not(pre) > code[class*="language-"] {
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
    white-space: normal;
}
.token.comment {
    color: #a0ada0 !important;
}
.token.cdata,
.token.doctype,
.token.prolog {
    color: #708090 !important;
}
.token.punctuation {
    color: #999 !important;
}
.token.namespace {
    opacity: 0.7;
}
.token.boolean {
    color: #1c6b48 !important;
}
.token.constant {
    color: #a65e2b !important;
}
.token.deleted {
    color: #a14f55 !important;
}
.token.number {
    color: #296aa3 !important;
}

.token.property {
    color: #b58451 !important;
}
.token.symbol {
    color: #2f8a89 !important;
}
.token.tag {
    color: #905 !important;
}
.token.attr-name,
.token.builtin {
    color: #ab5959 !important;
}
.token.char,
.token.inserted,
.token.selector {
    color: #1c6b48 !important;
}
.token.string,
.language-css .token.string,
.style .token.string {
    color: #b56959 !important;
}
.token.entity,
.token.operator {
    color: #8e8f8b !important;
}
.token.url {
    color: #9a6e3a !important;
    background: hsla(0, 0%, 100%, 0.5) !important;
}
.token.atrule,
.token.attr-value,
.token.keyword {
    color: #1c6b48 !important;
}
.token.class-name,
.token.function {
    color: #6c7834 !important;
}
.token.important,
.token.regex,
.token.variable {
    color: #ab5e3f !important;
}
.token.bold,
.token.important {
    font-weight: 700;
}
.token.italic {
    font-style: italic;
}
.token.entity {
    cursor: help;
}

/* prism darktheme */

.dark code[class*="language-"],
.dark pre[class*="language-"] {
    color: currentColor !important;
    background: 0 0 !important;
    text-shadow: 0 1px #000;
}
.dark code[class*="language-"] ::-moz-selection,
.dark code[class*="language-"]::-moz-selection,
.dark pre[class*="language-"] ::-moz-selection,
.dark pre[class*="language-"]::-moz-selection {
    background: #444444 !important;
}
.dark code[class*="language-"] ::selection,
.dark code[class*="language-"]::selection,
.dark pre[class*="language-"] ::selection,
.dark pre[class*="language-"]::selection {
    background: #444444 !important;
}

.dark :not(pre) > code[class*="language-"] {
    background: #636e7b66 !important;
}

.dark pre[class*="language-"] {
    background: #1e1e1e !important;
}

.dark .token.comment {
    color: #758575 !important;
}
.dark .token.cdata,
.dark .token.doctype,
.dark .token.prolog {
    color: #708090 !important;
}
.dark .token.punctuation {
    color: #858585 !important;
}
.dark .token.boolean {
    color: #1c6b48 !important;
}
.dark .token.constant {
    color: #429988 !important;
}
.dark .token.deleted {
    color: #a14f55 !important;
}
.dark .token.number {
    color: #6394bf !important;
}

.dark .token.property {
    color: #dd8e6e !important;
}
.dark .token.symbol {
    color: #429988 !important;
}
.dark .token.tag {
    color: #905 !important;
}
.dark .token.attr-name,
.dark .token.builtin {
    color: #e0a569 !important;
}
.dark .token.char,
.dark .token.inserted,
.dark .token.selector {
    color: #4d9375 !important;
}
.dark .token.string,
.dark .language-css .token.string,
.dark .style .token.string {
    color: #d48372 !important;
}
.dark .token.entity,
.dark .token.operator {
    color: #858585 !important;
}
.dark .token.url {
    color: #9a6e3a !important;
    background: hsla(0, 0%, 100%, 0.5) !important;
}
.dark .token.atrule,
.dark .token.attr-value,
.dark .token.keyword {
    color: #4d9375 !important;
}
.dark .token.class-name,
.dark .token.function {
    color: #a1b567 !important;
}
.dark .token.important,
.dark .token.regex,
.dark .token.variable {
    color: #c2b36e !important;
}
