/*! purgecss start ignore */
@import "./prism.css";
@import "./disqusjs.css";
@import "./jquery.fancybox.css";
@import "./iconfont.css";
/*! purgecss end ignore */

:root {
    --light-background: #fff;
    --light-background-secondary: #eaeaea;
    --light-header: #fafafa;
    --light-color: #222;
    --light-color-secondary: #999;
    --light-border-color: #dcdcdc;
    --dark-background: #292a2d;
    --dark-background-secondary: #3b3d42;
    --dark-header: #252627;
    --dark-color: #a9a9b3;
    --dark-color-secondary: #73747b;
    --dark-border-color: #4a4b50;
    --phoneWidth: (max-width: 684px);
    --tabletWidth: (max-width: 900px);
}

.button-container {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.button,
a.button,
button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    margin-bottom: 5px;
    background: var(--light-background-secondary);
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.button.outline,
a.button.outline,
button.outline {
    background: transparent;
    border-color: var(--light-background-secondary);
    box-shadow: none;
    padding: 8px 18px;
}

.button.outline :hover,
a.button.outline :hover,
button.outline :hover {
    transform: none;
    box-shadow: none;
}

.button.primary,
a.button.primary,
button.primary {
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.button.primary:hover,
a.button.primary:hover,
button.primary:hover {
    box-shadow: 0 2px 6px rgba(50, 50, 93, 0.21), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.button.link,
a.button.link,
button.link {
    background: none;
    font-size: 1rem;
}

.button.small,
a.button.small,
button.small {
    font-size: 0.8rem;
}

.button.wide,
a.button.wide,
button.wide {
    min-width: 200px;
    padding: 14px 24px;
}

a.read-more,
a.read-more:active,
a.read-more:hover {
    display: inline;
    background: none;
    box-shadow: none;
    padding: 0;
    margin-top: 20px;
    font-weight: 700;
}

.read-more-icon {
    text-indent: 0;
    margin: 10px 0;
}

.read-more-icon svg {
    margin-left: 0.2rem !important;
}

header {
    background: var(--light-header);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    top: 0;
    width: 100%;
    z-index: 999;
    box-sizing: border-box;
}

.header__right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 683px) {
    .header__right {
        flex-direction: row-reverse;
    }
}

.header__inner {
    justify-content: space-between;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
    min-width: 80px;
}

.header__inner {
    display: flex;
    align-items: center;
}

.search-scroll {
    display: none;
}

.lightDarkMode {
    padding-top: 0;
    position: relative;
}

.lightDarkModes {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}

.lightDarkModes:hover {
    color: var(--dark-color);
}

.is-open {
    opacity: 0;
    cursor: default;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 1000;
}

.lightDarkOptions {
    position: absolute;
    left: auto;
    right: 0;
    top: 2em;
    padding: 0.5rem 0;
    background-color: var(--light-header);
    border-color: var(--light-header);
    border-width: 1px;
    border-radius: 0.25rem;
    border: thin solid var(--light-header);
    flex-direction: column;
    cursor: pointer;
    width: 8rem;
    display: flex;
    z-index: 1001;
    font-size: 0.9em;
}

.lightDarkOption {
    padding: 0.25rem;
}

.lightDarkOption:hover {
    background-color: var(--dark-color);
}

.lightDarkMode svg,
.menu-trigger svg,
.search-trigger svg,
.lightDarkOption svg {
    fill: var(--light-color);
    transform: scale(1);
}

.dark .lightDarkMode svg,
.dark .menu-trigger svg,
.dark .search-trigger svg,
.dark .lightDarkOption svg {
    fill: var(--dark-color);
}

.dark .lightDarkOption:hover svg {
    fill: var(--light-color);
}

.menu__sub-inner-more-trigger:hover .menu__sub-inner-more-trigger-icon i {
    transform: rotateX(180deg);
}

.search-trigger {
    text-decoration: none;
    vertical-align: middle;
}

.post-meta-date,
.post-read-time,
.post-meta-view,
.post-meta-md,
.post-meta-categories,
.post-meta-word {
    color: rgba(0, 0, 0, 0.85);
    margin: 0.5rem 1rem 0.5rem 0;
}

@media (max-width: 683px) {

    .post-meta-date,
    .post-read-time,
    .post-meta-view,
    .post-meta-md,
    .post-meta-word {
        flex: 50%;
        margin: 0;
        padding: 0;
    }

    .post-meta-categories {
        display: none !important;
    }

    .search-scroll {
        display: inline-flex;
        padding: 0 10px;
    }

    .search-scroll i {
        display: none !important;
    }

    .header__inner {
        padding-left: 30px !important;
    }

    .menu-trigger {
        position: absolute !important;
        left: 10px !important;
        vertical-align: middle !important;
    }
}

.emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji", sans-serif, serif;
}

.logo {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    text-decoration: none;
}

.logo img {
    height: 44px;
}

.logo__mark {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
}

.logo__mark .greater-icon {
    width: 0.95rem;
    height: 100%;
}

.logo__mark .greater-icon path {
    stroke: currentColor;
    stroke-width: 8px;
}

.logo__text {
    font-size: 1.125rem;
}

.logo__cursor {
    display: inline-block;
    width: 2px;
    height: 1.125rem;
    background: #fe5186;
    margin-left: 5px;
    border-radius: 1px;
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
}

.changelog {
    display: inline-block;
}

#HW_badge_cont {
    display: inline-block !important;
    height: 1em !important;
    width: 1em !important;
}

#HW_badge {
    top: 0 !important;
    left: 0 !important;
    background: #fe5186 !important;
    height: 12px !important;
    width: 12px !important;
    line-height: 12px !important;
    font-size: 11px !important;
}

@-webkit-keyframes cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.menu {
    --shadow-color: rgba(0, 0, 0, 0.12);
    --shadow: 0 8px 20px var(--shadow-color);
    border-right: 1px solid;
    margin-right: 18px;
    padding-right: 18px;
}

.talk {
    display: none;
}

@media (max-width: 683px) {
    .talk {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        cursor: pointer;
        padding: 10px;
    }

    .talk a {
        text-decoration: none;
    }
}

@media (max-width: 319px) {
    .talk {
        display: none;
    }
}

@media (max-width: 683px) {
    .menu {
        position: absolute;
        background: var(--light-header);
        box-shadow: var(--shadow);
        margin: 0;
        padding: 5px;
        list-style: none;
        border-radius: 5px;
        z-index: 99;
        border: none;
        top: 50px;
        left: 10px;
    }
}

.menu a {
    text-decoration: none;
}

.menu__inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 683px) {
    .menu__inner--desktop {
        display: none;
    }
}

.menu__inner--mobile {
    display: none;
}

@media (max-width: 683px) {
    .menu__inner--mobile {
        display: block;
    }
}

.menu__inner li {
    text-align: center;
    flex: 0 0 auto;
}

.menu__inner li:not(:first-of-type) {
    margin-left: 20px;
}

@media (max-width: 683px) {
    .menu__inner {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .menu__inner li {
        margin-left: 0 !important;
        padding: 10px;
    }
}

.menu__sub-inner {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__sub-inner:not(:only-child) {
    margin-left: 20px;
}

.menu__sub-inner-more {
    position: absolute;
    background: var(--light-header);
    box-shadow: var(--shadow);
    margin: 0;
    padding: 5px;
    list-style: none;
    border-radius: 5px;
    z-index: 99;
    top: 35px;
    left: 0;
}

.menu__sub-inner-more-trigger {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.menu__sub-inner-more-trigger-icon {
    display: inline-flex;
    align-items: center;
    margin-left: 0px;
    /*transform: rotate(90deg);*/
    line-height: 1;
}

.menu__sub-inner-more-trigger-icon .greater-icon {
    width: 0.95rem;
    height: 100%;
}

.menu__sub-inner-more-trigger-icon .greater-icon path {
    stroke: currentColor;
    stroke-width: 5px;
}

.menu__inner .menu__sub-inner-more li {
    margin-left: 0;
    padding: 10px;
    white-space: nowrap;
}

.menu__inner .menu__sub-inner-more li:hover {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    cursor: pointer;
}

.menu-trigger {
    fill: currentColor;
    margin-left: 10px;
    cursor: pointer;
    display: inline-flex;
}

html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
        Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei",
        "Microsoft Yahei", "Segoe UI", sans-serif, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.2;
    background-color: var(--light-background);
    color: var(--light-color);
    /* text-rendering: optimizeLegibility;*/
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
}

@media (max-width: 683px) {
    body {
        font-size: 1rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}

h1 {
    font-size: 2.625rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.375rem;
}

h4 {
    font-size: 1.125rem;
}

@media (max-width: 683px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.15rem;
    }

    h4 {
        font-size: 1.125rem;
    }
}

a {
    color: inherit;
}

img {
    border-radius: 4px;
    display: inline-block;
    max-width: 100%;
}

img.center,
img.left {
    margin-right: auto;
}

img.center,
img.right {
    margin-left: auto;
}

figure {
    text-align: center;
    margin: 0;
}

figure figcaption {
    margin: 0.5rem auto 1rem;
    width: 25%;
    border-top: 1px solid #bbb;
    font-size: 0.8em;
    color: #bbb;
    padding: 5px;
    line-height: 1.8em;
}

figure figcaption:before {
    content: "◎ ";
}

figure img {
    max-width: 100%;
    border-radius: 0;
}

@media (max-width: 683px) {
    figure figcaption {
        width: 75%;
    }
}

blockquote {
    /* border-left: 2px solid; */
    margin: 10px 20px;
    /* padding: 10px 20px; */
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}

@media (max-width: 683px) {
    blockquote {
        margin: 10px;
        padding: 10px;
    }
}

/*
blockquote:before {
    content: "\201D";
    font-family: Georgia, serif;
    font-size: 3.875rem;
    position: absolute;
    left: -40px;
    top: -20px;
}
*/
blockquote p:first-of-type {
    margin-top: 0;
}

blockquote p:last-of-type {
    margin-bottom: 0;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 40px 0;
    border-radius: 5px;
}

table,
td,
th {
    border: 1px solid;
    padding: 10px;
}

th {
    background: var(--light-background-secondary);
}

ol,
ul {
    margin-left: 40px;
    padding: 0;
}

@media (max-width: 683px) {

    ol,
    ul {
        margin-left: 20px;
    }
}

ol ol {
    list-style-type: lower-alpha;
}

.container {
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.container,
.content {
    display: flex;
    justify-content: center;
}

.content {
    flex-direction: column;
    flex: 1 auto;
    align-items: center;
    margin-top: 30px;
}

.rm_content {
    margin-top: 110px !important;
}

@media (max-width: 683px) {
    .content {
        margin-top: 0;
    }
}

hr {
    width: 100%;
    border: none;
    background: var(--light-border-color);
    height: 1px;
}

.hidden {
    display: none !important;
}

@media (max-width: 683px) {
    .mhidden {
        display: none !important;
    }
}

.space {
    margin-left: 0.25em !important;
}

.meta__space {
    flex: 50%;
}

/* 首页嘀咕样式 JSON 版 */
.index-talk {
    display: flex;
    flex: 1 auto;
    font-size: 0.95em;
    width: 100%;
    max-width: 760px;
    text-align: left;
    padding: 5px 15px;
    margin: 30px auto;
    margin-bottom: 0;
    position: relative;
    background-color: var(--light-header);
    border-radius: 8px;
    min-height: 45px;
    align-items: center;
    /* transition:all 0.5s;*/
}

.index-talk svg {
    fill: var(--light-color);
    display: inline;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.dark .index-talk svg {
    fill: var(--dark-color);
}

.gusici__quote svg {
    fill: currentColor;
    position: relative;
    margin-right: 0.5em;
    transform: translate(0, 0%);
}

.index-talk button,
.gusici__quote button {
    font-size: 10px;
    border: none;
    position: absolute;
    padding: 2px 5px;
    top: 0px;
    right: 0px;
    color: var(--light-color);
    border: var(--light-border-color);
}

.gusici__quote {
    font-family: STSong, SimSun, NSimSun, Arial, sans-serif;
    display: flex;
    width: 100%;
    max-width: 760px;
    text-align: left;
    padding: 5px 15px;
    margin-bottom: 3em;
    position: relative;
    background-color: var(--light-header);
    border-radius: 8px;
    font-size: 15px;
    min-height: 45px;
}

.talk-list,
.gusici__list {
    margin: 0;
    max-height: 35px;
    overflow: hidden;
    padding-left: 0.5em;
}

.talk-list li,
.gusici__list li {
    list-style: none;
    margin-bottom: 10px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.talk-list li a,
.gusici__list li a {
    text-decoration: none;
}

.talk-list li a:hover,
.gusici__list li a:hover {
    text-decoration: underline;
}

.index-talk-icon {
    fill: currentColor;
    vertical-align: middle;
    display: inline;
}

.talk-list li:not(:first-child) {
    display: none !important;
}

@media (max-width: 899px) {
    .index-talk {
        max-width: 660px;
        margin-top: 20px;
        margin-bottom: 0;
        background-color: var(--light-header);
    }
}

/* 嘀咕页今日诗词 */
.poem_sentence,
.poem_info {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.poem_info {
    font-size: small;
    height: 100%;
    max-width: 50%;
    min-width: 20%;
}

.poem_sentence a,
.poem_info a {
    text-decoration: none;
}

@media (max-width: 899px) {
    .poem_info {
        display: none;
    }
}

@media (max-width: 860px) {
    .timeline ul li {
        margin-left: 0;
    }

    .timeline ul li div {
        width: calc(100vw - 75px);
        left: 30px;
        max-width: 585px;
    }

    .timeline img {
        max-height: 170px !important;
    }
}

.posts {
    margin-top: -20px !important;
}

.post {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
}

.post:first-of-type {
    margin: 0 auto 20px;
}

@media (max-width: 899px) {
    .post {
        max-width: 660px;
    }

    .posts {
        margin-top: 0 !important;
    }
}

.post:not(:last-of-type) {
    border-bottom: 1px solid var(--light-border-color);
}

.post-meta {
    font-size: 0.85rem;
    display: flex;
}

.post-meta a {
    text-decoration: none;
}

@media (max-width: 683px) {
    .post-meta {
        font-size: 0.8rem;
        margin: 5px auto;
        padding: 0 0 0 5px;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 1.5;
    }
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    margin: 20px 0 0 0;
    padding: 6px;
    border-radius: 3px 3px 3px 3px;
    white-space: nowrap;
    overflow-x: auto;
}

.info-msg::-webkit-scrollbar,
.success-msg::-webkit-scrollbar,
.warning-msg::-webkit-scrollbar,
.error-msg::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.info-msg {
    color: #059;
    background-color: #bef;
}

.success-msg {
    color: #270;
    background-color: #dff2bf;
}

.warning-msg {
    color: #9f6000;
    background-color: #feefb3;
}

.warning-msg svg,
.dark .warning-msg {
    fill: #9f6000 !important;
}

.error-msg {
    color: #d8000c;
    background-color: #ffbaba;
}

.info-msg svg,
.success-msg svg,
.warning-msg svg,
.error-msg svg {
    margin: 0 12px 0 6px;
}

.non-box {
    text-decoration: none;
}

/* 无意义，随便填的一个属性充字数 */
.post-title {
    font-weight: 400;
    font-size: 2.2rem;
    margin: 0 0 10px;
    --shadow-color: rgba(0, 0, 0, 0.12);
    --shadow: 0 8px 20px var(--shadow-color);
}

.talk-title {
    margin-top: -20px !important;
}

@media (max-width: 683px) {
    .post-title {
        font-size: 2rem;
    }

    .talk-title {
        margin-top: 0 !important;
    }
}

.post-title a {
    text-decoration: none;
}

.post-ext {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.post-tags {
    opacity: 0.5;
}

.post-tags,
.post-share {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 1rem;
}

.post-tags a,
.post-share a {
    text-decoration: none;
}

.post-share a {
    padding: 0 2px;
}

.tags::before {
    content: '# ';
}

.post-share i,
.post-share span {
    opacity: 0.5;
}

.post-share i:hover {
    opacity: 1;
    animation: ease-in-out 0.2s;
}

.weixin {
    position: relative;
    opacity: 1 !important;
}

.weixin::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' width='120' height='120' viewBox='0 0 396 396'%3E%3Cdesc/%3E%3Crect width='396' height='396' fill='%23ffffff' cx='0' cy='0'/%3E%3Cdefs%3E%3Crect id='p' width='12' height='12'/%3E%3C/defs%3E%3Cg fill='%23000000'%3E%3Cuse x='24' y='24' xlink:href='%23p'/%3E%3Cuse x='36' y='24' xlink:href='%23p'/%3E%3Cuse x='48' y='24' xlink:href='%23p'/%3E%3Cuse x='60' y='24' xlink:href='%23p'/%3E%3Cuse x='72' y='24' xlink:href='%23p'/%3E%3Cuse x='84' y='24' xlink:href='%23p'/%3E%3Cuse x='96' y='24' xlink:href='%23p'/%3E%3Cuse x='120' y='24' xlink:href='%23p'/%3E%3Cuse x='132' y='24' xlink:href='%23p'/%3E%3Cuse x='144' y='24' xlink:href='%23p'/%3E%3Cuse x='156' y='24' xlink:href='%23p'/%3E%3Cuse x='168' y='24' xlink:href='%23p'/%3E%3Cuse x='204' y='24' xlink:href='%23p'/%3E%3Cuse x='216' y='24' xlink:href='%23p'/%3E%3Cuse x='228' y='24' xlink:href='%23p'/%3E%3Cuse x='264' y='24' xlink:href='%23p'/%3E%3Cuse x='288' y='24' xlink:href='%23p'/%3E%3Cuse x='300' y='24' xlink:href='%23p'/%3E%3Cuse x='312' y='24' xlink:href='%23p'/%3E%3Cuse x='324' y='24' xlink:href='%23p'/%3E%3Cuse x='336' y='24' xlink:href='%23p'/%3E%3Cuse x='348' y='24' xlink:href='%23p'/%3E%3Cuse x='360' y='24' xlink:href='%23p'/%3E%3Cuse x='24' y='36' xlink:href='%23p'/%3E%3Cuse x='96' y='36' xlink:href='%23p'/%3E%3Cuse x='132' y='36' xlink:href='%23p'/%3E%3Cuse x='144' y='36' xlink:href='%23p'/%3E%3Cuse x='156' y='36' xlink:href='%23p'/%3E%3Cuse x='168' y='36' xlink:href='%23p'/%3E%3Cuse x='180' y='36' xlink:href='%23p'/%3E%3Cuse x='192' y='36' xlink:href='%23p'/%3E%3Cuse x='228' y='36' xlink:href='%23p'/%3E%3Cuse x='240' y='36' xlink:href='%23p'/%3E%3Cuse x='252' y='36' xlink:href='%23p'/%3E%3Cuse x='264' y='36' xlink:href='%23p'/%3E%3Cuse x='288' y='36' xlink:href='%23p'/%3E%3Cuse x='360' y='36' xlink:href='%23p'/%3E%3Cuse x='24' y='48' xlink:href='%23p'/%3E%3Cuse x='48' y='48' xlink:href='%23p'/%3E%3Cuse x='60' y='48' xlink:href='%23p'/%3E%3Cuse x='72' y='48' xlink:href='%23p'/%3E%3Cuse x='96' y='48' xlink:href='%23p'/%3E%3Cuse x='132' y='48' xlink:href='%23p'/%3E%3Cuse x='156' y='48' xlink:href='%23p'/%3E%3Cuse x='192' y='48' xlink:href='%23p'/%3E%3Cuse x='216' y='48' xlink:href='%23p'/%3E%3Cuse x='240' y='48' xlink:href='%23p'/%3E%3Cuse x='264' y='48' xlink:href='%23p'/%3E%3Cuse x='288' y='48' xlink:href='%23p'/%3E%3Cuse x='312' y='48' xlink:href='%23p'/%3E%3Cuse x='324' y='48' xlink:href='%23p'/%3E%3Cuse x='336' y='48' xlink:href='%23p'/%3E%3Cuse x='360' y='48' xlink:href='%23p'/%3E%3Cuse x='24' y='60' xlink:href='%23p'/%3E%3Cuse x='48' y='60' xlink:href='%23p'/%3E%3Cuse x='60' y='60' xlink:href='%23p'/%3E%3Cuse x='72' y='60' xlink:href='%23p'/%3E%3Cuse x='96' y='60' xlink:href='%23p'/%3E%3Cuse x='120' y='60' xlink:href='%23p'/%3E%3Cuse x='132' y='60' xlink:href='%23p'/%3E%3Cuse x='144' y='60' xlink:href='%23p'/%3E%3Cuse x='168' y='60' xlink:href='%23p'/%3E%3Cuse x='204' y='60' xlink:href='%23p'/%3E%3Cuse x='240' y='60' xlink:href='%23p'/%3E%3Cuse x='252' y='60' xlink:href='%23p'/%3E%3Cuse x='288' y='60' xlink:href='%23p'/%3E%3Cuse x='312' y='60' xlink:href='%23p'/%3E%3Cuse x='324' y='60' xlink:href='%23p'/%3E%3Cuse x='336' y='60' xlink:href='%23p'/%3E%3Cuse x='360' y='60' xlink:href='%23p'/%3E%3Cuse x='24' y='72' xlink:href='%23p'/%3E%3Cuse x='48' y='72' xlink:href='%23p'/%3E%3Cuse x='60' y='72' xlink:href='%23p'/%3E%3Cuse x='72' y='72' xlink:href='%23p'/%3E%3Cuse x='96' y='72' xlink:href='%23p'/%3E%3Cuse x='144' y='72' xlink:href='%23p'/%3E%3Cuse x='156' y='72' xlink:href='%23p'/%3E%3Cuse x='168' y='72' xlink:href='%23p'/%3E%3Cuse x='216' y='72' xlink:href='%23p'/%3E%3Cuse x='228' y='72' xlink:href='%23p'/%3E%3Cuse x='240' y='72' xlink:href='%23p'/%3E%3Cuse x='252' y='72' xlink:href='%23p'/%3E%3Cuse x='288' y='72' xlink:href='%23p'/%3E%3Cuse x='312' y='72' xlink:href='%23p'/%3E%3Cuse x='324' y='72' xlink:href='%23p'/%3E%3Cuse x='336' y='72' xlink:href='%23p'/%3E%3Cuse x='360' y='72' xlink:href='%23p'/%3E%3Cuse x='24' y='84' xlink:href='%23p'/%3E%3Cuse x='96' y='84' xlink:href='%23p'/%3E%3Cuse x='156' y='84' xlink:href='%23p'/%3E%3Cuse x='168' y='84' xlink:href='%23p'/%3E%3Cuse x='192' y='84' xlink:href='%23p'/%3E%3Cuse x='204' y='84' xlink:href='%23p'/%3E%3Cuse x='240' y='84' xlink:href='%23p'/%3E%3Cuse x='252' y='84' xlink:href='%23p'/%3E%3Cuse x='264' y='84' xlink:href='%23p'/%3E%3Cuse x='288' y='84' xlink:href='%23p'/%3E%3Cuse x='360' y='84' xlink:href='%23p'/%3E%3Cuse x='24' y='96' xlink:href='%23p'/%3E%3Cuse x='36' y='96' xlink:href='%23p'/%3E%3Cuse x='48' y='96' xlink:href='%23p'/%3E%3Cuse x='60' y='96' xlink:href='%23p'/%3E%3Cuse x='72' y='96' xlink:href='%23p'/%3E%3Cuse x='84' y='96' xlink:href='%23p'/%3E%3Cuse x='96' y='96' xlink:href='%23p'/%3E%3Cuse x='120' y='96' xlink:href='%23p'/%3E%3Cuse x='144' y='96' xlink:href='%23p'/%3E%3Cuse x='168' y='96' xlink:href='%23p'/%3E%3Cuse x='192' y='96' xlink:href='%23p'/%3E%3Cuse x='216' y='96' xlink:href='%23p'/%3E%3Cuse x='240' y='96' xlink:href='%23p'/%3E%3Cuse x='264' y='96' xlink:href='%23p'/%3E%3Cuse x='288' y='96' xlink:href='%23p'/%3E%3Cuse x='300' y='96' xlink:href='%23p'/%3E%3Cuse x='312' y='96' xlink:href='%23p'/%3E%3Cuse x='324' y='96' xlink:href='%23p'/%3E%3Cuse x='336' y='96' xlink:href='%23p'/%3E%3Cuse x='348' y='96' xlink:href='%23p'/%3E%3Cuse x='360' y='96' xlink:href='%23p'/%3E%3Cuse x='132' y='108' xlink:href='%23p'/%3E%3Cuse x='144' y='108' xlink:href='%23p'/%3E%3Cuse x='156' y='108' xlink:href='%23p'/%3E%3Cuse x='192' y='108' xlink:href='%23p'/%3E%3Cuse x='216' y='108' xlink:href='%23p'/%3E%3Cuse x='252' y='108' xlink:href='%23p'/%3E%3Cuse x='48' y='120' xlink:href='%23p'/%3E%3Cuse x='72' y='120' xlink:href='%23p'/%3E%3Cuse x='84' y='120' xlink:href='%23p'/%3E%3Cuse x='96' y='120' xlink:href='%23p'/%3E%3Cuse x='120' y='120' xlink:href='%23p'/%3E%3Cuse x='132' y='120' xlink:href='%23p'/%3E%3Cuse x='144' y='120' xlink:href='%23p'/%3E%3Cuse x='264' y='120' xlink:href='%23p'/%3E%3Cuse x='276' y='120' xlink:href='%23p'/%3E%3Cuse x='324' y='120' xlink:href='%23p'/%3E%3Cuse x='360' y='120' xlink:href='%23p'/%3E%3Cuse x='36' y='132' xlink:href='%23p'/%3E%3Cuse x='60' y='132' xlink:href='%23p'/%3E%3Cuse x='84' y='132' xlink:href='%23p'/%3E%3Cuse x='108' y='132' xlink:href='%23p'/%3E%3Cuse x='156' y='132' xlink:href='%23p'/%3E%3Cuse x='168' y='132' xlink:href='%23p'/%3E%3Cuse x='180' y='132' xlink:href='%23p'/%3E%3Cuse x='204' y='132' xlink:href='%23p'/%3E%3Cuse x='216' y='132' xlink:href='%23p'/%3E%3Cuse x='228' y='132' xlink:href='%23p'/%3E%3Cuse x='252' y='132' xlink:href='%23p'/%3E%3Cuse x='264' y='132' xlink:href='%23p'/%3E%3Cuse x='276' y='132' xlink:href='%23p'/%3E%3Cuse x='288' y='132' xlink:href='%23p'/%3E%3Cuse x='336' y='132' xlink:href='%23p'/%3E%3Cuse x='360' y='132' xlink:href='%23p'/%3E%3Cuse x='48' y='144' xlink:href='%23p'/%3E%3Cuse x='60' y='144' xlink:href='%23p'/%3E%3Cuse x='96' y='144' xlink:href='%23p'/%3E%3Cuse x='120' y='144' xlink:href='%23p'/%3E%3Cuse x='144' y='144' xlink:href='%23p'/%3E%3Cuse x='156' y='144' xlink:href='%23p'/%3E%3Cuse x='168' y='144' xlink:href='%23p'/%3E%3Cuse x='204' y='144' xlink:href='%23p'/%3E%3Cuse x='228' y='144' xlink:href='%23p'/%3E%3Cuse x='240' y='144' xlink:href='%23p'/%3E%3Cuse x='252' y='144' xlink:href='%23p'/%3E%3Cuse x='264' y='144' xlink:href='%23p'/%3E%3Cuse x='300' y='144' xlink:href='%23p'/%3E%3Cuse x='324' y='144' xlink:href='%23p'/%3E%3Cuse x='348' y='144' xlink:href='%23p'/%3E%3Cuse x='360' y='144' xlink:href='%23p'/%3E%3Cuse x='36' y='156' xlink:href='%23p'/%3E%3Cuse x='48' y='156' xlink:href='%23p'/%3E%3Cuse x='60' y='156' xlink:href='%23p'/%3E%3Cuse x='72' y='156' xlink:href='%23p'/%3E%3Cuse x='84' y='156' xlink:href='%23p'/%3E%3Cuse x='108' y='156' xlink:href='%23p'/%3E%3Cuse x='132' y='156' xlink:href='%23p'/%3E%3Cuse x='156' y='156' xlink:href='%23p'/%3E%3Cuse x='204' y='156' xlink:href='%23p'/%3E%3Cuse x='264' y='156' xlink:href='%23p'/%3E%3Cuse x='276' y='156' xlink:href='%23p'/%3E%3Cuse x='288' y='156' xlink:href='%23p'/%3E%3Cuse x='312' y='156' xlink:href='%23p'/%3E%3Cuse x='348' y='156' xlink:href='%23p'/%3E%3Cuse x='36' y='168' xlink:href='%23p'/%3E%3Cuse x='60' y='168' xlink:href='%23p'/%3E%3Cuse x='72' y='168' xlink:href='%23p'/%3E%3Cuse x='96' y='168' xlink:href='%23p'/%3E%3Cuse x='144' y='168' xlink:href='%23p'/%3E%3Cuse x='156' y='168' xlink:href='%23p'/%3E%3Cuse x='180' y='168' xlink:href='%23p'/%3E%3Cuse x='192' y='168' xlink:href='%23p'/%3E%3Cuse x='204' y='168' xlink:href='%23p'/%3E%3Cuse x='216' y='168' xlink:href='%23p'/%3E%3Cuse x='240' y='168' xlink:href='%23p'/%3E%3Cuse x='252' y='168' xlink:href='%23p'/%3E%3Cuse x='264' y='168' xlink:href='%23p'/%3E%3Cuse x='288' y='168' xlink:href='%23p'/%3E%3Cuse x='300' y='168' xlink:href='%23p'/%3E%3Cuse x='24' y='180' xlink:href='%23p'/%3E%3Cuse x='60' y='180' xlink:href='%23p'/%3E%3Cuse x='120' y='180' xlink:href='%23p'/%3E%3Cuse x='132' y='180' xlink:href='%23p'/%3E%3Cuse x='144' y='180' xlink:href='%23p'/%3E%3Cuse x='180' y='180' xlink:href='%23p'/%3E%3Cuse x='216' y='180' xlink:href='%23p'/%3E%3Cuse x='264' y='180' xlink:href='%23p'/%3E%3Cuse x='276' y='180' xlink:href='%23p'/%3E%3Cuse x='288' y='180' xlink:href='%23p'/%3E%3Cuse x='300' y='180' xlink:href='%23p'/%3E%3Cuse x='348' y='180' xlink:href='%23p'/%3E%3Cuse x='360' y='180' xlink:href='%23p'/%3E%3Cuse x='24' y='192' xlink:href='%23p'/%3E%3Cuse x='48' y='192' xlink:href='%23p'/%3E%3Cuse x='60' y='192' xlink:href='%23p'/%3E%3Cuse x='84' y='192' xlink:href='%23p'/%3E%3Cuse x='96' y='192' xlink:href='%23p'/%3E%3Cuse x='132' y='192' xlink:href='%23p'/%3E%3Cuse x='156' y='192' xlink:href='%23p'/%3E%3Cuse x='240' y='192' xlink:href='%23p'/%3E%3Cuse x='276' y='192' xlink:href='%23p'/%3E%3Cuse x='300' y='192' xlink:href='%23p'/%3E%3Cuse x='336' y='192' xlink:href='%23p'/%3E%3Cuse x='348' y='192' xlink:href='%23p'/%3E%3Cuse x='360' y='192' xlink:href='%23p'/%3E%3Cuse x='24' y='204' xlink:href='%23p'/%3E%3Cuse x='60' y='204' xlink:href='%23p'/%3E%3Cuse x='72' y='204' xlink:href='%23p'/%3E%3Cuse x='144' y='204' xlink:href='%23p'/%3E%3Cuse x='168' y='204' xlink:href='%23p'/%3E%3Cuse x='180' y='204' xlink:href='%23p'/%3E%3Cuse x='216' y='204' xlink:href='%23p'/%3E%3Cuse x='228' y='204' xlink:href='%23p'/%3E%3Cuse x='252' y='204' xlink:href='%23p'/%3E%3Cuse x='264' y='204' xlink:href='%23p'/%3E%3Cuse x='300' y='204' xlink:href='%23p'/%3E%3Cuse x='24' y='216' xlink:href='%23p'/%3E%3Cuse x='36' y='216' xlink:href='%23p'/%3E%3Cuse x='48' y='216' xlink:href='%23p'/%3E%3Cuse x='60' y='216' xlink:href='%23p'/%3E%3Cuse x='96' y='216' xlink:href='%23p'/%3E%3Cuse x='108' y='216' xlink:href='%23p'/%3E%3Cuse x='168' y='216' xlink:href='%23p'/%3E%3Cuse x='180' y='216' xlink:href='%23p'/%3E%3Cuse x='192' y='216' xlink:href='%23p'/%3E%3Cuse x='216' y='216' xlink:href='%23p'/%3E%3Cuse x='228' y='216' xlink:href='%23p'/%3E%3Cuse x='288' y='216' xlink:href='%23p'/%3E%3Cuse x='324' y='216' xlink:href='%23p'/%3E%3Cuse x='36' y='228' xlink:href='%23p'/%3E%3Cuse x='72' y='228' xlink:href='%23p'/%3E%3Cuse x='120' y='228' xlink:href='%23p'/%3E%3Cuse x='144' y='228' xlink:href='%23p'/%3E%3Cuse x='180' y='228' xlink:href='%23p'/%3E%3Cuse x='216' y='228' xlink:href='%23p'/%3E%3Cuse x='228' y='228' xlink:href='%23p'/%3E%3Cuse x='240' y='228' xlink:href='%23p'/%3E%3Cuse x='252' y='228' xlink:href='%23p'/%3E%3Cuse x='276' y='228' xlink:href='%23p'/%3E%3Cuse x='336' y='228' xlink:href='%23p'/%3E%3Cuse x='348' y='228' xlink:href='%23p'/%3E%3Cuse x='360' y='228' xlink:href='%23p'/%3E%3Cuse x='24' y='240' xlink:href='%23p'/%3E%3Cuse x='48' y='240' xlink:href='%23p'/%3E%3Cuse x='96' y='240' xlink:href='%23p'/%3E%3Cuse x='120' y='240' xlink:href='%23p'/%3E%3Cuse x='144' y='240' xlink:href='%23p'/%3E%3Cuse x='168' y='240' xlink:href='%23p'/%3E%3Cuse x='192' y='240' xlink:href='%23p'/%3E%3Cuse x='204' y='240' xlink:href='%23p'/%3E%3Cuse x='228' y='240' xlink:href='%23p'/%3E%3Cuse x='276' y='240' xlink:href='%23p'/%3E%3Cuse x='300' y='240' xlink:href='%23p'/%3E%3Cuse x='348' y='240' xlink:href='%23p'/%3E%3Cuse x='360' y='240' xlink:href='%23p'/%3E%3Cuse x='36' y='252' xlink:href='%23p'/%3E%3Cuse x='48' y='252' xlink:href='%23p'/%3E%3Cuse x='84' y='252' xlink:href='%23p'/%3E%3Cuse x='132' y='252' xlink:href='%23p'/%3E%3Cuse x='156' y='252' xlink:href='%23p'/%3E%3Cuse x='168' y='252' xlink:href='%23p'/%3E%3Cuse x='180' y='252' xlink:href='%23p'/%3E%3Cuse x='228' y='252' xlink:href='%23p'/%3E%3Cuse x='252' y='252' xlink:href='%23p'/%3E%3Cuse x='288' y='252' xlink:href='%23p'/%3E%3Cuse x='300' y='252' xlink:href='%23p'/%3E%3Cuse x='324' y='252' xlink:href='%23p'/%3E%3Cuse x='360' y='252' xlink:href='%23p'/%3E%3Cuse x='24' y='264' xlink:href='%23p'/%3E%3Cuse x='48' y='264' xlink:href='%23p'/%3E%3Cuse x='84' y='264' xlink:href='%23p'/%3E%3Cuse x='96' y='264' xlink:href='%23p'/%3E%3Cuse x='108' y='264' xlink:href='%23p'/%3E%3Cuse x='120' y='264' xlink:href='%23p'/%3E%3Cuse x='132' y='264' xlink:href='%23p'/%3E%3Cuse x='192' y='264' xlink:href='%23p'/%3E%3Cuse x='204' y='264' xlink:href='%23p'/%3E%3Cuse x='228' y='264' xlink:href='%23p'/%3E%3Cuse x='264' y='264' xlink:href='%23p'/%3E%3Cuse x='276' y='264' xlink:href='%23p'/%3E%3Cuse x='288' y='264' xlink:href='%23p'/%3E%3Cuse x='300' y='264' xlink:href='%23p'/%3E%3Cuse x='312' y='264' xlink:href='%23p'/%3E%3Cuse x='360' y='264' xlink:href='%23p'/%3E%3Cuse x='120' y='276' xlink:href='%23p'/%3E%3Cuse x='156' y='276' xlink:href='%23p'/%3E%3Cuse x='168' y='276' xlink:href='%23p'/%3E%3Cuse x='192' y='276' xlink:href='%23p'/%3E%3Cuse x='204' y='276' xlink:href='%23p'/%3E%3Cuse x='228' y='276' xlink:href='%23p'/%3E%3Cuse x='252' y='276' xlink:href='%23p'/%3E%3Cuse x='264' y='276' xlink:href='%23p'/%3E%3Cuse x='312' y='276' xlink:href='%23p'/%3E%3Cuse x='348' y='276' xlink:href='%23p'/%3E%3Cuse x='360' y='276' xlink:href='%23p'/%3E%3Cuse x='24' y='288' xlink:href='%23p'/%3E%3Cuse x='36' y='288' xlink:href='%23p'/%3E%3Cuse x='48' y='288' xlink:href='%23p'/%3E%3Cuse x='60' y='288' xlink:href='%23p'/%3E%3Cuse x='72' y='288' xlink:href='%23p'/%3E%3Cuse x='84' y='288' xlink:href='%23p'/%3E%3Cuse x='96' y='288' xlink:href='%23p'/%3E%3Cuse x='156' y='288' xlink:href='%23p'/%3E%3Cuse x='180' y='288' xlink:href='%23p'/%3E%3Cuse x='216' y='288' xlink:href='%23p'/%3E%3Cuse x='228' y='288' xlink:href='%23p'/%3E%3Cuse x='252' y='288' xlink:href='%23p'/%3E%3Cuse x='264' y='288' xlink:href='%23p'/%3E%3Cuse x='288' y='288' xlink:href='%23p'/%3E%3Cuse x='312' y='288' xlink:href='%23p'/%3E%3Cuse x='336' y='288' xlink:href='%23p'/%3E%3Cuse x='348' y='288' xlink:href='%23p'/%3E%3Cuse x='360' y='288' xlink:href='%23p'/%3E%3Cuse x='24' y='300' xlink:href='%23p'/%3E%3Cuse x='96' y='300' xlink:href='%23p'/%3E%3Cuse x='120' y='300' xlink:href='%23p'/%3E%3Cuse x='144' y='300' xlink:href='%23p'/%3E%3Cuse x='156' y='300' xlink:href='%23p'/%3E%3Cuse x='168' y='300' xlink:href='%23p'/%3E%3Cuse x='228' y='300' xlink:href='%23p'/%3E%3Cuse x='240' y='300' xlink:href='%23p'/%3E%3Cuse x='264' y='300' xlink:href='%23p'/%3E%3Cuse x='312' y='300' xlink:href='%23p'/%3E%3Cuse x='348' y='300' xlink:href='%23p'/%3E%3Cuse x='24' y='312' xlink:href='%23p'/%3E%3Cuse x='48' y='312' xlink:href='%23p'/%3E%3Cuse x='60' y='312' xlink:href='%23p'/%3E%3Cuse x='72' y='312' xlink:href='%23p'/%3E%3Cuse x='96' y='312' xlink:href='%23p'/%3E%3Cuse x='120' y='312' xlink:href='%23p'/%3E%3Cuse x='132' y='312' xlink:href='%23p'/%3E%3Cuse x='144' y='312' xlink:href='%23p'/%3E%3Cuse x='168' y='312' xlink:href='%23p'/%3E%3Cuse x='204' y='312' xlink:href='%23p'/%3E%3Cuse x='228' y='312' xlink:href='%23p'/%3E%3Cuse x='240' y='312' xlink:href='%23p'/%3E%3Cuse x='264' y='312' xlink:href='%23p'/%3E%3Cuse x='276' y='312' xlink:href='%23p'/%3E%3Cuse x='288' y='312' xlink:href='%23p'/%3E%3Cuse x='300' y='312' xlink:href='%23p'/%3E%3Cuse x='312' y='312' xlink:href='%23p'/%3E%3Cuse x='324' y='312' xlink:href='%23p'/%3E%3Cuse x='348' y='312' xlink:href='%23p'/%3E%3Cuse x='24' y='324' xlink:href='%23p'/%3E%3Cuse x='48' y='324' xlink:href='%23p'/%3E%3Cuse x='60' y='324' xlink:href='%23p'/%3E%3Cuse x='72' y='324' xlink:href='%23p'/%3E%3Cuse x='96' y='324' xlink:href='%23p'/%3E%3Cuse x='132' y='324' xlink:href='%23p'/%3E%3Cuse x='144' y='324' xlink:href='%23p'/%3E%3Cuse x='180' y='324' xlink:href='%23p'/%3E%3Cuse x='216' y='324' xlink:href='%23p'/%3E%3Cuse x='264' y='324' xlink:href='%23p'/%3E%3Cuse x='276' y='324' xlink:href='%23p'/%3E%3Cuse x='312' y='324' xlink:href='%23p'/%3E%3Cuse x='336' y='324' xlink:href='%23p'/%3E%3Cuse x='24' y='336' xlink:href='%23p'/%3E%3Cuse x='48' y='336' xlink:href='%23p'/%3E%3Cuse x='60' y='336' xlink:href='%23p'/%3E%3Cuse x='72' y='336' xlink:href='%23p'/%3E%3Cuse x='96' y='336' xlink:href='%23p'/%3E%3Cuse x='120' y='336' xlink:href='%23p'/%3E%3Cuse x='168' y='336' xlink:href='%23p'/%3E%3Cuse x='204' y='336' xlink:href='%23p'/%3E%3Cuse x='216' y='336' xlink:href='%23p'/%3E%3Cuse x='228' y='336' xlink:href='%23p'/%3E%3Cuse x='252' y='336' xlink:href='%23p'/%3E%3Cuse x='300' y='336' xlink:href='%23p'/%3E%3Cuse x='312' y='336' xlink:href='%23p'/%3E%3Cuse x='360' y='336' xlink:href='%23p'/%3E%3Cuse x='24' y='348' xlink:href='%23p'/%3E%3Cuse x='96' y='348' xlink:href='%23p'/%3E%3Cuse x='132' y='348' xlink:href='%23p'/%3E%3Cuse x='156' y='348' xlink:href='%23p'/%3E%3Cuse x='180' y='348' xlink:href='%23p'/%3E%3Cuse x='216' y='348' xlink:href='%23p'/%3E%3Cuse x='228' y='348' xlink:href='%23p'/%3E%3Cuse x='240' y='348' xlink:href='%23p'/%3E%3Cuse x='252' y='348' xlink:href='%23p'/%3E%3Cuse x='288' y='348' xlink:href='%23p'/%3E%3Cuse x='300' y='348' xlink:href='%23p'/%3E%3Cuse x='348' y='348' xlink:href='%23p'/%3E%3Cuse x='24' y='360' xlink:href='%23p'/%3E%3Cuse x='36' y='360' xlink:href='%23p'/%3E%3Cuse x='48' y='360' xlink:href='%23p'/%3E%3Cuse x='60' y='360' xlink:href='%23p'/%3E%3Cuse x='72' y='360' xlink:href='%23p'/%3E%3Cuse x='84' y='360' xlink:href='%23p'/%3E%3Cuse x='96' y='360' xlink:href='%23p'/%3E%3Cuse x='132' y='360' xlink:href='%23p'/%3E%3Cuse x='156' y='360' xlink:href='%23p'/%3E%3Cuse x='168' y='360' xlink:href='%23p'/%3E%3Cuse x='180' y='360' xlink:href='%23p'/%3E%3Cuse x='192' y='360' xlink:href='%23p'/%3E%3Cuse x='204' y='360' xlink:href='%23p'/%3E%3Cuse x='240' y='360' xlink:href='%23p'/%3E%3Cuse x='252' y='360' xlink:href='%23p'/%3E%3Cuse x='312' y='360' xlink:href='%23p'/%3E%3Cuse x='348' y='360' xlink:href='%23p'/%3E%3Cuse x='360' y='360' xlink:href='%23p'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    right: 0px;
    top: -135px;
    z-index: 99;
    width: 130px;
    height: 130px;
    border: 5px solid #222;
    border-radius: 4px;
    transform-origin: bottom right;
    transform: scale(0);
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.weixin:hover::after {
    transform: scale(1);
    opacity: 1;
}

.post-copyright {
    background-color: var(--light-header);
    padding: 8px 0 8px 15px;
    list-style: none;
    border-radius: 4px;
    border-left: 0.25em solid #dfe2e5;
    position: relative;
    overflow: hidden;
}

.post-copyright p {
    font-size: 0.8125rem;
    word-break: break-all;
    line-height: 1rem;
}

.post-copyright a {
    text-decoration: none;
}

.post-copyright a:hover {
    text-decoration: underline;
}

.post-copyright p span {
    vertical-align: middle;
}

.icon-copyrights {
    right: 60px;
    top: 40px;
    position: absolute;
    opacity: 0.1;
    transform: scale(11.5);
}

#all-tags {
    word-break: break-all;
    margin-top: 2rem;
}

#all-tags a {
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 1rem;
}

@media (max-width: 683px) {
    #all-tags a {
        font-size: 0.95rem;
        margin-right: 0.5rem;
    }
}

.post-content {
    font-weight: 500;
    margin-top: 0px;
    word-break: break-all;
    min-height: 70px;
}

.post-content h3 {
    position: relative;
    left: 2em;
    letter-spacing: 2px;
}

.post-content h3:before {
    content: "##";
    color: #27ae60;
    position: absolute;
    left: -2em;
}

.post-content blockquote {
    text-indent: 0;
}

.post-content .iframe {
    position: relative;
    padding-top: 56.25%;
    margin-bottom: 20px;
}

.post-content iframe,
.post-content video,
.post-content .video-wrapper>iframe,
.post-content .video-wrapper>video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 0;
}

.post-content .video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.hdots i {
    text-indent: 0 !important;
}

.post-index {
    text-indent: 2em;
}

.post-index svg {
    display: inline;
}

.post-index pre {
    text-indent: 0;
}

.privacy-policy,
.page-copyright {
    text-indent: 2em;
}

.privacy-policy h2,
.page-copyright h2,
.privacy-policy li,
.page-copyright li {
    text-indent: 0;
}

.post-cover {
    border-radius: 8px;
    margin: 40px -50px;
    width: 860px;
    max-width: 860px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
}

@media (max-width: 899px) {
    .post-cover {
        margin: 20px 0;
        width: 100%;
    }
}

.post--regulation h1,
.post--regulation h2 {
    justify-content: center;
}

.post--regulation h2 {
    margin-bottom: 10px;
}

.post--regulation h2+h2 {
    margin-top: -10px;
    margin-bottom: 20px;
}

.pagination {
    margin-top: 50px;
}

.pagination__title,
.footer__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 60px 0;
}

.footer__title {
    margin: 0 !important;
}

.pagination__title-h,
.footer__title-h {
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
    background: var(--light-background);
    color: var(--light-color-secondary);
    font-size: 0.8rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    z-index: 1;
}

.footer__title-h i {
    margin: 0.5em 0.25em !important;
    color: #222;
    font-size: 2em;
}

.pagination__title hr,
.footer__title hr {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 30px;
    z-index: 0;
}

.pagination__title hr {
    margin-top: 18px !important;
}

.pagination__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__buttons a {
    text-decoration: none;
    font-weight: 500;
}

.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--light-background-secondary);
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    max-width: 40%;
    padding: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.button+.button {
    margin-left: 10px;
}

.button a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
}

.button__text,
.button a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button.next .button__icon,
.button.previous .button__icon {
    margin: 0 8px;
}

.button.next .button__icon i,
.button.previous .button__icon i {
    font-size: 1em !important;
}

.footer {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
        Arial, "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei",
        "Microsoft Yahei", "Segoe UI", sans-serif, serif;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 30px 0 0;
    flex-grow: 0;
    color: #222;
    width: 100%;
    max-width: 800px;
    text-align: center;
    text-transform: unset;
}

.footer .words {
    font-size: 1em !important;
}

.footer .attr_source {
    background: var(--light-background-secondary);
    color: #555;
    border: 1px solid var(--light-border-color);
    text-transform: uppercase;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
    font-size: 0.875em;
}

/*
.footer .copyright:first-of-type {
    border-top: 1px solid var(--light-border-color);
    padding-top: 20px;
}
*/

.footer__inner {
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
}

@media (max-width: 899px) {
    .footer__inner {
        flex-direction: column;
    }
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    color: #409eff;
}

.footer .copyright--user {
    margin: auto;
    text-align: center;
}

.footer .copyright {
    padding: 20px 0 40px;
}

.footer .words> :first-child:not(:only-child) {
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
}

.footer .words> :last-child::before {
    content: "，";
}

@media (max-width: 899px) {
    .footer .copyright {
        flex-direction: column;
    }

    .footer .copyright div {
        margin: 5px 0;
    }

    .footer .words> :last-child {
        display: block !important;
    }

    .footer .words> :last-child::before {
        content: none;
    }
}

.back-to-top {
    background: var(--light-color);
    border-radius: 50%;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 40px;
    opacity: 1;
    outline: 0;
    position: fixed;
    right: 20px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    transition: bottom 0.2s, opacity 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    z-index: 50000001;
}

.back-to-top svg {
    display: inline-block;
    fill: var(--light-background-secondary);
    vertical-align: middle !important;
}

.dark .back-to-top svg {
    fill: var(--dark-background-secondary);
}

.noticeable-trigger-view {
    top: -9px !important;
}

.terms {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
}

.terms__list {
    padding: 0 0 0 20px;
    margin: 0;
}

.terms__list a {
    text-decoration: none;
}

.terms__term {
    margin-bottom: 15px;
}

.terms__term-count {
    background: var(--light-background-secondary);
    font-size: 12px;
    margin-left: 5px;
    padding: 2px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.archive {
    width: 100%;
    max-width: 800px;
    text-align: left;
    padding: 20px;
    margin: 0 auto;
}

.archive__group-month {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
}

.archive__group-month h3 {
    margin: 2rem 2rem 0 0;
}

@media (max-width: 683px) {
    .archive__group-month {
        flex-direction: column;
    }
}

.archive__group-month:not(:last-of-type) {
    width: 100%;
    border-bottom: 1px solid var(--light-border-color);
}

.archive__group-year {
    margin-top: 40px;
}

@media (max-width: 683px) {
    .archive__group-year {
        margin-top: 20px;
    }
}

.archive__group-year:not(:last-of-type) {
    border-bottom: 1px solid var(--light-border-color);
}

.archive__group-year-header {
    margin: 10px 0;
}

.archive__group-month-header {
    margin: 25px 0;
    width: 200px;
    opacity: 0.5;
}

.archive__group-posts {
    width: 100%;
}

.archive .post {
    padding: 0;
    margin: 0;
}

.archive__post {
    flex-grow: 1;
    padding: 1.85rem 0 20px 0;
}

.archive__post:not(:last-of-type) {
    border-bottom: 1px solid var(--light-border-color);
}

.archive__post-title {
    margin: 0 0 15px;
    overflow: hidden;
}

.archive__post-title a {
    color: var(--light-color);
    display: block;
    text-decoration: none;
}

.archive__post-title a span.post-date {
    font-size: 15px;
    float: right;
    opacity: 0.8;
}

@media (max-width: 683px) {
    .archive__group-month-header {
        margin: 10px 0 0;
    }

    .archive__post {
        width: 100%;
    }
}

photos:after {
    content: ".";
    display: block;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

photos {
    display: block;
    width: 100%;
    margin: 0 auto;
}

photos .photo:nth-of-type(3n) {
    margin-right: 0px;
}

photos .photo:last-child {
    margin-right: 0px;
}

@media screen and (max-width: 860px) {
    photos .photo {
        width: 180px;
        margin-right: 4px;
        margin-bottom: 4px;
        float: left;
    }
}

@media screen and (min-width: 860px) {
    photos .photo {
        width: 245px;
        margin-right: 8px;
        margin-bottom: 8px;
        float: left;
    }
}

.page-photos figure {
    width: 80%;
    margin: 0 auto 3rem;
}

.page-photos figure img {
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

@media screen and (max-width: 860px) {
    .page-photos figure {
        width: 100%;
        margin: 0 auto 2rem;
    }

    .page-photos figure img {
        border-radius: 0px;
    }
}

/* post-preview --------*/
.post-preview {
    max-width: 680px;
    height: 210px;
    margin: 1em auto;
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.25);
}

.post-preview--meta {
    width: 75%;
    padding: 25px;
    overflow: hidden;
}

.post-preview--middle {
    line-height: 28px;
}

.post-preview--title {
    font-size: 18px;
    margin: 0 !important;
}

.post-preview--title a {
    text-decoration: none;
}

.post-preview--date {
    font-size: 14px;
    color: #999;
}

.post-preview--excerpt {
    font-size: 14px;
    line-height: 1.825;
}

.post-preview--excerpt p {
    margin-bottom: 0;
}

.post-preview--image {
    height: auto;
    width: 25%;
    float: right;
    border-top-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

@media (max-width: 550px) {
    .post-preview {
        width: 95%;
        height: 120px;
    }

    .post-preview--meta {
        padding: 15px;
    }

    .post-preview--image {
        height: 120px !important;
    }

    .post-preview--excerpt {
        display: none;
    }

    .post-preview--middle {
        line-height: 19px;
    }
}

/* breadcrumb */
.breadcrumb {
    background: var(--light-header);
    padding: 8px 15px;
    margin-bottom: 40px;
    list-style: none;
    margin-left: 0px;
    border-radius: 4px;
}

.breadcrumb>li {
    display: inline-block;
    opacity: 0.7;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}

.breadcrumb li a {
    text-decoration: none;
}

/* searchBoxInput */
.menu .search-box-icon {
    margin-top: 11px;
}

.searchPage {
    min-height: 300px;
    margin-top: 10px !important;
}

.search-box {
    position: relative;
    margin-bottom: 20px;
}

#searchBoxInput {
    padding: 0.5rem 2rem 0.5rem 1rem;
    width: 16rem;
    background: #eaeaea;
    border-radius: 1rem;
    outline: 0;
    font-size: 1rem;
    color: inherit;
    border: 0px;
    box-sizing: border-box;
}

#searchBoxButton {
    display: inline;
    background: none;
    margin: 0rem;
    border: 0 none;
    border-radius: 0;
    padding: 0.4rem 0.6rem 0.4rem;
}

.search-box-icon {
    color: inherit;
    fill: currentColor;
    width: 1.1rem;
    height: 1.1rem;
}

#searchBoxButton svg {
    transform: scale(1.5);
}

.archive-item {
    padding: 10px 15px;
    font-size: 14px;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.archive-item img {
    border-radius: 8px;
    margin: 4px 12px 0 0;
    float: left;
    width: 48px;
    height: 48px;
}

.archive-item a {
    line-height: 28px;
}

.archive-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.archive-item-meta {
    font-size: 13px;
    font-weight: 200;
    display: block;
    word-break: break-all;
}

.links {
    max-width: 800px;
    display: grid;
    display: -ms-grid;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-columns: 33% 33% 33%;
    grid-template-rows: auto;
    -ms-grid-row: auto;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: start;
    align-items: center;
}

.links-item {
    width: 100%;
    margin: 1em 0;
}

.links-item a {
    text-decoration: none;
}

@media only screen and (max-width: 683px) {
    .links-item {
        width: 49%;
        margin: auto;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }
}

.links-item .link__des {
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

/* tocify */
.tocify {
    width: 20%;
    max-height: 90%;
    overflow: auto;
    position: absolute;
    right: 2%;
    border-radius: 6px;
}

.tocify ul,
.tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 30px;
}

.tocify li a {
    display: inline-block;
    text-indent: 10px;
    font-size: 14px;
    text-decoration: none;
}

.tocify ul ul li a:before {
    content: "- ";
}

@media only screen and (max-width: 683px) {
    .tocify {
        display: none;
    }
}

/* provicy table */
.ptable {
    width: 95%;
    margin: 20px auto;
}

.pth {
    width: 100px;
}

.talks__avatar {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    margin: 10px 10px 0 0;
}

.talks__avatar img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.talks__content {
    flex-grow: 1;
}

.talks__text {
    position: relative;
    background: #eaeaea;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 1em;
}

.timeline:hover .talks__text {
    background: #eeeef1;
}

.talks__text p {
    margin: 0;
    padding: 0;
}

.talks__text p:last-child {
    margin-bottom: 0;
}

.talks__text i {
    margin: 0 0.25em;
}

.talks__text:before {
    content: "";
    position: absolute;
    top: 23px;
    left: -7px;
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    border-radius: 3px;
    background: #eaeaea;
    z-index: -1;
}

.timeline:hover .talks__text:before {
    background: #eeeef1 !important;
    z-index: -1;
}

.talks__meta {
    margin: 0;
}

.talks__meta small {
    font-size: 0.8em;
    font-weight: 500;
    color: #8186a2;
}

.talks__userinfo {
    display: flex;
    font-weight: 700;
    align-items: center;
}

.talks__verify {
    margin-left: 2px;
    max-width: 20px;
    max-height: 20px;
    color: #1d9bf0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: text-bottom;
    position: relative;
    height: 1.25em;
    fill: currentcolor;
    display: inline-block;
    flex-shrink: 1;
    margin-left: 4px;
}

.talks__id {
    font-size: 0.875em;
    overflow-wrap: break-word;
    min-width: 0px;
    box-sizing: border-box;
    color: #536471;
    display: inline;
    white-space: pre-wrap;
    word-wrap: break-word;
    flex-shrink: 1;
    font-weight: 400;
    margin-left: 4px;
}

.timeline img {
    display: block;
    max-height: 300px;
    margin: 10px 0;
    border-radius: 16px;
    border: 1px solid #cfd9de;
}

body.dark {
    background-color: var(--dark-background);
    color: var(--dark-color);
}

.dark .button,
.dark a.button,
.dark button {
    background: var(--dark-background-secondary);
    color: inherit;
}

.dark .button.outline,
.dark a.button.outline,
.dark button.outline {
    border-color: var(--dark-background-secondary);
    color: inherit;
}

.dark header {
    background: var(--dark-header);
}

.dark .menu__sub-inner-more {
    background: var(--dark-background-secondary);
}

.dark .menu__inner .menu__sub-inner-more li:hover {
    background: rgba(0, 0, 0, 0.15);
}

.dark img {
    filter: brightness(0.8) contrast(1.2);
}

.dark blockquote {
    border-left: 0.25em solid var(--dark-border-color);
}

.dark th {
    background: var(--dark-background-secondary);
}

.dark hr {
    background: var(--dark-border-color);
}

.dark .index-talk {
    background-color: var(--dark-header);
}

.dark .index-talk button {
    color: var(--dark-color);
    border: var(--dark-border-color);
}

.dark .post:not(:last-of-type) {
    border-color: var(--dark-border-color);
}

.dark .post-copyright {
    background-color: var(--dark-header);
    border-left: 0.25em solid var(--dark-border-color);
}

.dark .post-content h3:before {
    color: #54a3ff;
}

.dark .archive__post-title a {
    color: var(--dark-color);
}

.dark .post-meta-date,
.dark .post-read-time,
.dark .post-meta-view,
.dark .post-meta-md,
.dark .post-meta-categories,
.dark .post-meta-word {
    color: rgba(255, 255, 255, 0.55);
}

.dark a.read-more {
    background: 0 0 !important;
}

.dark .pagination__title-h,
.dark .footer__title-h {
    background: var(--dark-background);
    color: var(--dark-color-secondary);
}

.dark .button {
    background: var(--dark-background-secondary);
}

.dark .footer .attr_source {
    background: var(--dark-header);
    color: var(--dark-color);
    border: 1px solid var(--dark-border-color);
}

.dark .footer {
    color: var(--dark-color-secondary);
}

.dark .back-to-top {
    background: var(--dark-color);
    color: #222;
}

.dark .terms__term-count {
    background: var(--dark-background-secondary);
}

.dark .archive__group-month:not(:last-of-type) {
    border-color: var(--dark-border-color);
}

.dark .archive__group-year:not(:last-of-type) {
    border-color: var(--dark-border-color);
}

.dark .archive__post:not(:last-of-type) {
    border-color: var(--dark-border-color);
}

.dark .post-preview {
    background: #3b3d42;
}

.dark .breadcrumb {
    background: var(--dark-header);
}

.dark .lightDarkModes:hover {
    color: #fff;
}

.dark .lightDarkOptions {
    background-color: var(--dark-header);
    border-color: var(--dark-header);
    border: thin solid var(--dark-header);
}

.dark .lightDarkOption:hover {
    background-color: var(--dark-color);
    color: var(--dark-background);
}

.talks__date a {
    text-decoration: none;
}
