{{ $disableImageOptimization := .Site.Params.disableImageOptimization | default false }}
<article class="max-w-full prose dark:prose-invert">
    <div class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>
        <div class="mx-auto max-w-7xl p-0">
            <div class="relative sm:overflow-hidden">
                <div class="fixed inset-x-0 top-0" style="z-index:-10">
                    {{ $homepageImage := "" }}
                    {{ with .Site.Params.defaultBackgroundImage }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ with .Site.Params.homepage.homepageImage }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $homepageImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $homepageImage = resources.Get . }}
                        {{ end }}
                    {{ end }}
                    {{ if $homepageImage }}
                    <img class="w-full h-[1000px] object-cover m-0 nozoom" src="{{ $homepageImage.RelPermalink }}" role="presentation">
                    <div
                        class="absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-transparent mix-blend-normal">
                    </div>
                    <div
                        class="opacity-60 absolute inset-0 h-[1000px] bg-gradient-to-t from-neutral dark:from-neutral-800 to-neutral-100 dark:to-neutral-800 mix-blend-normal">
                    </div>
                    {{ end }}
                </div>
                <div class="relative px-1 py-1 flex flex-col items-center justify-center text-center">
                    {{ with .Site.Author.image }}
                        {{ $authorImage := "" }}
                        {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
                            {{ $authorImage = resources.GetRemote . }}
                        {{ else }}
                            {{ $authorImage = resources.Get . }}
                        {{ end }}
                        {{ if $authorImage }}
                            {{ if not $disableImageOptimization }}
                                {{ $authorImage = $authorImage.Fill "288x288" }}
                            {{ end }}
                            <img class="mb-2 rounded-full h-36 w-36 nozoom" width="144" height="144"
                                alt="{{ $.Site.Author.name | default " Author" }}" src="{{ $authorImage.RelPermalink }}" />
                        {{ end }}
                    {{ end }}
                    <h1 class="mb-2 text-4xl font-extrabold text-neutral-800 dark:text-neutral-200">
                        {{ .Site.Author.name | default .Site.Title }}
                    </h1>
                    {{/*  {{ with .Site.Author.headline }}  */}}
                    <h2 class="mt-0 mb-0 text-xl text-neutral-800 dark:text-neutral-300">
                        {{/*  {{ . | markdownify | emojify }}  */}}
                        <div id="poem_sentence" class="min-h-7">{{ partial "icon.html" "loading" }}</div>
                    </h2>
                    {{/*  {{ end }}  */}}
                    <div class="mt-3 mb-10 text-2xl">
                        {{ with .Site.Author.links }}
                        <div class="flex flex-wrap">
                            {{ range $links := . }}
                            {{ range $name, $url := $links }}
                            <a class="px-1 hover:text-primary-400 text-primary-800 dark:text-primary-200" href="{{ $url }}" target="_blank"
                                aria-label="{{ $name | title }}" rel="me noopener noreferrer">{{ partial
                                "icon.html" $name }}</a>
                            {{ end }}
                            {{ end }}
                        </div>
                        {{ end }}
                    </div>

                    <!-- 家里受灾，待完善 -->
                    <div class="flex flex-col items-center justify-start">

                        <div class="w-full flex items-center justify-between text-xs month span:nth-child(n+2)">
                            <span>&nbsp;</span>
                        </div>

                        <div class="flex flex-row items-center justify-between">
                            <div class="flex flex-col items-end justify-between text-xs leading-[11px] mr-1 mb-[1px] text-right">
                                <span>Mon</span>
                                <span>&nbsp;</span>
                                <span>Wed</span>
                                <span>&nbsp;</span>
                                <span>Fri</span>
                                <span>&nbsp;</span>
                                <span>Sun</span>
                            </div>

                            <contributions-calendar id="calendar"></contributions-calendar>

                        </div>
                    </div>

                    <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>

                </div>
            </div>
        </div>
    </div>
</article>
<section>
    {{ $recentArticles := 5 }}
    {{ $showMoreLinkDest := "/posts" }}
    {{ if .Site.Params.homepage.showRecent | default false }}
    {{ if index .Site.Params.homepage "showRecentItems" }}
    {{ $recentArticles = .Site.Params.homepage.showRecentItems }}
    {{ end }}
    <h2 class="mt-8 text-2xl font-extrabold mb-10">{{ i18n "shortcode.recent_articles" | emojify }}</h2>

    {{ if and .Site.Params.homepage.cardView (not .Site.Params.homepage.cardViewScreenWidth) | default false }}
    {{ partial "recent-articles/cardview.html" . }}
    {{ else if and .Site.Params.homepage.cardView .Site.Params.homepage.cardViewScreenWidth | default false }}
    {{ partial "recent-articles/cardview-fullwidth.html" . }}
    {{ else }}
    {{ partial "recent-articles/list.html" . }}
    {{ end }}

    {{ if .Site.Params.homepage.showMoreLink | default false }}
    {{ if index .Site.Params.homepage "showRecentItems" }}
    {{ $showMoreLinkDest = .Site.Params.homepage.showMoreLinkDest }}
    {{ end }}
    <div class="mt-10 flex justify-center">
    <a href="{{ $showMoreLinkDest }}">
        <button
        class="bg-transparent hover:text-primary-500 prose dark:prose-invert font-semibold hover:text-white py-2 px-4 border border-primary-500 hover:border-transparent rounded">
        {{ i18n "recent.show_more" | markdownify | emojify }}
        </button>
    </a>
    </div>
    {{ end }}
    {{ end }}
</section>
{{ if .Site.Params.homepage.layoutBackgroundBlur | default false }}
<div id="background-blur" class="fixed opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl"></div>

<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<script type="text/javascript">
    jinrishici.load(function(result) {
        var sentence = document.querySelector("#poem_sentence")
        sentence.innerHTML = result.data.content
    });
</script>

{{ $heatmapJS := resources.Get "js/contributions-calendar.js" | minify | fingerprint "sha256" }}
<script defer type="text/javascript" src="{{ $heatmapJS.RelPermalink }}" integrity="{{ $heatmapJS.Data.Integrity }}"></script>

<script>
    var data = "";
    var dataMap = new Map();
    {{ range ((where .Site.RegularPages "Type" "blog")) }}
        var key = {{ .Date.Format "2006-01-02T15:04:05.000Z" }};
        var value = dataMap.get(key);
        var link = {{ .RelPermalink}};
        var title = {{ .Title }};

        // 处理同一天有多篇博客的情况
        if (value == null) {
            dataMap.set(key, [{ date: key, title: title }]);
        } else {
            value.push({ date: key, title: title });
            dataMap.set(key, value);
        }
    {{- end -}}

    var data = Array.from(dataMap.values()).flat();
    // console.log(data);
    document.addEventListener("contributions-calendar-day-selected", day_selected_listener);
    function day_selected_listener(event) {
        // console.log('contributions-calendar-day-selected event for calendar #' + event.target.id);

        const date_contributions = event.detail;

        var date = new Date(parseInt(date_contributions.date))
        const contributions = date_contributions.contributions;

        const statement = `${contributions} contribution(s) on ${date}`;
        console.log(statement);
    }

    document.addEventListener("contributions-calendar-ready", contributions_calendar_ready);
    function contributions_calendar_ready(event) {
        // console.log('contributions-calendar-ready event for calendar #' + event.target.id);

        // contribution calendar instance passed as an event detail once DOM is ready
        const contributions_calendar = event.detail;


        function getNextMonday(date) {
            let dayOfWeek = date.getDay(); // 获取指定日期是星期几
            let daysToNextMonday = (8 - dayOfWeek) % 7; // 计算距离下一个星期一的天数

            let nextMonday = new Date(date);
            nextMonday.setDate(date.getDate() + daysToNextMonday); // 设置为指定日期的下一个星期一

            return nextMonday;
        }

        let currentDate = new Date();
        currentDate.setFullYear(currentDate.getFullYear() - 1);

        let startDate;

        let monthDiv = document.querySelector('.month');
        let monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

        for (let i = 1; i < 13; i++) {
        let monthSpan = document.createElement('span');
            monthSpan.textContent = monthNames[(currentDate.getMonth() + i) % 12];
            monthDiv.appendChild(monthSpan);
        }

        let numberOfWeeks;

        let monthToHide = document.querySelectorAll('.month span:nth-child(n+2)');

        if (window.innerWidth <= 375) {
            // < iPhone SE
            numberOfWeeks = 21;

            for (let i = 1; i < 8; i++) {
                monthToHide[i].classList.add('hidden');
            }

            let currentDate = new Date();
            currentDate.setDate(currentDate.getDate() - (20 * 7)); // 计算 20 周之前的日期
            startDate = getNextMonday(currentDate).toISOString();

        } else if (window.innerWidth < 768) {
            numberOfWeeks = 25;

            for (let i = 1; i < 7; i++) {
                monthToHide[i].classList.add('hidden');
            }

            let currentDate = new Date();
            currentDate.setDate(currentDate.getDate() - (24 * 7)); // 计算 24 周之前的日期
            startDate = getNextMonday(currentDate).toISOString();

        } else {
            numberOfWeeks = 53;
            startDate = getNextMonday(currentDate).toISOString();
        }

        contributions_calendar.init(data, startDate, numberOfWeeks);

    }

</script>

<script>
    window.addEventListener('scroll', function (e) {
        var scroll = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
        var background_blur = document.getElementById('background-blur');
        background_blur.style.opacity = (scroll / 300)
    });
</script>
{{ end }}
