{{- $title := "" -}}
{{- $link := ""  -}}
{{- $domain := ""  -}}
{{- $avatar := "" -}}
{{- $bio := "" -}}
{{- if .IsNamedParams -}}
    {{- $avatar = .Get "avatar" -}}
    {{- $link = .Get "url" -}}
    {{- $domain = .Get "domain" -}}
    {{- $title = .Get "name" | safeHTML -}}
    {{- $bio = .Get "bio" -}}
{{- else -}}
    {{- $title = .Get 0 -}}
    {{- $link = .Get 1 -}}
    {{- $domain = .Get "domain" -}}
    {{- $avatar = .Get 2 -}}
    {{- $bio = .Get 3 -}}
{{- end -}}
<a target="_blank" href="/go/?target={{- $link | base64Encode -}}" title="{{- $title -}}" class="friend-link" rel="noopener noreferrer">
    <div class="friend-link-div">
        <div class="friend-link-avatar">
            <!-- 修改了 image 渲染的方法，不使用灯箱 -->
            <!-- {{- dict "Src" $avatar | partial "plugin/image.html" -}} -->
            <img class="lazy" loading="lazy" src="{{- $avatar -}}" alt="{{- $title -}}" onerror="this.onerror=null; this.src='/404.png';" no-view>
        </div>
        <div class="friend-link-info">
            <div class="friend-name-div">
                <!-- {{ partial "plugin/fontawesome.html" (dict "Style" "solid" "Icon" "user-circle") }} -->
                <span class="friend-favicon"><img src="https://api.eallion.com/favicon/{{- $link | base64Encode -}}" no-view></span>
                <i class="friend-name">{{- $title -}}</i>
            </div>
            <p class="friend-bio">{{- $bio -}}</p>
        </div>
        <div class="friend-screens">
            <img loading="lazy" src="https://api.eallion.com/screens/{{- strings.TrimSuffix "/" $domain -}}">
        </div>
    </div>
</a>
