{{- $options := cond .IsNamedParams (.Get "src") (.Get 0) | dict "Src" -}}
{{- $options = cond .IsNamedParams (.Get "alt") (.Get 1) | .Page.RenderString | dict "Alt" | merge $options -}}
{{- $caption := cond .IsNamedParams (.Get "caption") (.Get 2) | .Page.RenderString -}}
{{- $options = dict "Caption" $caption | merge $options -}}
{{- $champion := cond .IsNamedParams (.Get "champion") (.Get 3) -}}
{{- $date := cond .IsNamedParams (.Get "date") (.Get 4) -}}
{{- $options = dict "Champion" $champion | merge $options -}}
{{- $options = dict "Date" $date | merge $options -}}

{{- if .IsNamedParams -}}
    {{- $options = dict "Title" (.Get "title") | merge $options -}}
    {{- $options = dict "SrcSmall" (.Get "src_s") | merge $options -}}
    {{- $options = dict "SrcLarge" (.Get "src_l") | merge $options -}}
    {{- $options = dict "Height" (.Get "height") | merge $options -}}
    {{- $options = dict "Width" (.Get "width") | merge $options -}}
    {{- $options = .Get "linked" | ne false | dict "Linked" | merge $options -}}
    {{- $options = dict "Rel" (.Get "rel") | merge $options -}}
{{- else -}}
    {{- $options = cond $caption true false | dict "Linked" | merge $options -}}
{{- end -}}

{{- $options = dict "Resources" .Page.Resources | merge $options -}}

<!-- 这是根据 image 全新添加的 shortcode -->
<div class="pentas">
    <div class="screenshot">
        <img {{ with cond $.IsNamedParams ($.Get "src") "" }} src="{{ . }}"{{ end }} alt="{{ $champion}}" data-action="zoom">
    </div>
    <div class="champions">
        {{- with $champion -}}
        <span class="champAvatar">
            <img src="https://game.gtimg.cn/images/lol/act/img/champion/{{ . }}.png" alt="{{ $champion}}">
        </span>
        {{- end -}}
        {{- with $caption -}}
        <span class="caption">
            {{- . | safeHTML -}}
        </span>
        {{- end -}}
    </div>

    {{- with $date -}}
    <div class="date">
        <span>Penta On: </span>
        <span class="dateText">{{- . | safeHTML -}}</span>
    </div>
    {{- end -}}

</div>
