[mysqld]
innodb_buffer_pool_size=64M
innodb_log_buffer_size=2M
innodb_log_file_size=48M
innodb_flush_log_at_trx_commit=2
max_connections=20
table_open_cache=200
tmp_table_size=16M
max_heap_table_size=16M
performance_schema=OFF
skip_name_resolve
